[2022-07-27 11:52] kadirnar commented on #535
@fcakyon  Do you accept PR for Yolox-SAHI?

[2022-07-27 12:02] karthikloganlogan commented on #536
I cant share you the images since they are confidential. But i can share yout the annotation file.
sahi version : 0.10.1
command used : sahi coco slice --image_dir /content/solar/images/train --dataset_json_path /content/output/labels.json --slice_size 1264 --overlap_ratio 0.2 --output_dir /content/sliced_solar
/ --ignore_negative_samples True
[annotation_Folder.zip](https://github.com/obss/sahi/f

[2022-07-27 13:00] devrimcavusoglu opened #537 "Add code formatting as a script"
Code formatting need to be individually handled for black and isort, this can be combined into a single script.

[2022-07-27 13:27] devrimcavusoglu commented on #536
@karthikloganlogan I don't think this would help without images. Can you provide minimal reproducable example with some mock image and annotation file for us to replicate ?

[2022-07-28 06:57] wgq18 commented on #535
@msaqib17 Can you test model precision and speed with sahi-yolox? I am using 'python -m yolox.tools.eval -f exps/example/yolox_darknet53/yolox_voc_darknet53.py -n yolov3 -c my_weights/best_ckpt.pth -b 4 -d 0 --conf 0.001 --fp16 --fuse --tsize 640' to test yolox now. How to test sahi-yolox?

Can you provide your code or command? Thank you.

[2022-07-28 07:04] fcakyon commented on #535
Yes we are open. The class name can be `YoloxDetectionModel`.

[2022-07-28 07:10] msaqib17 commented on #535
Sorry i don't have testing code for the evaluation. But you can use the following command to get Precision and Recall. For this you have to convert your dataset to coco json format and the result should also be in coco json format.

sahi coco evaluate --dataset_json_path dataset.json --result_json_path result.json

[2022-07-28 07:47] kadirnar commented on #535
Hi @msaqib17 ,

Do you want to add the Yolox model to the SAHI library? I can help.I can do that too. What do you think?

[2022-07-28 10:27] msaqib17 commented on #535
@kadirnar Lets do it in a separate repository because my local one is quite messed up.

[2022-07-28 17:14] kadirnar commented on #535
Let's talk about this here.
https://github.com/obss/sahi/discussions/534

[2022-07-29 01:26] wgq18 commented on #535
I want to detect many pictures in a single script. But my code can only detect one picture at a time. So how to change my code?

# sahi YoloX_0.3.0 test script

import os
os.getcwd()

import torch

# import required functions, classes
from sahi.model import YoloXDetectionModel
from sahi.utils.cv import read_image
# from sahi.utils.file import download_from_url
from sahi.predict import get_predicti

[2022-07-29 04:53] kadirnar commented on #535
Hello @msaqib17 ,

You should use predict function.
Example:
[code]
but first you have to add the yolox library here.

https://github.com/obss/sahi/blob/main/sahi/auto_model.py#L6

[2022-07-30 02:08] wgq18 commented on #535
Thank you. When I use command 'sahi coco evaluate --dataset_json_path dataset.json --result_json_path result.json', I only get all classes mAP, mAP50 and mAP75 metrics. But I want to get mAP50 for my ten classes, how to get classwise mAP50 metrics?

[2022-07-30 04:57] msaqib17 commented on #535
@wgq18 lower the confidence and then try again. How much is confidence you are using for your experiment? May be your results and ground-truths are not in proper coco json format.

[2022-07-30 09:09] fcakyon commented on #535
This is the most probably reason :+1:

[2022-08-01 03:15] wyzhu234 opened #539 "coco2fiftyone has no add_coco_labels function"
Hi, there are some problems when running coco2fiftyone script, errors traced as flow:
Uncaught exception
Traceback (most recent call last):
  File "/homeDL/pytorch/sahi/led/coco2fiftyone.py", line 10, in <module>
    coco2fiftyone(
  File "/home/anaconda3/envs/sahi/lib/python3.8/site-packages/sahi/scripts/coco2fiftyone.py", line 24, in main
    from sahi.utils.fiftyone import add_coco_labels, crea

[2022-08-01 08:23] fcakyon commented on #539
@wyzhu234 what are your `sahi` and `fiftyone` versions?

[2022-08-01 08:24] fcakyon commented on #536
Closing this issue since we are not able to recreate it.

[2022-08-01 08:24] #536 closed

[2022-08-01 08:27] fcakyon commented on #539
@wyzhu234 you are most likely using an outdated version of `sahi` because there is no such function inhttps://github.com/obss/sahi/blob/23b27545f665414d938c2e199eddc6a43a53e578/sahi/utils/fiftyone.py#L67

[code]

would fix your issues.

[2022-08-01 08:36] fcakyon commented on #539
Thanks a lot for reporting this bug! You can use the fixed version with `pip install -U git+https://github.com/obss/sahi.git@fix-fo`

[2022-08-01 09:34] #539 closed

[2022-08-02 03:28] wyzhu234 commented on #539
Thank you for your timely update and help

[2022-08-02 07:38] #526 closed

[2022-08-02 07:46] fcakyon commented on #539
@wyzhu234 thanks for reporting! Fix is live on new version: https://github.com/obss/sahi/releases/tag/0.10.3

`pip install -U sahi` would be enough now.

[2022-08-03 02:19] wcw1998 opened #543 "How to plot a confusion matrix or get its data if I use sahi to help my object detector?"
I used the SAHI to inference by mmdetection(just like the notebook:inference_for_mmdetection.ipynb), and get wonderful performance, but I don't know how to plot a confusion matrix or get its data(like TP,FP,TN,FN of each calss). In mmdetection, we can use the tools/analysis_tools/confusion_matrix.py to analysis the results.pkl created by ./tools/test.py, but how canwe analyzy the inference by SAHI

[2022-08-03 02:58] #543 closed

[2022-08-04 11:23] rushbbbbb opened #545 "Use Sahi to achieve Object_Counting"

[2022-08-04 11:29] rushbbbbb commented on #545
In yolov5, I can revise detect.py to get the number of Object Detection.But in Sahi I don't konw how to do it.
Hope you can help me.
Thanks!

[2022-08-04 11:35] fcakyon commented on #545
@rushbbbbb can you be more specific? You can get total number of detections as:

[code]

[2022-08-04 11:43] rushbbbbb commented on #545
(Sorry.My poor Enlish  expressed badly)

[2022-08-05 09:53] davidblom603 opened #547 "model inheritance fails due to check_requirements"
We cannot create a class which inherits from the MmdetDetectionModel due to the `check_requirements` line.

https://github.com/obss/sahi/blob/main/sahi/model.py#L183

The class is somehow transformed to a function.

[2022-08-05 10:23] fcakyon commented on #547
@davidblom603 thanks for reporting, I will push a fix today 👍

[2022-08-05 11:06] davidblom603 commented on #547
Thank you!

[2022-08-05 13:12] devrimcavusoglu commented on #545
@rushbbbbb is your problem solved, or question answered ? If not, maybe you can use google translate or sth simply ? :slightly_smiling_face:

[2022-08-05 14:26] rushbbbbb commented on #545
Solved,thank you for your concern.

[2022-08-05 14:30] #545 closed

[2022-08-05 21:43] fcakyon commented on #547
@davidblom603 can you try ```pip install git+https:github.com/obss/sahi.git@refactor-chackreqs``` and say if it solves your issue?

[2022-08-07 13:25] kadirnar opened #550 "Error using export_coco_as_yolov5_via_yml on Windows"
Hi @fcakyon and @devrimcavusoglu ,
I want to convert coco data to yolo format.

File Path:
[code]
data.yaml/
[code]

Error Message:
[code]

[2022-08-07 14:29] fcakyon commented on #550
Hello @kadirnar, you rea using invalid slash characters. Can you please after fixing it as `"data/labels/train/terrain1.json"`?

[2022-08-07 14:30] fcakyon commented on #550
Currently, we are using that feature in Windows without any errors.

[2022-08-07 14:36] kadirnar commented on #550
Data.yaml:
[code]
Error Message:
[code]
Shouldn't it be like this for full path?
[code]

[2022-08-07 14:46] fcakyon commented on #550
This means you don't have writing permission. Try to run as admin or change folder rights.

[2022-08-07 16:36] kadirnar commented on #550
Problem is solved. Thank you.

[2022-08-07 18:31] kadirnar commented on #550
Image size after converting: 0 Bytes
Is this true ?

[code]

[2022-08-07 21:35] fcakyon commented on #550
Thanks for mentioning your fix!

[2022-08-07 21:36] fcakyon commented on #550
Yes, it is normal. SAHI creates soft links for images to save some space on disk :+1:

[2022-08-07 21:37] fcakyon commented on #550
Have you checked your annotations? Are they valid?

[2022-08-07 21:39] #547 closed

[2022-08-07 21:48] kadirnar commented on #550
File Path:
[code]
data.yaml
[code]
Train Code:
[code]
New File Path:
[code]
Images and Labels are in the same file. I don't know why it doesn't see the label file.

[2022-08-08 06:38] davidblom603 commented on #547
It works! Thank you!

[2022-08-08 15:23] #550 closed

[2022-08-09 10:02] #537 closed

[2022-08-10 09:35] ninafiona opened #552 "COCO format polygons"
The resulting segmentations from SAHI are filled polygons. As far as I know coco format segmentations are usually a list of polygon vertices. I am training using detectron, can that be an issue?

[2022-08-10 12:53] fcakyon commented on #552
What do you mean by filled polygons? You can convert COCO segmentation points into SAHI annotation object: https://github.com/obss/sahi/blob/188b279dd82f5eb2bedd5a2560f9013cd3fbb209/sahi/annotation.py#L319

or convert SAHI annotation/prediction objects into COCO segmentation points: https://github.com/obss/sahi/blob/188b279dd82f5eb2bedd5a2560f9013cd3fbb209/sahi/annotation.py#L567

SAHI mask annota

[2022-08-10 12:54] fcakyon commented on #552
@ninafiona check detectron2 demo notebook line9 an example usage: https://github.com/obss/sahi/blob/main/demo/inference_for_detectron2.ipynb

[2022-08-11 11:42] kadirnar commented on #537
Hi @devrimcavusoglu ,

Why do we do this manually?

Example:
https://github.com/gradsflow/gradsflow/blob/main/.pre-commit-config.yaml

Why don't we add the  pre-commit-config.yaml file for SAHI? @fcakyon

[2022-08-11 11:50] devrimcavusoglu commented on #537
Hi @kadirnar, the main reason is that some tools is not used for formatting and only for check (e.g. `flake8`). Since we can only perform check and not formatting on flake8, some changes may be required to be done manually.

Another reason is that, code formatting tools does not take strings / docstrings into account while formatting afaik, so those also have to be done manually. That's why we pre

[2022-08-11 11:53] fcakyon commented on #537
Also, I had a lot of issues and errors on Windows while setting up and using pre-commit :imp:  @kadirnar

[2022-08-11 12:27] kadirnar commented on #537
Thank you for the answer😇

[2022-08-16 00:48] junghyun-avikus opened #560 "how to deal with occlusion when nmm is applied"
I guess when two objects are occluded (1 small object, 1 large object), nmm will merge those to objects into one bounding box. (In case where the smaller object lies on the other larger object). Are there any ideas or potential solutions to this issue?

[2022-08-16 06:07] fcakyon commented on #560
@junghyun-avikus if the classes are same, yes this limitation applies. You can use NMS instead of NMM to handle these situations better: https://github.com/obss/sahi/blob/072ea62bc14646738ec95437e038f88690a0aa4c/sahi/predict.py#L163

[2022-08-16 06:08] #552 closed

[2022-08-16 06:31] junghyun-avikus commented on #560
Yes, but the thing is that the way I am feeding input image to a network is 3 tiled (divided into slices) images and 1 full image. In this case, NMS won't get rid of a large object that presents across the entire frame. So I was trying to come up with an idea that can solve the issue, but I could't come up with one.

BTW, slicing works really well for detecting smaller objects and in general. I ap

[2022-08-17 05:55] Akhp888 opened #561 "Sahi for deployment"
Hi ,

I am planning to use sahi for my project , so as part of my pre acquisition wanted to confirm if Sahi is deployment ready , lets say if i plan to deploy the project in kubernates or cloud  ?

Thanks

[2022-08-17 06:54] sezer-muhammed opened #562 "Is there a way to adjust model resolution for sliced prediction?"
I found from codes we can do that: yolov5inferencemodel.image_size = some_int

but is there an another way to adjust and monitor image size?

[2022-08-17 07:35] fcakyon commented on #562
Currently preferred way of setting model image size is while creating a DetectionModel instance as

[code]

or

[code]

[2022-08-17 07:37] fcakyon commented on #562
If this is not answering your question, feel free to ask follow-up questions :)

[2022-08-18 12:05] wish2023 opened #563 "Error using sliced inference on custom yolov5 model"
I’d like to perform sliced interference on a custom yolov5 model and have followed the demo notebook and just changed the `model_path`. Here’s my code:

[code]

The weights of my custom model work when I use yolov5’s `detect.py` without sliced inference

When I perform sliced inference I get the following:

`TypeError: ('model_path is not a valid yolov5 model path: ', AttributeError("Can't get att

[2022-08-18 16:18] emersondelemmus opened #564 "YOLOv7 Support"
Hello, I am trying to run slicing inference using a custom dataset trained YOLOv7. Does SAHI support YOLOv7?

Command:

`sahi predict --source C:\yolov7-master\dataset\test\images --model_path C:\yolov7-master\yolov7-main\runs\train\yolov7\weights\best.pt --model_config_path C:\yolov7-master\yolov7-main\cfg\training\yolov7.yaml --slice_height 640 --slice_width 640 --model_confidence_threshhold 0.3

[2022-08-18 21:58] fcakyon commented on #564
SAHI currently doesnt support yolov7, there is related PR, you can try that.

When you dont add ‘—model_type’ argument ‘sahi predict’ command assumes its mmdet model.

[2022-08-18 22:02] fcakyon commented on #563
Thanks for your interest!

What are your yolov5 and sahi versions?

[2022-08-18 22:04] fcakyon commented on #561
You can definitely utilize sahi functions behind your https api. What do you mean by deployment ready?

[2022-08-18 22:10] kadirnar commented on #564
Hi @emersondelemmus ,

Yolov7 + SAHI(Demo): https://github.com/obss/sahi/blob/ee1c1f3fdd037c0b018b0892836545b40c04c0ba/demo/inference_for_yolov7.ipynb

[2022-08-19 01:18] wish2023 commented on #563
I have yolov5 6.1.8 and sahi 0.10.4

[2022-08-19 06:18] fcakyon commented on #563
This is a yolov5 issue. Currently yolov5==6.1.8 do not support the 6.2 update from ultralytics.

[2022-08-19 11:33] jiangwenj02 opened #565 "slice imge has error, "Too many open files""
**Traceback**

[code]

[2022-08-19 19:01] Akhp888 opened #566 "Detectron2TestConstants missing faster_rcnn_R_50_FPN_3x.yaml config"
Hi,

I am testing sahi for detectron and my model was trained on faster_rcnn_R_50_FPN_3x.yaml from detectron zoo , now i want to infer using sahi sliced prediction but unfortunately i dont find the config available in Detectron2TestConstants module.

Thanks

[2022-08-20 06:17] fcakyon commented on #566
Thanks for your interest!

You have to provide config path from your local. Test constants are for demo and continious integration purposes only 👍

[2022-08-20 06:17] #566 closed

[2022-08-20 23:48] #564 closed

[2022-08-21 10:05] #563 closed

[2022-08-21 10:05] #561 closed

[2022-08-22 04:52] Akhp888 commented on #566
Thanks for the reply ,

I tried passing the config path to my local but I get error "config/faster_rcnn_R_50_FPN_3x.yaml not available in Model Zoo!" .
is there a wrapper for passing local path in sahi ?

[2022-08-22 04:55] Akhp888 commented on #566
Thanks for the reply ,
will test that :)

[2022-08-22 08:01] jiangwenj02 opened #567 "About the model_category_mapping"
how to use the model_category_mapping， i found the category id of output json starts from 0 while some starts from 1. Can provide a examples for how to use it?

[2022-08-22 10:20] fcakyon commented on #566
@Akhp888 check detectron2+SAHI blogpost on how to provide custom config files :)
https://medium.com/codable/perform-sliced-inference-and-detailed-error-analysis-using-detectron2-models-37063e33073f

[2022-08-23 12:49] Akhp888 commented on #566
@fcakyon Thanks ,

I want to know if there is any ground rule for setting the slice_height and slice_width based on the train time img_size ?
As i find a lot of comparably (w.r.t other classes) smaller objects dont get detected.

[2022-08-24 04:28] mm-fsai opened #568 "Extracting/accessing object embeddings"
Hello, is there a way to access the embeddings/vectors for each detection?

Regards,

[2022-08-24 04:49] ramdhan1989 opened #569 "run NMS on empty bounding box from one of ensembled models"
Hi, I tried to ensemble 5 models. if there is no bounding box detected from one of 5 models, the nms gives error as follow :
[code]
If I used wbf method, it runs succesfully. is there any solution to run nms in this situation like wbf does. please advise

thank you
regards

[2022-08-24 15:32] fcakyon commented on #568
Currently there no such feature in SAHI.

[2022-08-25 08:54] fcakyon commented on #569
Hello @ramdhan1989, can you provide a reproducible code example so that we see which functions and modules are called?

[2022-08-25 08:55] #568 closed

[2022-08-25 08:55] #562 closed

[2022-08-27 14:27] MyraBaba opened #570 "docker image"
Hi,

do you have docker image for easy test and fast cold start ?

[2022-08-27 15:12] MyraBaba opened #571 "video export corruption"
Hi,

I tested a video with :

and has warning:

08/27/2022 18:04:47 - WARNING - sahi.slicing -   Starting from version `0.10.2`, `auto_slice_resolution=True` is introduced as the default behavior for determining slice height and width automatically calculated by the image properties (resolution, aspect ratio and orientation).
Starting from version `0.10.2`, `auto_slice_resolution=True` is introduc

[2022-08-27 17:22] fcakyon commented on #571
Can you please provide the video file, model type, model file and config file so that we can debug the issue?

[2022-08-27 17:57] MyraBaba commented on #571
cant share publicly due to GDPR

[2022-08-27 18:00] fcakyon commented on #571
It is most probably a hevc codec/opencv/ffmpeg related issue rather than SAHI. Check respective repos for a solution.

[2022-08-27 18:33] MyraBaba commented on #571
this one working without problem and output video is ok.

https://github.com/WongKinYiu/yolov7

yor video writer could be use theirs

[2022-08-27 18:36] fcakyon commented on #571
What is your file format/extension? What is the video FPS? Can you share these?

[2022-08-27 18:38] fcakyon commented on #571
[Our video writer](https://github.com/obss/sahi/blob/072ea62bc14646738ec95437e038f88690a0aa4c/sahi/utils/cv.py#L307) and [yolov7 video writer](https://github.com/WongKinYiu/yolov7/blob/44d8ab41780e24eba563b6794371f29db0902271/detect.py#L155) works exactly same.

[2022-08-29 14:47] ninafiona opened #572 "Sahi segmentation to coco format: are all polygons taken into account?"
I have a question regarding the conversion from sahi boolean mask to coco segmentation.
In the function `to_coco_segmentation` (in sahi/utils/cv.py) polygons are found using opencv and then the first or second contour is selected. Why are not all found polygon contours taken into account?
[code]

[Link to line in code](https://github.com/obss/sahi/blob/main/sahi/utils/cv.py#:~:text=polygons%20%3D%

[2022-08-29 14:57] #572 closed

[2022-08-29 14:59] ninafiona commented on #572
It seems findContours returns `contours, hierarchy` so in that case the contours are selected and maybe in an older version if three values are returned the second one are the polygons.

[2022-08-29 15:14] claudio9russo7 opened #573 "How can i disable the auto_slice_resolution"
Hi, during the preparation of a dataset I encountered a problem. I use sahi + yolov5. I sliced the images for the training of the models but just give me an error about some images truncated. As I have used sahi in the past and had no problems I have used an older version where auto_slice_resolution is not present. With the same dataset, but processed with an older version of sahi (0.9.2) I manage

[2022-08-29 19:49] fcakyon commented on #573
Hello @claudio9russo7, `auto_slice_resolution` doesn not affect `coco slice` command.

Can you please write down the function or script you use?

Can you also paste here the full error traceback?

[2022-08-29 19:58] claudio9russo7 commented on #573
Sure:
`cd /content/drive/MyDrive
coco_dict, coco_path = slice_coco(
    coco_annotation_file_path="/content/drive/MyDrive/ColabNotebooks/WeedNew/val17.json",
    image_dir="/content/drive/MyDrive/ColabNotebooks/WeedNew/Val_images",
    output_coco_annotation_file_name="sliced_val",
    output_dir="/content/drive/MyDrive/ColabNotebooks/Weed/val",
    slice_height=640,
    slice_width=640,
    overl

[2022-08-29 20:06] fcakyon commented on #573
Thanks!

When do you get the error? When running `slice_coco` function?

Can you also post the full error traceback?

[2022-08-29 20:10] claudio9russo7 commented on #573
no this part works perfectly, but when I go to train the network with the first dataset I had that error, sliced with the old version I had no errors and the training was successful.
Error with the latest version
About the error traceback i need to re-slicing because just deleted everything as i managed to fix with older version.

[2022-08-29 20:21] fcakyon commented on #573
Which SAHI version are you trying currently? if `sahi==0.9.4` fails, you can try with `sahi==0.9.3`.

If `sahi==0.9.3` works and `sahi==0.9.4` fails, then this PR might be the reason: https://github.com/obss/sahi/pull/445

@devrimcavusoglu do you have any idea?

[2022-08-29 20:24] #569 closed

[2022-08-29 20:26] claudio9russo7 commented on #573
I got the error with `sahi==0.10.4`
With `sahi==0.9.2` no problem

[2022-08-29 20:28] fcakyon commented on #573
If you could try with `sahi==0.9.4` it would be better. Because we already know `sahi==0.10.4` has a problem.

[2022-08-29 21:14] claudio9russo7 commented on #573
As you requested I tried with `sahi==0.9.4` and no error for now during the train (last time the error appeared at the first epoch), so maybe some images get corrupted durin upload/download i dont'know

[2022-08-29 21:21] fcakyon commented on #573
It would be great if this is only a file corruption during upload/download.

Then can you try everything again with `sahi==0.10.4` and see if the first epoch finishes without any error?

[2022-08-29 21:22] claudio9russo7 commented on #573
Yep, no problem but i will try tomorrow.

[2022-08-29 21:24] fcakyon commented on #565
@jiangwenj02 sorry for the late reply.

Can you give detail on which functions or cli command you have used to get this error?

[2022-08-29 22:07] fcakyon commented on #560
@junghyun-avikus how about using NMS with IOS match metric: https://github.com/obss/sahi/blob/main/sahi/predict.py#L132

[2022-08-29 22:21] fcakyon commented on #570
Hello @MyraBaba we currently don't have a ready dockerfile but it is easy to create one. Feel free to open a PR and we will accept it.

You can create a docker file that starts from a `11.3.0-cudnn8-runtime-ubuntu20.04` base image and add these extra installations:

- Install `sahi` using pip:

[code]

- Install your desired version of pytorch and torchvision:

[code]

- Install your desired detec

[2022-08-29 23:42] fcakyon commented on #567
You use category_mapping when you want to assign category names to category ids.

Assume your model predicts output category ids 0, 1, 2. Assume these category ids correspond to categories 'person', 'car', 'truck'. Then you set `category_mapping={'0': 'person', '1': 'car', '2': 'truck'}`.

Is it clear for you or do you still have questions?

[2022-08-30 00:17] ramdhan1989 commented on #569
Dear team,
I apologize, my previous question seems not related with this repo. I changed my question if that would be ok.

thanks

[2022-08-30 02:53] jiangwenj02 commented on #567
Thank you。

[2022-08-30 02:53] #567 closed

[2022-08-30 06:28] fcakyon commented on #569
You can find TTA examples for Detectron2, MMDetection, HuggingFace and Torchvision models here: https://github.com/obss/sahi/tree/main/demo

[2022-08-30 06:52] ramdhan1989 commented on #569
I have checked the notebooks. However, I couldn't find the syntax that used to activate or deactivate TTA during inference. would you mind elaborating more about the TTA option in the code?

thanks

[2022-08-30 09:14] ramdhan1989 commented on #569
Ok noted
thanks for your information

[2022-08-30 14:48] MyraBaba commented on #571
@fcakyon  I can share video with you from email not publicly. How can I reach you

[2022-08-30 15:12] MyraBaba commented on #571
I corrected the video with ffmpeg. muxing problem. But interestingly same video has good output with yolov7..

`WARNING - sahi.slicing -   Starting from version `0.10.2`, `auto_slice_resolution=True` is introduced as the default behavior for determining slice height and width automatically calculated by the image properties (resolution, aspect ratio and orientation).
Starting from version `0.10.2`

[2022-08-30 15:15] MyraBaba commented on #571
@fcakyon  is there any convenient way to export boinding boxes with confidence number per frame as csv ? xxwh format

[2022-08-30 15:32] MyraBaba opened #578 "detect only choosen classes"
Hi,

How we can limit the --classes 1 2 3 4 9 33 like ?

Best

[2022-08-30 17:47] claudio9russo7 commented on #573
Okkei i just used `sahi==0.10.4`, run the training and no problem. So, i think was only an error during the upload on wandb of the dataset.

[2022-08-30 17:47] #573 closed

[2022-08-31 06:45] maliakbarzade76 commented on #457
hi i cant see the result. how should i see it? could you help me to write a code to see the result?

[2022-08-31 09:18] s-fx opened #579 "Image slicing creates some wrong segmentations"
Hi,
I'm working on a ML segmentation project with high resolution images. I sliced the images into small patches of 256x256 Pixels and the COCO format Json file respectively (containing bboxes and segmentations).

[code]
But when I visualize the end results (with fiftyone) some of my segmentations are now just "filled bounding boxes" and some of the segmentations are correctly sliced. Unfortunatel

[2022-09-01 06:55] junghyun-avikus commented on #560
@fcakyon Yes, but that creates another problem that objects in full frame might get removed when parts of an object in tilled frame have higher confidence score.

[2022-09-01 07:47] devrimcavusoglu commented on #570
Hi @MyraBaba, can you please provide your platform information (OS, python, sahi versions, etc.) ? and also is that possible you can create a minimal reproducible example with some small video (so that we can try to recreate the problem you encounter) ?

[2022-09-01 12:20] MyraBaba commented on #570
Ubuntu 20.04 ,  2080rtx ti , latest sahi , python3.8 will try findout.

Additionally; when its working ı noticed that sahi is very slow , but gPU is utilzed %20.. FYI

[2022-09-03 06:16] #565 closed

[2022-09-03 06:21] fcakyon commented on #579
Hello @s-fx, the shapely.geos error you posted means there are self intersections in your polygons after slicing (or before slicing). Have you visualized the polyons begore slicing operation?

[2022-09-03 06:23] fcakyon commented on #571
We currently support pickle export, add ‘—export_pickle’ argument to ‘sahi predict’ cli command.

[2022-09-03 06:26] fcakyon commented on #571
You can message me over linkedin btw: https://www.linkedin.com/in/fcakyon

[2022-09-03 06:28] fcakyon commented on #571
To make it faster, you can increate the slice sizes, increase the slice overlap ratios or decrease the model image size.

[2022-09-06 10:14] MyraBaba commented on #578
@sinanonur
Is there any change to run videos only for choosen classes not all ?

[2022-09-06 11:01] s-fx commented on #579
Yes I have visualized them before slicing, the segmentation were visualized correctly (no filled bounding boxes as segmenations), but some look like they could have intersecting polygones. So after creating patches these "wrong" segmentations come from intersecting polygones?

[2022-09-06 13:06] fcakyon commented on #578
@MyraBaba currently sahi does not support that, you can update the scripts to include that filtering. We are also open to any PR, you can open a PR including this feature 👍

[2022-09-06 13:06] #578 closed

[2022-09-06 13:06] #571 closed

[2022-09-07 07:07] Howe-Young opened #585 "What tools are used to make the video in the tutorial?"
I saw that the videos in the tutorial were very good, so I want to know what tools are used to do it?
Thanks!

[2022-09-07 08:29] snapcart-ruben opened #586 "Allow detectron model to manually setup metadata instead of setting it as `MetadataCatalog.get(cfg.DATASETS.TRAIN[0])`"
Firstly, thanks for creating this repo as I was also trying to mimic video buffer just to achieve the per slice detection of static image. It was somehow a success but speed and final accuracy isn't achieved.

As per my title, I'd like to suggest to allow manual setup of metadata to the `Detectron2DetectionModel.load_model` method. Specifically, https://github.com/obss/sahi/blob/b93132d175a729079f

[2022-09-07 09:20] fcakyon commented on #585
[OBS](https://obsproject.com/) and After Effects 👍

[2022-09-07 09:20] #585 closed

[2022-09-07 09:27] fcakyon commented on #586
@snapcart-ruben nice discussion!

Why did you close it, did you somehow solve it?

[2022-09-08 05:58] snapcart-ruben commented on #586
oh it was supposed to be moved back to **draft** but I might have pressed **close** instead.. Thank you for acknowledging! hmm, it wasn't fullproof-ed regarding the result of limiting `thing_classes` to output desired labels from model, thus it might be misleading. That is, i'm still getting unwarranted index from ignored labels (in my case, I set only 1 label but i'm getting index 13 still). from

[2022-09-13 14:14] sejr1996 commented on #564
Does anyone know how to get the mask of a model trained with yolov7? I am getting None as the value of the mask.

[2022-09-15 03:38] Kayce001 opened #587 "how to deploy with sahi"
how to deploy with sahi?

[2022-09-15 10:35] bit-scientist opened #588 "detect objects in cropped images of a bigger image"
I have some questions before I use SAHI. Could you help me understand the method in more detail?

Let's say I have an [image ](https://www.freepik.com/free-photos-vectors/cat-background) with 3840x2160 size and I cropped it into 9 regions which makes each tile image's size 1280x720. (The image below is just an example )
![image](https://user-images.githubusercontent.com/26497571/190379482-b004d291

[2022-09-15 11:17] fcakyon commented on #588
Thanks for your interest in SAHI!

You should train the model with 1280-sized slices. Then you should use slice height, width as 720, 1280 and `image_size=1280` in SAHI.

[2022-09-15 23:36] bit-scientist commented on #588
Amazing. Thank you a lot, @fcakyon

[2022-09-15 23:36] #588 closed

[2022-09-21 07:48] SleepyFanz opened #590 "the results of coco evaluate of sahi and test.py of mmdetection are different?"
mmdetection:
Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.617
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=1000 ] = 0.900
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=1000 ] = 0.733
 Average Precision  (AP) @[ IoU=0.50:0.95 | area= small | maxDets=1000 ] = 0.581
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=medium | maxDets

[2022-09-21 08:22] eVen-gits commented on #563
Hello!

First of all, I love your project. It's enabled us to work on certain problems with large images.

Are there plans to support yolov5 vesion 6.2, or is there another issue? I am getting the same error regarding incompatibility. Is there a way to resolve it, or where is the issue?

Thanks!

[2022-09-21 08:41] fcakyon commented on #563
@eVen-gits @wish2023 you can use `sahi` with yolov5 6.2 after updating your yolov5 package with `pip install yolov5==6.2.0`

[2022-09-21 08:42] fcakyon commented on #590
maxDets param is different for both eval, you should take eval at same maxDets value (500 or 1000)

[2022-09-21 20:49] fcakyon commented on #590
What do you use as the input? Do you use coco formatted results.json as input or you perform prediction with sahi?

[2022-09-22 05:29] SleepyFanz commented on #590
yes, as for sahi coco evaluate,i use results.json got by sahi coco prediction as input, on the other hand, i use test.py to get results.pkl, but they turn out to be different.

[2022-09-22 07:08] fcakyon commented on #590
That is normal as test.py and sahi predict outputs are different (bounding box integer casting, postprocessing functions and parameters etc)

Can you tell me what is your postprocessing parameters in test.py from mmdet? (iou and conf thresholds)

You should use NMS as postprocess_type in SAHI by adding `--postprocess_type NMS`.

[2022-09-22 15:54] SleepyFanz commented on #590
After setting the --model_confidence_threshold 0.01, and --postprocess_type NMS, the results,
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=1000 ] = 0.587
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=1000 ] = 0.891
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=1000 ] = 0.675
 Average Precision  (AP) @[ IoU=0.50      | area= small | maxDe

[2022-09-22 16:43] fcakyon commented on #590
There is only 0.009 AP difference in AP@50 which is more acceptable considering sahi casts prediction boxes into integers.

[2022-09-24 01:04] ramdhan1989 opened #591 "combine prediction of slices using SAHI from prediction result in txt file"
Hi,
I would like to ask if I can use SAHI to combine prediction of slices that are stored in txt file? I do detection of objects outside SAHI and return the result in the form txt file with the name of the file  for example 14_0_4_2052_4313_2564_3801 where :
14 = name of file
0=row position in original image
4=columns position in original image
2052_4313_2564_3801 = XYXY position relative in origi

[2022-09-24 09:30] fcakyon commented on #591
@ramdhan1989 thats a great usage! Unfortunately, SAHI currently cannot handle that.

SAHI automatically slices images with this function: https://github.com/obss/sahi/blob/b93132d175a729079f526452587fa7fb1df5f1c9/sahi/slicing.py#L243 and used that data during sliced prediction: https://github.com/obss/sahi/blob/b93132d175a729079f526452587fa7fb1df5f1c9/sahi/predict.py#L198

You can tweak it a bit s

[2022-09-25 14:30] aymanaboghonim opened #597 "Prediction time is increased exponentially when I predict 8 k * 8 k image"
I used similar code to this code snippet
`result = get_sliced_prediction(
    "large_image/330112-330144-224882-224914-19.jpeg",
    detection_model,
    slice_height = 512,
    slice_width = 512,
    overlap_height_ratio = 0.1,
    overlap_width_ratio = 0.1,
    postprocess_type = 'NMS'
)`
when I run prediction on the 8 k * 8 k image, it takes about 26 minutes but it takes only 2.3 minutes when I

[2022-09-25 14:43] fcakyon commented on #597
It should scale linearly, are you able to provide any sample model or image so that we can recreate the issue?

[2022-09-25 15:12] aymanaboghonim commented on #597
this is the link for 8 k * 8 k Image
https://drive.google.com/file/d/18LRjbLV3ohSKnKd15G3AqjzoyQINpidp/view?usp=sharing
and this for 4 k * 4 k ( one fourth of the large image)
https://drive.google.com/file/d/1c4oCNJ6NRihXJsN0FszxkhEnOGA2me-T/view?usp=sharing

[2022-09-25 15:13] aymanaboghonim commented on #597
I can not provide the model that we used for prediction , so you can test images using any sample model you provide in demo.

[2022-09-25 17:15] fcakyon commented on #587
Can you give more detail? What type of deployment are you interested in?

[2022-09-27 03:41] imadgohar opened #600 "issue in using SAHI with Detectron2"
@fcakyon
I Installed detectron2 on windows server and then installed sahi. After importing the detectron2 and sahi I am unable to export cfg
ModuleNotFoundError: No module named 'sahi.utils.detectron2' although everything is installed and I cam import it. what I am missing here.

I am following the tutorial on
medium https://medium.com/codable/perform-sliced-inference-and-detailed-error-analysis-u

[2022-09-27 05:57] fcakyon commented on #600
What is your sahi version?

[2022-09-27 05:59] fcakyon commented on #600
Are you sure you are running the code in the correct environment (in the environment that sahi is installed)?

[2022-09-27 07:02] fcakyon commented on #597
@aymanaboghonim what is your confidence threshold?

[2022-09-27 07:20] imadgohar commented on #600
Thanks for your response,

I just installed with this command "conda install sahi -c conda-forge". Yes I am in the same environment I can import sahi, detectron2 separately. Also I tried sahi.utils it is working but sahi.utils.detectron2 in not installed I don't know why.

[2022-09-27 07:27] fcakyon commented on #600
Can you tell us the sahi version by `conda list sahi`?

[2022-09-27 07:28] fcakyon commented on #600
Have you tried:

[code]

[2022-09-27 07:46] imadgohar commented on #600
I tried

import sahi and then
from sahi.utils.detectron2 import export_cfg_as_yaml
export_cfg_as_yaml(cfg, export_path='config.yaml')

I will try the above and will let you know

[2022-09-27 07:50] imadgohar commented on #600
Sahi version is 0.10.6

it is 0.10.6

[2022-09-27 07:57] fcakyon commented on #600
I am not having any error when running these lines:

[code]

[2022-09-27 10:41] imadgohar commented on #600
The issue solved with installing new environment and install sahi with pip instead of conda "pip install -U sahi".

import sahi.utils.detectron2 is importing now but again i am getting this error.
![a](https://user-images.githubusercontent.com/45845910/192505046-8bfe50bb-6f31-4067-a7ea-de16999fcd0a.PNG)

[2022-09-27 14:25] aymanaboghonim commented on #597
Hey, did you investigate it ?

[2022-09-27 14:55] #497 closed

[2022-09-27 15:02] fcakyon commented on #600
@kadirnar can you test it in your free time? :sweat_smile:

[2022-09-27 15:04] #587 closed

[2022-09-27 15:05] #590 closed

[2022-09-27 15:14] kadirnar commented on #600
@imadgohar
Can you tell me the steps of installing detectron?

[2022-09-27 15:41] fcakyon commented on #600
No it means we are not testing detectron2+sahi support. If you manage to install it on windows it should work fine :+1:

[2022-09-27 17:36] kadirnar commented on #600
If you create a repo on this issue, I can help. @imadgohar

[2022-09-27 18:56] noreenanwar opened #605 "Speed for this also"
Hi , thank you so much for your work. i just want to ask that did you compare the speed of your algorithm with others ?

[2022-09-28 12:40] youngjae-avikus opened #606 "Questions about postprocessing when using Yolov5"
Hello
A demo test is conducted using Yolov5, and if I use the default parameter, it is wrapped in the `Autoshape` class and is forwarded
Then basically, it looks like doing `NMM` again after the included `NMS`, is this right?
I don't think there will be a problem even if I mix the two, but is there any problem in this area?

THANK YOU

[2022-09-28 13:57] fcakyon commented on #606
@youngjae-avikus thanks for the question.

There are two use-case for SAHI:

a. don't perform sliced-inference:
  - SAHI doesn't apply postprocess, only postprocess from yolov5/mmdet/detectron2 is performed.
b. perform sliced-inference:
    1. yolov5/mmdet etc performs prediction and applies postprocess for each single slice
    2. SAHI combines slice prediction results
    3. SAHI applies postpro

[2022-09-28 14:30] #606 closed

[2022-09-28 17:25] devrimcavusoglu commented on #597
@aymanaboghonim this was not an actual test (I just called the function once), but overall it should give insight, this is from colab and with the resources you provided (4k by 4k and 8k by 8k)

![image](https://user-images.githubusercontent.com/46989091/192848266-200682c2-fa86-44b8-9a4f-f90d5b7a8b3d.png)

it's clear that the runtime is increased almost linearly. My thoughts are, have you had any

[2022-09-29 07:45] aymanaboghonim commented on #597
@devrimcavusoglu

 **No**

**Same**

Could do you mention which detection model you used??  We used Mask RCNN for instance segmentation purpose.

[2022-09-29 08:37] fcakyon commented on #597
We recently merged a PR that reduces instance segmentation model memory by %80 when pycocotools is installed. Have you updated your SAHI to latest?

[2022-09-29 09:06] devrimcavusoglu commented on #597
since the model and task is not mentioned, I tried on yolov5 & detection, so the results I provided is subject to change for segmentation.

[2022-09-29 15:32] MLDovakin opened #607 "RuntimeError: undefined value has_torch_function_variadic:"
my libs :
sahi==0.10.7
torchvision==0.13.1
torch==1.6.0+cu101
detectron2==0.6

But when I try to run AutoDetectionModel.from_pretrained with detectron2 it throws an error

[code]
Logs

[code]

[2022-09-29 16:42] aymanaboghonim commented on #597
I have not update it yet but what do you mean by reducing model memory ??

[2022-09-29 16:48] fcakyon commented on #597
Mask predictions from instance segmentation models (as mask-rcnn) take %80 less memory when pycocotools is installed in the env.

This may increase prediction speed with instance segmentation models.

[2022-09-29 16:49] fcakyon commented on #597
It should require much less ram with the latest sahi version.

[2022-09-29 18:41] aymanaboghonim commented on #597
Great! I hope this really increase the speed of prediction and decrease the required cost.

[2022-09-29 20:43] kadirnar commented on #607
Detectron is a very bad library. The reason for this error is Torch and Cuda versions. I couldn't find the correct version. You can use this code to solve the error.

[code]
![image](https://user-images.githubusercontent.com/36204372/193137036-9b187c91-e29a-4aca-b945-58161c2a07b6.png)

For Detectron Error Messages:
https://github.com/facebookresearch/detectron2/blob/main/INSTALL.md#common-installa

[2022-09-30 06:42] aymanaboghonim commented on #600
It is a detectron2 related issue and I solved it by :
1. Creating a virtual env with python 3.6 and activate it
2. Installing appropriate Torch and Cuda toolkit
3. Detectron2 dependencies like   Pycocotools and OpenCv
4. Install detectron2 and Sahi
lets try and see.

[2022-09-30 06:46] aymanaboghonim commented on #607
To avoid any mismatching between torch and cuda, you should install them from official site as pairs
https://pytorch.org/get-started/previous-versions/.
i.e: `pip install torch==1.11.0+cu113 torchvision==0.12.0+cu113 torchaudio==0.11.0 --extra-index-url https://download.pytorch.org/whl/cu113`

[2022-09-30 06:53] imadgohar commented on #600
Oh great to hear that,

Can you please tell me which version of cuda and torch you installed?

Second thing, after installing the detectron2 just install sahi right?

Thanks.

[2022-09-30 06:54] imadgohar commented on #600
Do I need to create another repo?

[2022-09-30 18:21] tbonewmy opened #608 "Does Sahi involve any training step?"
Hi there,
if I have a model A trained on a group of image B. say I want to use Sahi to improvement detection of smaller objects in B. When I use Sahi, does it continues to do extra training on those rescaled image path cutouts before it do inference?

[2022-09-30 18:30] fcakyon commented on #605
There is no such comparison since the speed of the SAHI varies a lot based on the configuration (slice size, postprocess params etc)

[2022-09-30 18:31] #482 closed

[2022-10-01 12:25] nye0 opened #675 "coco bbox and area changed when read into sahi"
The COCO annotation file was attached.
[code]
when i check sample 428:
[code]
but when i check the coco_annotation file, by search the string "131, 130, " and found:
···
# bbox: [131, 130, 2, 2]
# area: 4
···

[coco.zip](https://github.com/obss/sahi/files/9690259/coco.zip)

[2022-10-05 08:16] imadgohar opened #677 "There are 0 listed files in folder: test/"
why I am getting 0 listed files in folder:
The command I am trying for inference is as under:

!sahi predict --slice_width 640 --slice_height 640 --overlap_height_ratio 0.1 --overlap_width_ratio 0.1 --source ../../dataset/images/test --model_path runs/train/exp/weights/best.pt --model_type yolov5

[2022-10-05 23:52] youngjae-avikus opened #679 "A way to check only FN (False Negative) and FP (False Positive) separately in the coco result?"
Hello
I checked that the mAP comes out when I do SAHI EVALUATE (GOOD! :+1:  ), but is there a separate API designed to check(save) only the images where FN (False Negative) and FP (False Positive) occurred?

Or is it right to implement it myself?

THANK U

[2022-10-06 07:36] devrimcavusoglu commented on #679
Hi thanks for the issue, this is not on the roadmap, you can implement yourself, or if you're willing to contribute, feel free to open a pull request :)