[2021-01-30 18:36] fcakyon opened #8 "make prediction matching threshold configurable"
expose [threshold parameter ](https://github.com/obss/sahi/blob/5ccc21b3a7be3b33c5eccabcffa5552f503cec76/sahi/predict.py#L147)of the prediction matcher to outside

[2021-01-31 15:13] fcakyon opened #9 "add tests for mmdet model without mask output"
Current tests for mmdetection models are done via [cascade mask rcnn model](https://github.com/obss/sahi/blob/5ccc21b3a7be3b33c5eccabcffa5552f503cec76/tests/test_mmdetectionmodel.py#L20). Tests should also cover the models having only bbox output (such as retinanet).

[2021-02-01 03:19] cenchaojun opened #10 "How to make an animated gif,please"
How to make an animated gif,please

[2021-02-01 07:23] fcakyon commented on #10
You can use Adobe After Effects/Photoshop or [opensource tools](https://github.com/topics/gif-creator).

[2021-02-01 07:23] #10 closed

[2021-02-01 08:33] #8 closed

[2021-02-01 18:49] fcakyon opened #16 "add support for mmdet>2.9.0"
starting from mmdet 2.9.0, config and inference structure is updated: https://github.com/open-mmlab/mmdetection/releases/tag/v2.9.0

[2021-02-01 21:41] #9 closed

[2021-02-02 10:10] #16 closed

[2021-02-26 19:01] fcakyon opened #32 "sliced prediction returns nothing for small images"
when slice sizes are larger than image sizes by a factor of max_allowed_zeros_ratio, sliced prediction returns nothing, inference is not being performed at all

[2021-02-26 21:04] #32 closed

[2021-04-27 18:36] fcakyon opened #50 "parallelize image to annotation mapping"
https://github.com/obss/sahi/blob/ae8d24c6b4c0a965f28dd635d78434539c078783/sahi/utils/coco.py#L1309

[2021-04-27 23:41] #50 closed

[2021-05-01 11:46] fcakyon opened #67 "non unique filename during ylolov5 export"
this line should be updated so that image_dir is also utilized while generating destination directory:

https://github.com/obss/sahi/blob/ffe0b57d50806d2e17efc06faeda005a6fb46d16/sahi/utils/coco.py#L1170

[2021-05-04 23:24] #67 closed

[2021-05-07 12:50] OscylO opened #74 "conda installation fails on python 3.8"
Failes to install on conda with python 3.8 works on 3.6. :(

[2021-05-07 16:31] fcakyon commented on #74
@OscylO can you send the error log?

Have you tried `pip install sahi`?

[2021-05-07 17:53] #74 closed

[2021-05-07 18:20] OscylO commented on #74
I have not tried pip installation but what I know from log and manual installation of all dependencies the problem was imantics package. So your fix should work. Thank you for fast response and cool library.

[2021-05-07 18:27] fcakyon commented on #74
Great to hear that :) will notice you when new release is published (will be in an hour).

[2021-05-07 21:21] fcakyon commented on #74
@OscylO its up, try `conda install sahi=0.3.15 -c obss`

[2021-05-07 21:25] fcakyon opened #81 "improve .stats"
- add `num_images_without_annotation`
- add category based `min_annotation_area` and `max_annotation_area`
https://github.com/obss/sahi/blob/c8509b4d820af7bf6432717e76003db6a9942e80/sahi/utils/coco.py#L1057

[2021-05-07 21:28] fcakyon opened #82 "add yolov5 support for sliced inference"
integrate https://github.com/fcakyon/yolov5-pip

[2021-05-07 21:30] fcakyon opened #83 "category based annotation filtering"
similar to https://github.com/obss/sahi/blob/c8509b4d820af7bf6432717e76003db6a9942e80/sahi/utils/coco.py#L1224
but seperate filterin per category

[2021-05-08 01:57] #81 closed

[2021-05-15 01:24] fcakyon opened #96 "remove cv2 dependencoes in sahi.utils.cv"

[2021-05-15 01:25] fcakyon opened #97 "add image based coco evaluation, ability to count/show incorrect predictions"

[2021-05-17 07:08] fcakyon opened #98 "handle duplicate image ids in coco file"
when coco file has image objects having same image id, it should be handled during coco init

https://github.com/obss/sahi/blob/31bc7e1838ee60a3dd7466c656f416db837d437e/sahi/utils/coco.py#L977

[2021-05-17 20:10] #98 closed

[2021-05-21 09:15] wjassim opened #101 "Wrap Darknet yolov4 in Sahi's slicing"
Hi. Thank you for the great tool.

I am wondering if it is possible to wrap darknet-based yolov4 (https://github.com/AlexeyAB/darknet/blob/master/darknet_video.py) in Sahi's slicing detection. The darknet-based yolov4 (darknet_video.py) provides detections in the following format:

class (str),
confidence (one value in str), and
bbox (a tuple with 4 values).

This is shown in the following image:

[2021-05-21 10:48] fcakyon commented on #101
@wjassim thanks for your interest, we are currently working on [ultralytics/yolov5](https://github.com/ultralytics/yolov5) integration. It is faster and have greater accuracy than darknet/yolov4. I belive it will satisfy your needs.

Moreover, it is not that hard to add custom model support for sahi tool. You can follow these steps to add custom model support and we will accept your PR: https://gi

[2021-05-21 11:18] wjassim commented on #101
Thank you @fcakyon. Looking forward to trying the new integration.

[2021-05-21 11:24] fcakyon commented on #101
@wjassim will keep you updated.

In the meantime you can take a look at [yolov5 pacakge](https://github.com/fcakyon/yolov5-pip). Training is easy as:

[code]

Inference is easy as:

[code]

No need for manual compile or git clone, `pip install yolov5` is enough and you can start training from CLI.

[2021-05-21 11:44] wjassim commented on #101
Thank you very much @fcakyon. I will try yolov5 now. Will pip install yolov5 install the yolov5 with the gpu support?

[2021-05-21 12:09] fcakyon commented on #101
@wjassim yes, as default it uses gpu.

[2021-05-22 20:37] #82 closed

[2021-05-22 23:17] fcakyon commented on #101
@wjassim yolov5 support has been added with `v0.4.0` release.

Please update sahi with `pip install -U sahi` and install yolov5 with `pip install yolov5`.

Check [yolov5 demo notebook](https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb) for detailed usage.

[2021-05-22 23:17] #101 closed

[2021-05-22 23:47] wjassim commented on #101
@fcakyon thank you for the update. Can't wait to try it out. Best regards

[2021-05-26 09:53] wjassim opened #106 "Sahi for 8k images"
Hi, thank you for providing this great tool.

I have tested sahi for 8k images but it seemed that the obtained predictions were not that accurate. In some cases, I get two different objects share the same bbox. Also, sometimes I get one object with two bounding boxes. I have tried different values for slices size and overlapping ratio but couldn't improve the results. Using the same object detecti

[2021-05-26 11:25] fcakyon commented on #106
@wjassim  thanks for your interest, there are some slicing related parameters that can be tuned but atm that may be hard coded (and need to be changed in source).

Can you provide a sample image (if not private) so that we can replicate the issue? Is that a satellite imagery? If I can recreate the issue I can try to adjust the parameters for that case.

[2021-05-27 10:42] wjassim commented on #106
Sorry for the late reply. Actually I used the same pic given in your demo (sahi/demo/demo_data/small-vehicles1.jpeg). I first upsampled it to 8k then run sahi on it to see how the tilling and stitching go for it. I tried with other high resolution pics and it seemed to have the same issues.

[2021-05-27 11:18] fcakyon commented on #106
You should not upsample an image to see the effect of tiling because object will also get larger in that case. The images should have high resolution in their nature, like wide-area survelliance or satellite imagery tasks. You can directly use the image as in [demo notebook](https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb) to see the effect of sliced inference.

[2021-05-27 11:21] fcakyon commented on #106
We will extend the demo with more examples (drone surveillance/drone detection/satellite imagery) in the near future :)

[2021-05-27 16:21] wjassim commented on #106
Thank you for your reply and note. Ok, I'll check it with real large images. Looking forward to seeing the new demos. Best regards.

[2021-05-27 20:24] fcakyon opened #108 "postprocess functions are too complex"
needs refactorization

[2021-05-29 18:15] #108 closed

[2021-05-31 15:55] fcakyon opened #112 "add google colab demo"
add 'open in colab' badges into demo notebooks that redirects to https://colab.research.google.com/github/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb

update demo notebooks for colab (add pip install sahi/git clone repo etc)

[2021-06-05 03:45] ed-muthiah opened #113 "sahi.utils.shapely module not found error"
Hey there :)

I'm on a windows 10 machine using conda:

commands to recreate the issue:
[code]
This error is returned:
[code]

[2021-06-05 03:59] ed-muthiah commented on #113
This seems to have solved my issue:
`conda install -c conda-forge shapely`

[2021-06-05 04:44] ed-muthiah opened #114 "coco2yolov5 script error"
Hello I'm getting a strange error when trying to use the coco to yolov5 script.

[code]

[2021-06-05 07:23] fcakyon commented on #113
in windows, shapely needs to be installed by conda as you mentioned. will add it to the readme :)

[2021-06-05 08:52] fcakyon commented on #114
@ed-muthiah thanks a lot for describing this issue.

This error should be fixed with https://github.com/obss/sahi/pull/115.

Can you try with updated [coco2yolo.py](https://github.com/obss/sahi/blob/main/scripts/coco2yolov5.py) file and report back?

[2021-06-05 09:08] fcakyon commented on #113
This issue will most probably be fixed once the shapely==1.8.0 is released: https://github.com/Toblerity/Shapely/pull/1108

[2021-06-05 09:17] fcakyon opened #116 "scripts/predict.py with `--coco_file` argument gives error"
[code]

[2021-06-05 09:19] #116 closed

[2021-06-05 09:28] #113 closed

[2021-06-06 02:31] ed-muthiah commented on #113
Thanks!

[2021-06-06 02:31] ed-muthiah commented on #114
Thanks for the help fcakyon. Do you need to update the pip wheel before I reinstall it? I can't seem to run the script from just the cloned repo. Or can I reinstall it locally?

python -m pip install -e C:\Users\Annamalai\Documents\sahi

[2021-06-06 02:51] ed-muthiah commented on #114
There's a chance it's a file name issue with the code
![image](https://user-images.githubusercontent.com/59877549/120910886-f539e080-c6c5-11eb-8f6e-4538f7c82b2f.png)

[2021-06-06 06:55] ed-muthiah commented on #114
Hey @fcakyon I found the error. It seems that one of my images for some odd reason had no file type such as `image20**.png**` or `image20**.jpg**` it was just `image20`. I found this by putting `print("Current file name", coco_image.file_name)` in line 1362 of `coco.py`. It might be good to put a try/catch if an incorrect image format or name is provided. Thanks for your help with this.

P.S. Outs

[2021-06-06 08:31] fcakyon commented on #114
@ed-muthiah you mean the `No such file or directory: '.txtC.txt:.txt\\.` error is caused by missing file type? After fixing it all errors are gone? If that is the case, I can add a type check in the code as you mentioned 👍

[2021-06-06 08:33] fcakyon commented on #114
@ed-muthiah you are right on your second point. coco2yolov5 script can be published as a separate repo. We are thinking of publishing it on a new repo once everything is more stable 👍

[2021-06-06 09:12] ed-muthiah commented on #114
@fcakyon Yeah that's right, after adding a proper file extension, the problem is fixed and I now get the correct conversion.

[2021-06-06 10:29] fcakyon commented on #114
@ed-muthiah thanks a lot for the feedbacks!

Added warning for opening the cmd prompt as admin with https://github.com/obss/sahi/pull/120, and added pyyaml into requirements with https://github.com/obss/sahi/pull/119, now working on file type check.

All updates will be live with v0.4.4 release :)

[2021-06-06 13:04] ed-muthiah commented on #114
Thanks for the quick responses I'll close this now. Happy to contribute to the new repo when you get it going :)

[2021-06-06 13:04] #114 closed

[2021-06-07 09:38] wjassim opened #121 "Sahi with multi-gpu"
Hi @fcakyon,

Thank you for providing this tool. I was wondering if sahi supports detections with multi-gpu. I mean is it possible for sahi to detect objects from the obtained tiles using more than one gpu in parallel to speed up the process?

[2021-06-07 12:23] fcakyon commented on #121
@wjassim thanks a lot for your interest in this repo!

It is in our to-do list but there is no ETA. We accept any related PR :)

[2021-06-09 21:36] fcakyon opened #124 "python 3.9 support"

[2021-06-09 21:38] #96 closed

[2021-06-09 22:00] #124 closed

[2021-06-09 22:03] fcakyon opened #125 "mot utils for easier mot formatted dataset creation"

[2021-06-10 07:24] #125 closed

[2021-06-11 08:37] #112 closed

[2021-06-11 08:44] fcakyon opened #128 "seperate mmdet/yolov5 utils"
seperate `sahi.utils.test` so that `mmdet` and `yolov5` related utilities can be called independently

[2021-06-12 15:04] #128 closed

[2021-06-12 17:19] fcakyon opened #132 "option for float annotation handling"
based on medium comment: https://afetulhak.medium.com/i-was-using-annotations-which-were-already-prepared-for-yolo-detection-and-yolo-annotations-are-in-c5f4de34ccc1

[2021-06-17 09:59] Fetulhak opened #139 "yolov4 support"
@fcakyon I have trained and YOLOV4 model using AlexyAB's repo and I have generated a weight file for my custom dataset which was sliced using your repo. Now I want to check the test results for predicted YOLOV4 results. How can I integrate YOLOV4 weight file to your test folder so that I can use the YOLOV4 like you have used the YOLOV5 model which was from from ultralytics repo.

[2021-06-17 10:02] fcakyon commented on #139
@Fetulhak thanks alot for your interest! You can check readme for extending detection framework support of the `sahi`: https://github.com/obss/sahi#contributing

`sahi` library currently supports all [YOLOv5 models](https://github.com/ultralytics/yolov5/releases) and [MMDetection models](https://github.com/open-mmlab/mmdetection/blob/master/docs/model_zoo.md). Moreover, it is easy to add new frame

[2021-06-17 10:11] fcakyon commented on #139
@Fetulhak can you provide a minimal example for performing inference on YOLOv4? I can work on a YOLOv4 wrapper if you provide minimal example.

[2021-06-17 10:34] fcakyon opened #140 "validate image size for `slice_image`, `slice_coco`"
while slicing images and annotations, ensure image size is not 0.
based on a comment from medium blog: https://afetulhak.medium.com/i-solve-the-problem-3d5f9df2bd46

[2021-06-17 11:46] Fetulhak commented on #139
I am reading on TensorFlow version of YOLOv4 which you can find it here and it can be installed using pip
  https://wiki.loliot.net/docs/lang/python/libraries/yolov4/python-yolov4-about/

here is the code used for inference in YOLOv4.

import cv2

from yolov4.tf import YOLOv4

yolo = YOLOv4()

yolo.config.parse_names("coco.names")
yolo.config.parse_cfg("yolov4-tiny.cfg")

yolo.make_model()
yolo.lo

[2021-06-17 12:04] fcakyon commented on #139
@Fetulhak thanks for providing minimal sample!

Have tried training yolov5 via this repo? https://github.com/fcakyon/yolov5-pip

It is really straightforward, stable, fast and accurate :)

[2021-06-17 12:15] Fetulhak commented on #139
@Fetulhak No, I did not use YOLOv5. I have been working on YOLOV3 and V4 still now. But I will use it to compare my results.

[2021-06-24 14:39] Fetulhak commented on #139
@fcakyon I create a new class for yolov4 inference. Here i have attached the modified model.py and I have also create a new yolov4.py under sahi/utils similar to yolov5. however I am getting an error during model initialization in my new class for yolov4. I have also attached .ipynb modified from the yolov5 inference ipynb. I need you help. just replace your model.py with the one I attached here.

[2021-06-24 22:29] fcakyon commented on #139
@Fetulhak thanks a lot for providing your scripts! Which package should I use to reproduce your results? `pip install yolov4` ?

[2021-06-24 22:52] Fetulhak commented on #139
@

Yes you can use pip install yolov4. I am using this project https://wiki.loliot.net/docs/lang/python/libraries/yolov4/python-yolov4-about

here is the procedures I follow for yolov4 inference. here is the text file form of the .ipynb file i have been using
[inference_for_yolov5.txt](https://github.com/obss/sahi/files/6712489/inference_for_yolov5.txt)

[2021-06-26 00:13] fcakyon commented on #139
@Fetulhak your `yolov4.py` file is incorrect, here is the fixed version:

[code]

and here is the updated version of `Yolov4DetectionModel`:

[code]

[2021-06-26 00:13] fcakyon commented on #139
@Fetulhak would you try the updated versions and report back?

[2021-06-26 16:32] Fetulhak commented on #139
@fcakyon Thanks for your update. I will try and update you on my findings.

[2021-06-27 07:25] #140 closed

[2021-06-27 09:56] Fetulhak commented on #139
@fcakyon now the yolov4 class preform-inference works with a little modification as shown below

`    def perform_inference(self, image: np.ndarray):
        """
        Prediction is performed using self.model and the prediction result is set to self._original_predictions.
        Args:
            image: np.ndarray
                A numpy array that contains the image to be predicted.
        ""

[2021-06-27 13:28] fcakyon commented on #139
@Fetulhak If you multiply the bbox coords with image height and width, you get the sahi format. You have to implement `_create_object_prediction_list_from_original_predictions` such that it iterates over yolov4 predictions and sets `self.object_prediction_list` with a list of `sahi.prediction.ObjectPrediction` like this:

[code]

[2021-06-28 14:52] Fetulhak commented on #139
Hi @fcakyon Thanks now I have converted the prediction results of yolov4 as you suggested. Now there is one error which is the yolov4 prediction does not have .names field and I can't proceed

[code]

[2021-06-28 21:45] fcakyon commented on #139
@Fetulhak you can use
[code]
to get the category names after defining

[code]
in Yolov4DetectionModel class.

[2021-06-28 21:47] fcakyon commented on #139
@Fetulhak Refer to this yolov4detectionmodel code for more detail: https://github.com/obss/sahi/blob/0ebe1a7a3c0e3d8198b55d789287944ce7a5792b/sahi/model.py#L553

[2021-06-30 20:29] Fetulhak commented on #139
@fcakyon Thank you very much. I can generate both the sliced prediction and the original prediction now_
![sliced_prediction](https://user-images.githubusercontent.com/46393025/124026787-c8de5f00-d9fa-11eb-89f8-8c07cdda49a0.png)
![full_size_prediction](https://user-images.githubusercontent.com/46393025/124026877-e8758780-d9fa-11eb-88da-9a8154f85d5f.png)
_

[2021-06-30 20:35] Fetulhak commented on #139
The above results are obtained using slice size of 512 but when I reduce slice size 256 an error occurred due to negative bounding box coordinates.

[code]
.
.
.
.

/usr/local/lib/python3.7/dist-packages/sahi/annotation.py in __init__(self, box, shift_amount)
     31         """
     32         if box[0] < 0 or box[1] < 0 or box[2] < 0 or box[3] < 0:
---> 33             raise Exception("Box coords

[2021-06-30 20:48] Fetulhak commented on #139
@fcakyon How the predictions in the sliced images will become negative coordinate? is it during the merge operation?

[2021-06-30 21:05] fcakyon commented on #139
@Fetulhak could you please send me your full code so i can reproduce the results?

[2021-06-30 21:18] Fetulhak commented on #139
This is the colab notebook I am working with.
[Copy_of_inference_for_yolov5.zip](https://github.com/obss/sahi/files/6744045/Copy_of_inference_for_yolov5.zip)
and this is the original kite.jpg image

[2021-07-02 23:10] #97 closed

[2021-07-03 04:20] javierIA opened #155 "tensorflow object detection api support"
Do you plan to add more frameworks e.g. one object detection tensorflow api

[2021-07-03 08:42] fcakyon commented on #155
@javierIA it can be easily extended to other frameworks. See contributing section: https://github.com/obss/sahi#contributing

If you provide sample code for getting bounding boxes/scores etc via tensorflow api I can add the support for it.

[2021-07-05 19:13] fcakyon opened #159 "negative box coords"
The above results are obtained using slice size of 512 but when I reduce slice size 256 an error occurred due to negative bounding box coordinates.

[code]
.
.
.
.

/usr/local/lib/python3.7/dist-packages/sahi/annotation.py in __init__(self, box, shift_amount)
     31         """
     32         if box[0] < 0 or box[1] < 0 or box[2] < 0 or box[3] < 0:
---> 33             raise Exception("Box coords

[2021-07-05 19:27] fcakyon commented on #159
@Fetulhak I have found the reason, will be fixed with https://github.com/obss/sahi/pull/160

[2021-07-05 19:47] #159 closed

[2021-07-05 19:51] fcakyon commented on #159
@Fetulhak it is fixed in v0.5.2: https://github.com/obss/sahi/releases/tag/0.5.2

Install latest version with `pip install -U sahi`

[2021-07-05 19:51] fcakyon commented on #139
@Fetulhak negative box coordinates issue is fixed in v0.5.2: https://github.com/obss/sahi/releases/tag/0.5.2

Install latest version with `pip install -U sahi`

[2021-07-06 16:04] Fetulhak commented on #139
@fcakyon original image size was 750x750 and I sliced it to 320x320, 416x416,608x608. for all the slices it gives me 0 detection results even though I have 3 detections in the original size as shown in the provided figure. I was just practicing and I thought I will get more detection results from the sliced ones. I am curious why this happened. any parameters to adjust.
full-size  detection
![pred

[2021-07-06 17:28] fcakyon commented on #139
@Fetulhak it is not normal. Which prediction script/function are you using?

[2021-07-07 05:55] Fetulhak commented on #139
@fcakyon I am using yolov4 model to predict results.

[2021-07-07 08:53] fcakyon commented on #139
@Fetulhak I know that. I am asking which function you are using. `get_prediction`, `get_sliced_prediction` or `predict`?

You have to set `no_standard_prediction=False` and `no_sliced_prediction=False` in `predict` function for the best performance.

If you are using `get_sliced_prediction` function, then you have to set `perform_standard_pred=True`.

[2021-07-07 08:57] Fetulhak commented on #139
@fcakyon I am using get_prediction for full image size prediction and get_sliced_prediction to generate prediction results for the sliced cases. I will check those values and let you know my results if improved.

[2021-07-07 09:00] Fetulhak commented on #139
@fcakyon BTW the Exception: Box coords [minx, miny, maxx, maxy] cannot be negative still exist after following your suggestion to install the new version using the command `pip install -U sahi`

[2021-07-07 09:02] fcakyon commented on #139
@Fetulhak can you give me your code, sample image and parameters you used so that i can recreate the issue? Because in my end that error is fixed.

[2021-07-07 09:05] Fetulhak commented on #139
@fcakyon can I communicate with you through mail to give you the link to my G-drive. here is my e-mail : afetulhak@yahoo.com

[2021-07-21 19:26] abfleishman opened #173 "Slicing huge tiff file with coco formatted labels"
[[Huge Apologies for this poorly framed issue/question without any reproducibility etc!!]]

I have a set of large tiff files >10,000x10,000 px with masks in COCO JSON format.  I am attempting to use `sahi` to slice the dataset to create training data.  It has taken some modification to read files with `skimage` instead of `PIL` but it seems like my copy of `sahi` is now able to read the images and

[2021-07-21 20:41] fcakyon commented on #173
@abfleishman thanks a lot for using this library! SAHI supports segmentation slicing.

Your provided `get_sliced_coco_annotation` functions takes both box and segmentation slice using the `slice_bbox`.

If the segmentation output is empty in the final json, there is an unintended bug. I will try my best to find it.

[2021-07-21 20:57] fcakyon commented on #173
@abfleishman i think i found the bug. this function is wrong: https://github.com/obss/sahi/blob/03e5191dff1f96e268ca523d0a2da6c70a5b88a9/sahi/utils/coco.py#L134

before this line: https://github.com/obss/sahi/blob/03e5191dff1f96e268ca523d0a2da6c70a5b88a9/sahi/utils/coco.py#L156

this line should be added:
[code]

[2021-07-21 20:59] fcakyon commented on #173
@abfleishman can you please try this update and report back?

[2021-07-21 21:06] abfleishman commented on #173
@fcakyon That fixed it!  Thank you so much!  (I thought I was making a mistake! I am happy I am not crazy and that it was a real bug!  Thank you so much for your swift reply!

[2021-07-22 06:36] fcakyon commented on #173
@abfleishman thank you so much for your valuable contribution!

Would you mind showing your image reading modifications for large images? I would gladly add tiff image support to SAHI :)

[2021-07-22 16:43] abfleishman commented on #173
I have pushed my changes to a fork [here](https://github.com/ConservationMetrics/sahi).  There are 3 commits.   I have not finished checking that I am reading the images correctly (they display reasonably well, but I want to make sure that the channels are read in the same order.  I also worked around a error in the intersection step on a few of my annotations.

[2021-07-23 18:25] abfleishman opened #175 "Idea: Parallel Processing for slicing images?"
I was just thinking about if we could slice/write images in parallel and thought I would leave a note here.  It is taking me ~10 minutes to slice 4 large tif files.  and the slow part seems to be saving all the new images but it only uses 1 core.

[2021-07-25 20:27] fcakyon commented on #175
@abfleishman good point, its in our high priority todo list now 👍

[2021-07-26 14:57] abfleishman commented on #173
@fcakyon FYI I am not sure the method I am using for reading in images (`skimage.io.imread` -> `Image.fromarray`) is producing the `PIL` object correctly.  I am working with 4 band images (RGB + Thermal) and they come out looking strange (mostly black).  I am testing with a `normal` 3-band image and the results look good, so I am thinking the 4th band is getting switched with one of the color chan

[2021-07-26 15:15] fcakyon commented on #173
please let me know if you find a stable way of reading large multi channel tiff files.

would be also great if you could provide me a sample image file that is not confidential.

[2021-07-26 16:08] abfleishman commented on #173
Yeah it is not that the images are confidential it is that they are huge!  I will see what I can do to shrink one...

[2021-07-26 17:11] fcakyon commented on #173
@abfleishman you can upload the image to google drive and share the url here if you want :)

[2021-07-26 17:34] abfleishman commented on #173
https://drive.google.com/file/d/167NDnohZM8Lk5VuKE0XWtkEMM9X63eOF/view?usp=sharing

[2021-07-26 17:36] fcakyon commented on #173
@abfleishman you have to open sharing options for the url, i have sent you access request :)

[2021-07-26 17:50] abfleishman commented on #173
@fcakyon Done!

[2021-07-27 20:29] abfleishman opened #176 "Question: Plans for Deterctron2?"
I would love to use sliced inference for a `detectron2` model (Mask-RCNN).  I tried to build a `mmdetection` model but failed to get past some issues that kept popping up.  I am new to `detectron2` and I am not sure where to start to attempt to make `sahi` work with the models I am training.  Are there plans to extend `sahi` to work with detectron2?  if not, do you have advice for me on where to s

[2021-07-28 06:10] fcakyon commented on #176
Actually mmdetection is more stable than detectron2 and covers much more state-of-the-art models.

Are you on windows or linux?
What is your python version?
What issues did you have with mmdetection?

[2021-07-28 06:11] fcakyon commented on #176
you can check the contributions sections of the readme for extending the support: https://github.com/obss/sahi#contributing

[2021-07-28 18:54] abfleishman commented on #176
Thank you!

I have been using Linux Ubuntu VMs on Azure.  I am using a `conda` environment for `mmdetection` and I am running `python 3.7.10`.  I installed following their tutorial and things appear to have installed correctly (though I have not successfully trained a model so maybe not).

I have had trouble tracking down the issues as I am new to the `mmdetection` package, new to the `coco` data

[2021-07-28 19:21] fcakyon commented on #176
@abfleishman sometimes people arrange config files for `mmdetection` incorrectly (mostly the dataset configs), are you sure all is fine on that part? can you show the config files you prepared for `mmdetection` training? most of the times mmdetection runs train much stable and faster than detectron2. this is why in obss we utilize mmdetection models more than detectron2 models in production.

[2021-07-28 23:18] abfleishman commented on #176
@fcakyon Thank you for your willingness to look this over for me!  I have found the learning curve steeper than expected for `mmdetection` Please see the attached. config that I am using (I changed the extension from `py` to `txt` to have github upload it)
[eseal_config.txt](https://github.com/obss/sahi/files/6896936/eseal_config.txt)
  This second file is the  output from running the `trainer.tra

[2021-07-29 07:24] fcakyon commented on #176
@abfleishman all seems to be great. only advice i could give is, if you are training with single gpu then you should increase the learning rate:
from `optimizer = dict(type='SGD', lr=0.002, momentum=0.9, weight_decay=0.0001)` to `optimizer = dict(type='SGD', lr=0.016, momentum=0.9, weight_decay=0.0001)`

[2021-07-29 16:10] abfleishman commented on #176
@fcakyon Thank you!  I made the change and it is training now! It is amazing how such a small tweak can fix an error.  Now that I have the `mmdetection` model training with RGB tiles, now the real work begins. I have two tasks ahead of me: 1) get the model to train with 4 channel images, 2) use the `sahi` package to run the model on the large ortho mosaics 10,000x10,000 px.

[2021-07-29 16:15] fcakyon commented on #176
@abfleishman i have a plan to work on large tiff image processing in the following days but 4 channel model is all up to you. You can combine some of the channels to convert your 4channel images into 3 channels or you can directly disregard the less important channel and continue with the remaining 3 channels.

[2021-07-29 16:34] abfleishman commented on #176
yes thank you for your help!  I would have given up on `mmdetection` with out you!

[2021-07-29 16:37] abfleishman commented on #173
@fcakyon using `skimage.io.imread` worked correctly for the 3 channel images (I am saving to png for now) and that is what let me train a model.

[2021-07-29 17:17] abfleishman opened #180 "Link to colab notebook for mmdetection not found"
The link to the mmdetection notebook for colab in this [ section of the readme](https://github.com/obss/sahi#usage) is broken

[2021-07-29 17:30] fcakyon commented on #173
so skimage.io.imread is enough for reading tiff images right? thats good to know 👍

[2021-07-29 17:40] #180 closed

[2021-07-29 17:40] fcakyon commented on #180
@abfleishman typo has been fixed :) thanks a lot for contribution!

[2021-07-29 17:57] fcakyon commented on #176
@abfleishman i totally understand you, `mmdetection` has a high entry barrier but once you get used to it, there is not turning back 😄

[2021-07-29 18:01] abfleishman commented on #173
Yes I think so.  I had to pip install `imagecodecs` also

[2021-07-29 20:02] AtGrover opened #182 "Any plans for batched inference of sliced images?"

[2021-07-30 12:57] fcakyon commented on #182
@AtGrover yes it is in to-do list but currently but there is no ETA.

We are always open for PRs :)

[2021-08-02 15:38] AtGrover commented on #182
Will probably try giving it a shot in the coming days

[2021-08-03 00:14] #173 closed

[2021-08-03 06:32] 1skol1 commented on #182
Hey @fcakyon ,
I am new to open source contributions, so can you please guide me, I would like to make a PR for this enhancement.

[2021-08-03 07:07] #175 closed

[2021-08-03 07:10] fcakyon commented on #175
@abfleishman I have added concurrent slice export in 0.7.2: https://github.com/obss/sahi/releases/tag/0.7.2

Coud you try with the latest version? `pip install -U sahi`

[2021-08-03 07:10] fcakyon commented on #173
@abfleishman I have added tiff image reading in 0.7.2: https://github.com/obss/sahi/releases/tag/0.7.2

Could you try with the latest version? `pip install -U sahi`

[2021-08-03 15:57] abfleishman opened #186 "get_sliced_predictions fails with slices with no predicitons?"
I think the `get_sliced_predictions` fails when it files slices with no predictions?  the other possibility is that with these tiff files there are slices that have little or no information (blank parts of the image where no data was collected by the drone).

This is with an image already loaded.  The models Ihave trained only expect 3-channels so I am loading the image and removing the 4th channe

[2021-08-03 16:06] abfleishman opened #187 "get_sliced_predictions fails when tiff is RGBA but model is only RGB"
I am 99% sure this is due to a mismatch in the number of channels the model expects and the number of channels in the image.  tiff files often have an "alpha" channel that is a boolean mask indicating where there is valid data.  I think that by default people often remove that channel in deep learning contexts.  I have images that are RGB+Thermal and thus will want to keep that channel once I figu

[2021-08-03 16:07] abfleishman commented on #175
I just ran slice_image and it was so fast I thought that it failed silently!!!!  Nice work and thank you!

[2021-08-03 16:08] abfleishman commented on #173
If appears to have worked flawlessly for `slice_image`, though see #187 and #186

[2021-08-03 21:07] fcakyon commented on #186
@abfleishman empty predictions doesnt result in error, sahi can handle it properly.

It works perfectly on my end with the following code block:

[code]

Could you provide your model so that i can replicate your issue?

[2021-08-03 21:09] fcakyon commented on #187
Lets continue the discussion here: https://github.com/obss/sahi/issues/186

[2021-08-03 21:09] #187 closed

[2021-08-03 21:18] fcakyon commented on #182
@AtGrover @1skol1 main issue with batch support is that the order of the slices should be preserved while performing batch inference so that the results of the slices can be merged properly after getting all predictions of a frame.

here is the batch created: https://github.com/obss/sahi/blob/5d7526a1ac0b4c3da13c52a3e6f1da57add93ea3/sahi/predict.py#L210

currently, it inputs only the first image i

[2021-08-04 05:45] 1skol1 commented on #182
@fcakyon thanks for the explanation, will give it a try.

[2021-08-04 16:24] abfleishman commented on #186
@fcakyon I have uploaded the models [here](https://drive.google.com/drive/folders/1yWlDAd54qqVF_1Ojrldx_Sel3RDmR1i1?usp=sharing) There are two folders `eseal_rgb_mask` and `eseal_rgb_cascade_mask` with the models I trained (They do not work all that well from what I can tell compared to the detectron2 mask rcnn i trained). I have also added the training data (`data_tiled_*` folders and the `labels

[2021-08-06 08:23] Fetulhak commented on #182
@fcakyon it will also be great if Sahi tool includes batch inference and COCO evaluation metrics at inference time such as mAP, Recall, and Precision values for the batch.

[2021-08-06 08:36] fcakyon commented on #182
@Fetulhak you can use `coco_evaluation.py` script after running `predict.py` script to evaluate classwise and overall mAP Recall Precision: https://github.com/obss/sahi/blob/main/docs/SCRIPTS.md#coco_evaluationpy-script-usage.

[2021-08-06 08:45] Fetulhak commented on #182
@fcakyon  Thank you very much. I will check that.

[2021-08-15 20:52] fcakyon opened #198 "unify coco up/down sampling"
make a simple function named `get_sampled_coco` taking `sampling_ratio` argument, if argument is below 1 call `get_subsampled_coco` else call `get_upsampled_coco`.
https://github.com/obss/sahi/blob/66550bda8590b2bf394dfc9b0a48390beb5369b7/sahi/utils/coco.py#L1255

[2021-08-17 07:18] Grenaf opened #200 "an object is detected as two different classes"
Hello author, I am very happy to use your sliding window tool. But I encountered an object detected as a different class, how should I avoid this problem！
![image](https://user-images.githubusercontent.com/73221711/129681099-cb01634d-18a0-4e13-8530-006d2f4a9c35.png)

[2021-08-17 07:41] fcakyon commented on #200
@Grenaf thanks a lot for your interest in the library!

## CLI
If you are using predict.py script in CLI, then add `--class_agnostic` arg as `python predict.py --class_agnostic`. Refer to scripts docs for more detail on other arguments: https://github.com/obss/sahi/blob/main/docs/SCRIPTS.md#predictpy-script-usage

## Python
If you are calling from python,
- set `postprocess_class_agnostic=True` wh

[2021-08-17 08:35] Grenaf commented on #200
Thank you sir, nice tool. It works!
![image](https://user-images.githubusercontent.com/73221711/129692654-7e4048aa-4d6e-46f2-a687-5ade1bf2ed0f.png)

[2021-08-17 08:45] fcakyon commented on #200
@Grenaf thanks a lot for your feedback! Feel free to open any issues or prs at any time :+1:

[2021-08-17 08:45] #200 closed

[2021-08-17 08:47] fcakyon commented on #83
fixes #83

[code]

[2021-08-19 13:43] Grenaf opened #201 "how to train yolov5 to detect small objects"
Hello author！I have some questions about how to train yolov5 when i use sahi in large scale images.
If my data set image pixels are 1920x1080 size. What image pixel size should I use to train the network?
# Training phase
Assume that the input-size of the initial training model is 640x640 (can be changed). Method 1: The original 1920x1280 pixel picture is sent to the model training (the original i

[2021-08-19 13:52] fcakyon commented on #201
@Grenaf Thanks a lot for you interest and valuable comments!

1. Demo uses coco pretrained weight from yolov5 and mmdetection repos. There is no sliced fine-tuning included in the demo. However, sliced fine-tuning increases the performance.
2. Size of the slices are determined by your object and image sizes. If you have 10-20pixel objects with 1000*1000 images 512*512 or 256*256 image sizes could

[2021-08-20 09:13] Grenaf commented on #201
Thank you sir! I will try your methods.
# new problem
- But with a new problem, yolov5 uses mosaic image enhancement technology to solve the problem of small target recognition . If I use the default mosaic function(small target pixels will lose part of it), will all the pictures of the network training be the pictures after the mosaic function? Or the picture that enters the network training is t

[2021-08-20 09:29] fcakyon commented on #201
@Grenaf you can set the yolov5 inference image size with `image_size` parameter of `get_sliced_prediction` function: https://github.com/obss/sahi/blob/d5e5e7d77b2fc4eb35b550deb418b51f46615fd4/sahi/predict.py#L108, `get_prediction` function: https://github.com/obss/sahi/blob/d5e5e7d77b2fc4eb35b550deb418b51f46615fd4/sahi/predict.py#L27, or `predict` function: https://github.com/obss/sahi/blob/d5e5e7

[2021-08-20 09:32] fcakyon commented on #201
@Grenaf there are 2 alternatives to sliced fine-tuning:
- slice the whole dataset and use the sliced images/annotations during training: https://github.com/obss/sahi/blob/main/scripts/slice_coco.py
- apply randomcrop augmentation with albumentations as you mentioned above.

If you have any further questions feel free to ask!

[2021-08-20 09:33] fcakyon commented on #201
@Grenaf by default, yolov5 uses only mosaics during the training and that is where the power of yolo comes from.

[2021-08-20 11:17] Grenaf commented on #201
Thank you for your patience, some questions still puzzle me.
# questions
-you say yolov5 uses only mosaics during the training and that is where the power of yolo comes from if that means training network will just use mosaic’s images（Splicing and resize from original images） ，original images will not be trained in training network？
-What is the relationship between inference size and slice height

[2021-08-22 07:07] fcakyon commented on #201
Your first question is not sahi related, you would get more indepth response from the original yolov5 author :)

[2021-08-23 20:00] aquexel opened #202 "Can't export to coco format"
Hello everybody

I'm trying to export result with your module, but I get this type of error.
I know this problem came from shapely but there is a bug with the coordinates
How can I solve this ?

Thank you guys !

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/opt/conda/lib/python3.9/site-packa

[2021-08-23 20:09] fcakyon commented on #202
@aquexel could you share your coco.json so that i can recreate the issue and fix it? if its confidential could you at least copy a sample object annotation here?

The error is caused by 2 point segmentation annotation i assume but you have to confirm it.

[2021-08-23 20:25] aquexel commented on #202
Hi,
What coco.json do you mean ?
Maybe you're right, is it possible to remove this type of object ?
Thank you

[2021-08-23 20:39] fcakyon commented on #202
@aquexel would you give the input image and model weight? If not, could you give some more info? :)

Are you using an instance segmentation model?
Are you using yolov5 or mmdetection based detector?
Are you performing sliced or standard inference?
What are the object sizes in the input image?
What is the input image resolution?

[2021-08-23 20:42] fcakyon commented on #202
@aquexel can you tell me your working environment? Are you getting this error on one of the demo notebooks?

[2021-08-23 20:48] aquexel commented on #202
I 'm using CBNetV2 for instance segmentation on big pictures.
Here is my type of detection:
![image](https://user-images.githubusercontent.com/58343149/130517192-3c28be7d-ae37-48ae-9f7a-3eedc64b99f4.png)
I'm working with cuda 11.1

[2021-08-23 21:06] aquexel commented on #202
def rletococo(file1,tol):
    for annotation in file1:
        d={}
        segmentation = []
        segmentation_polygons = []
        # Decodage RLE
        mask_list = mask_util.decode(annotation['segmentation'])
        mask = np.ascontiguousarray(mask_list)
        contours, hierarchy = cv2.findContours((mask).astype("uint8"), cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)
    # Obtention des conto

[2021-08-23 21:07] fcakyon commented on #202
@aquexel would you copy the code you are using with `sahi` that returns the error above?

[2021-08-23 21:58] fcakyon commented on #202
@aquexel Could you try this at the end, instead of `result.to_coco_annotations()[0]` ?

[code]

[2021-08-24 10:07] aquexel commented on #202
Thank you it works !

[2021-08-24 10:20] aquexel opened #203 "raise Exception("Box coords [minx, miny, maxx, maxy] cannot be negative")"
Hi everybody, I have got an another problem with the inference function. I've tried this code :
result = get_sliced_prediction(
    img,
    detection_model,
    slice_height = 1100,
    slice_width = 1100,
    overlap_height_ratio = 0.3,
    overlap_width_ratio = 0.3
)
The image is 14300x10400
How can I fix this ?

Thank you

-----------------------------------------------------------------------

[2021-08-24 12:23] Grenaf commented on #201
OK!The second answer is so funny！If I set slice size 640 and the inference size is 640，so slices will not be resized？Your postprocess is so funny! I used to see some familiar way just like YOLT，I will continue to use sahi！Thanks！

[2021-08-24 12:31] fcakyon commented on #201
@Grenaf you are correct, when slice and input size is same, images will not be scaled :)

You can consider `sahi` as the improved version of `yolt` with extra features such as:
- fiftyone support: https://github.com/obss/sahi/releases/tag/0.5.1
- coco utilities: https://github.com/obss/sahi/blob/main/docs/COCO.md
- mmdetection support: https://colab.research.google.com/github/obss/sahi/blob/main/d

[2021-08-24 12:32] #201 closed

[2021-08-24 12:33] fcakyon commented on #202
@aquexel glad to hear that! feel free to try all the features and ask again if you have any questions!

[2021-08-24 12:33] #202 closed

[2021-08-24 12:46] fcakyon commented on #203
@aquexel i have just released a new version: https://github.com/obss/sahi/releases/tag/0.7.4 would you update and try again with `pip install -U sahi` ?

Error seems to be caused by negative bounding box coords, do you have any idea why model results in negative bounding box values? Could you upload the raw input image so that i can recreate the issue?

[2021-08-24 13:16] aquexel commented on #203
I let you my image
https://github.com/aquexel/aquexel

[2021-08-24 21:10] aquexel opened #205 "Can't slice coco dataset"
Hi,
I've tried to cut my data but I get an error with the intersection shapely module in the second image
Here is the error:

[code]

My annotation file (in json):
[facade_train (15).txt](https://github.com/obss/sahi/files/7042123/facade_train.15.txt)

[2021-08-28 03:23] Grenaf opened #206 "How to cut the original image into the training network and export silce’s image and label"
Hi fackyon！I have some problems about getting  slices‘s images and labels.
# Material
- I have some personal original images(Resolution greater than 640x640) and their labels(yolov5 format)，but i want to send slices into yolov5 training network.
# Question
- I know there are two ways to cut the original image into the training network
  - slice the whole dataset and use the sliced images/annotatio

[2021-08-28 03:28] fcakyon commented on #206
Unfortunately only coco format is supported as the input format. You can something like this to convert your annotations into coco format: https://github.com/Taeyoung96/Yolo-to-COCO-format-converter

[2021-08-28 05:47] Fetulhak commented on #206
Hi @ Grenaf  first convert your yolo annotation to coco annotation format using the tool suggested by @fcakyon. Then you will get the sliced images and their sliced coco annotation using SAHI tool. After that you should have to convert back again the sliced coco annotation back to yolo annotation using https://github.com/ssaru/convert2Yolo tool.

[2021-08-28 06:02] Fetulhak commented on #203
@aquexel the problem is not in the sahi tool. if you are using yolov3 or v4 some of the predicted values for bbox are incorrectly calculated especially in image boarders.

[2021-08-28 06:42] Grenaf commented on #206
Thanks  Fetulhak and fcakyon！Infact fackyon has gived a way in tutorial to convert coco dataset to yolo，it is useful.
![image](https://user-images.githubusercontent.com/73221711/131208722-59eb27ec-c630-4240-9e69-85cf052e0403.png)
# question
I have an immature question about using https://github.com/obss/sahi/blob/main/scripts/slice_coco.py I give default parameter but there is an error error: the

[2021-08-28 08:43] Fetulhak commented on #206
@Grenaf just add \\ at the end of the image path:  "E:\Yolo-to-COCO-format-converter-master\mydataset\images\train\\"

[2021-08-31 13:56] fcakyon commented on #206
@Fetulhak thanks a lot for your helps!

@Grenaf i see you have solved the issue, right?

[2021-09-03 01:59] Grenaf commented on #206
There is something in second question。yolov5 requires Class numbers are zero-indexed (start from 0)，I have a total of 6 classes, the class numbers are from 1-6 when i use your tool（Convert COCO dataset to ultralytics/yolov5 format in tutorial）。I will try
Fetulhak‘s way later

[2021-09-03 05:37] fcakyon commented on #206
@Grenaf you have to fix your COCO categories first. You can use such script for that purpose:
[code]

then you can convert yo yolov5 format:
[code]

[2021-09-03 14:21] abfleishman opened #213 "Add split to sahi?"
Often when creating a new dataset (using sahi to create slices on a larger image) users will want to split the new dataset into training, validation, and test datasets.  This is a little more complex when you are making overlapping slices.  Because of the overlap, the same part of the original image could end up in both training and test datasets even though the images are separate.  It could be n

[2021-09-03 14:39] fcakyon commented on #213
@abfleishman thanks a lot for your interest in the library!

You can split your coco formatted dataset into train/val as:

[code]

then run `sahi coco slice` command for splitted coco sets as:

[code]

[code]

and sliced training/validation images & annotations will be exported under `runs/slice_coco/`

[2021-09-03 14:40] #206 closed

[2021-09-03 14:43] fcakyon commented on #213
For all COCO utility function details, refer to: https://github.com/obss/sahi/blob/main/docs/COCO.md
For all `sahi` CLI details, refer to: https://github.com/obss/sahi/blob/main/docs/CLI.md

[2021-09-03 14:49] fcakyon commented on #213
@abfleishman I just realized your concern, currently creating train/val splits from a single image is not supported. But since the order of splits are preserved, you can spare the latest %10 images from coco annotation file for validation (set `overlap_ratio` as `0`).

[2021-09-03 16:20] fcakyon commented on #213
Closing the issue now, if you have any questions would gladly open it back :+1:

[2021-09-03 16:20] #213 closed

[2021-09-05 08:20] Fetulhak opened #214 "postprocess_type and postproces_match_metrics"
@fcakyon in most object detection tasks the IOU threshold and NMS are used to get the final prediction result. While you have setted the default values for these parameters as IOS and UNIONMEGE. are these parameters the most optimal in terms of performance?

[2021-09-05 10:46] fcakyon commented on #214
@Fetulhak for dense scenarios (50+ objects in frame as in visdrone-det dataset) and in similar target classes (tri-cycle/bi-cycle/motor as in visdrone-det dataset) IOU+NMS perform better but we have seen that in less crowded frames and distinct target classes (car/pedestrian/truck), IOS+UNIONMERGE perform better.

- You can use [`sahi predict`](https://github.com/obss/sahi/blob/main/docs/CLI.md#pr

[2021-09-05 14:35] katedou commented on #205
I got the same issue.

[2021-09-05 15:30] fcakyon commented on #205
@aquexel @katedou could you provide your images and annotation file (in google drive or one drive) so that i can recreate and fix the issue?

[2021-09-06 14:06] Grenaf commented on #214
It can be known that the IOU+NMS algorithm can remove duplicate bounding boxes of the same category,    postprocess_class_agnostic: bool，If True, postprocess will ignore category ids.https://github.com/obss/sahi/issues/200#issuecomment-900069625 When using the IOS+UNIONMERGE algorithm, you ignore the id, so it is still a single-category object that is judged in the end？

[2021-09-06 14:27] Grenaf opened #216 "Can I add different color bounding boxes and text for different classes when use visualize_object_predictions？"
When synthesizing the prediction result of the picture, I can adjust the color and annotate the text first. I found these annotation codes，
https://github.com/obss/sahi/blob/97459f8a221d25b91490a6a6399323e0c0933db6/sahi/utils/cv.py#L238-L261
https://github.com/obss/sahi/blob/97459f8a221d25b91490a6a6399323e0c0933db6/sahi/predict.py#L105-L126
# question
* Can I add different color bounding boxes and

[2021-09-07 12:52] weiji14 commented on #124
Hi there, thanks for this great library! I was wondering if the conda package could be updated to include Python 3.9 too. At the moment, https://anaconda.org/obss/sahi/files?version=0.8.0 is only showing support up to Python 3.8. Thanks :grin:

[2021-09-07 12:55] fcakyon commented on #124
@weiji14 thanks for your interest!

We are about to drop conda support. Currently sahi pypi package supports Python 3.9. You can install sahi for Python 3.9 using `pip install -U sahi`.

[2021-09-07 12:58] fcakyon commented on #214
IOU+NMS and IOS+UNIONMERGE works exactly same in terms of category ids.
If `postprocess_class_agnostic=True`, postprocess ignores category ids, else cross-category merging is not performed.

Comment again if you think my comment is not clear.

[2021-09-07 13:50] weiji14 commented on #124
Ah I see, is there a reason for dropping conda support? If it's to do with maintenance overhead, I can help start a community maintained conda-forge package for sahi.

[2021-09-07 14:05] fcakyon commented on #124
@weiji14 yes the reason was maintenance overhead. Would be awesome if you could help starting conda-forge package!

[2021-09-09 01:50] weiji14 opened #220 "Sahi CLI requires pycocotools and terminaltables"
Running a simple `sahi --help` on the command line doesn't work without `pycocotools` and/or `terminaltables` installed, even though they are not listed as required depedencies in [`requirements.txt`](https://github.com/obss/sahi/blob/0.8.1/requirements.txt) (`sahi` v0.8.1). Reported at https://github.com/conda-forge/staged-recipes/pull/16106#issuecomment-915235141.

Without `pycocotools`:

[code]

[2021-09-09 07:15] fcakyon commented on #220
@weiji14 thanks for the detailed reports! if tests pass, will merge into main: https://github.com/obss/sahi/pull/221

[2021-09-09 09:35] #220 closed

[2021-09-09 09:45] fcakyon commented on #220
@weiji14 it should be fixed with v0.8.2, would you try again?

[2021-09-09 21:48] fcakyon commented on #216
@Grenaf you can use [`sahi predict`](https://github.com/obss/sahi/blob/main/docs/CLI.md#predict-command-usage) script to perform sliced prediction to all pictures in a directory in one go.

[2021-09-09 21:49] fcakyon commented on #216
For classwise box color, i will work on a update when i find some time, cannot give you an ETA unfortunately :)

We are open to any PR by the way :100:

[2021-09-11 19:33] #214 closed

[2021-09-12 12:18] #203 closed

[2021-09-14 21:57] fcakyon opened #229 "handle when abs path is provided in coco_image for merging"
image dir should not be required when coco_image path is absolute: https://github.com/obss/sahi/blob/b28284380be0aabe4076d3835f67e51b059eefc6/sahi/utils/coco.py#L875

[2021-09-15 11:21] devrimcavusoglu commented on #229
isn't this case here for otherwise (for paths that aren't absolute) ?

[code]

[2021-09-15 11:46] devrimcavusoglu commented on #205
@aquexel @katedou have you checked the issue on shapely https://github.com/gboeing/osmnx/issues/278 ? It says closed with resolution, however, note that;

Can you confirm that you are not dealing such type of multiple polygons on your datasets ? Meanwhile, I search for a potential handle.

[2021-09-15 11:54] fcakyon commented on #205
@devrimcavusoglu yes sahi currently applies buffer to fix incorrect polygons 👍

[2021-09-15 11:57] fcakyon commented on #229
@devrimcavusoglu yes you are right, currently this check is causing errors. it fails even if the image paths are abolute: https://github.com/obss/sahi/blob/b28284380be0aabe4076d3835f67e51b059eefc6/sahi/utils/coco.py#L904

[2021-09-21 14:25] Kickjaw opened #231 "coco.export_as_yolov5 not working properly"
Hello

I have a custom data set of 5 classes in the coco data set form. When I run this data set through this function the output text files seem to be incorrect. the class labels in the output text files seem to be corresponding to a 1 indexed list instead of a 0 indexed list.

let me know if I am doing something wrong or if this is a bug.

example text file.
[code]

corresponding yml file genera

[2021-09-21 14:31] fcakyon commented on #231
Hello @Kickjaw, thanks a lot for your interest in the SAHI package!

YOLOv5 requires 0 indexed labels, in other words your category ids should start from 0 (not 1).

If your category ids are starting from 1, then you have to remap them before converting to yolov5 format. Refer to this comment on how to remap cateogry ids using SAHI: https://github.com/obss/sahi/issues/206#issuecomment-912270202

F

[2021-09-21 14:36] Kickjaw commented on #231
@fcakyon
Hi yes that is my issue that I am having. I running a coco data set through the coco.export_as_yolov5 method and the resulting yolo labels are 1 indexed instead of 0. I don't know if this is an issue coming from the root coco data set or a issue in the method.

[2021-09-21 14:38] Kickjaw commented on #231
@fcakyon
I looked at the Coco data set that I have and it is indexed off 1.

[2021-09-21 14:51] fcakyon commented on #231
@Kickjaw really great to hear that! Thanks a lot for contributing to the project, feel free to write if you have any more questions!

[2021-09-28 06:01] kurtjcu commented on #205
I had a similar issue and with a little digging and hacking i came up with the following work around (sahi/utils/shapely.py)

`def get_shapely_multipolygon(coco_segmentation: List[List]) -> MultiPolygon:
    """
    Accepts coco style polygon coords and converts it to shapely multipolygon object
    """
    polygon_list = []
    for coco_polygon in coco_segmentation:
        point_list = list(zip(

[2021-10-01 07:22] Guttappa1238 opened #232 "where i can set maximum detection per image?"
Hi,

i have more than 1000 objects in a image but i'm getting only 1000 objects detected image. how can i set `max_det`  ?

[2021-10-01 07:45] fcakyon commented on #232
@Guttappa1238 thanks a lot for using SAHI!

Would you mind giving some more info so that we can help you better?
- What is your `model_type`? (yolov5 or mmdet)
- What is your prediction type? (sliced or standard)
- What is your inference image size and slice size?
- Are you using CLI or doing a function call?

Would be great if you could share your inference code snippet.

[2021-10-01 08:07] Guttappa1238 commented on #232
Thanks for quick response,

1. `model_type` : yolov5
2. prediction type : tried both standard and sliced
3. `image_size` : 1280 (trained yolov5 with `--img_size` 1280)
4. doing function call
here is the snippet

[code]

[2021-10-01 19:45] fcakyon commented on #232
@Guttappa1238 you have to change `max_det` value of the yolov5 model: https://github.com/fcakyon/yolov5-pip/blob/5324365eacdf6cd58cfc37cc133bbc344f1922be/yolov5/models/common.py#L280

[code]

Closing the issue for now, feel free to write again if you have any questions!

[2021-10-01 19:45] #232 closed

[2021-10-03 08:48] WangRongsheng opened #233 "Use siha instead of yolov5 or mmdet"
What can I do if I want to use Sahi to segment my image instead of yolov5 or mmdet?

[2021-10-03 09:35] fcakyon commented on #233
@WangRongsheng thanks a lot for your interest in SAHI!

What do you mean by `sahi instead of yolov5 or mmdet`?

`sahi` uses yolov5 or mmdet as the inference backend. `sahi` can perform sliced or standard inference using yolov5 or mmdet backends.

[2021-10-04 08:21] aquexel commented on #205
Thank you, it works ! but I have a json file without annotation :/

[2021-10-04 08:43] aquexel commented on #205
Thank you it works !
Is it possible to name an image with special caracter like ç,é,à  ?
Because I've got strange name in the annotation file like F/a/c/v

[2021-10-04 09:01] aquexel commented on #205
Thank you it works !

[2021-10-05 14:40] aquexel opened #234 "high gpu memory usage on high resolution sliced instance segmentation result"
Hello guys,

I've got difficult for a slicing inference.
I tried to change the value of the GPU on the file but it doesn't work or I 've got a CUDA error memory
Have you got some advise ?
I work with CBnet with the swin-L + HTC++
Here is my error with my function

[code]
###  Use load_from_local loader

[code]
[code]

[2021-10-05 14:47] #205 closed

[2021-10-05 14:54] fcakyon commented on #234
@aquexel thanks a lot for detailed report!

It seems that 625 slice predictions (with masks included), does not fit to your gpu memory. You may try to increase the slice sizes (for less number of slices) or use an object detection model (instead of instance segmentation model).

Moreover, better prediction mask handling that uses less gpu memory is in SAHI TODO list at the moment but there is not

[2021-10-06 08:19] aquexel commented on #234
Is it possible to use cpu ?

[2021-10-06 08:58] fcakyon commented on #234
@aquexel sure! If you have enough cpu ram you should be able to run without any issues.

[2021-10-07 07:20] aquexel opened #235 "IndexError: list index out of range"
Hi,
For an inference with an overlap of 0.2 it works, but for 0.3 it doesn't work
Why I get this error ?

Thank you !

[code]

[2021-10-08 09:01] alijundi opened #236 "SAHI for C#"
Hi guys.

I need use this library in one of my apps in C#. Is there a port somewhere to c# or any similar library in c#?

Thanks

[2021-10-08 10:09] fcakyon commented on #235
@aquexel thanks a lot for your submission!

Would you mind sharing the sample image and weight file so that we can recreate your issue?

[2021-10-11 07:12] fcakyon commented on #236
@alijundi unfortunately there is no C# implementation/port of the SAHI at the moment. If anyone wants to work on implementation we could gladly promote it in our repo!

[2021-10-15 12:50] apanand14 opened #240 "KeyError: 'supercategory' while using sahi coco slice"

[2021-10-15 13:51] apanand14 opened #241 "shapely.errors.TopologicalError: The operation 'GEOSIntersection_r' could not be performed. Likely cause is invalidity of the geometry <shapely.geometry.multipolygon.MultiPolygon object at 0x00000136DA688B48"
Hello,

I'm facing this error for slicing the coco dataset and json files. Can you help me out what's the wrong?
Thank you in advance.

(temp_mask) C:\Users>sahi coco slice data\coco\train2017 data\coco\instances_train2017.json --slice_size 800 --overlap_ratio 0.2
Slicing step is starting...
indexing coco dataset annotations...
100%|█████████████████████████████████████████████████████████████████

[2021-10-18 09:58] #240 closed

[2021-10-19 07:30] fcakyon commented on #241
@apanand14 where should i download the data you are using, so that i can recreate the issue?

[2021-10-25 08:01] tureckova opened #255 "Slice coco dataset for instance segmentation"
Do you plan to extend the functionality for segmentation masks in instance segmentation format?

[2021-10-30 16:31] MdRanaSarkar opened #260 "How can I get predicted image and save image ?"
I've used this command for predicted . In my site everything works successfully . But one problem . Here predicted images not save . How can I save predicted images  or How can get predicted images ?
sahi predict --slice_width 256 --slice_height 256 --overlap_height_ratio 0.1 --overlap_width_ratio 0.1 --model_confidence_threshold 0.25 --source image/file/or/folder --model_path path/to/model --mode

[2021-10-30 18:30] fcakyon commented on #260
Thanks a lot for your interest in SAHI @MdRanaSarkar !

You have to add `--export_visual` argument to export visuals.

Here you can see details on all of the arguments: https://github.com/obss/sahi/blob/main/docs/CLI.md#predict-command-usage

[2021-10-30 18:30] #260 closed

[2021-10-30 18:31] #255 closed

[2021-11-01 07:37] tureckova commented on #255
Yep, I updated and it works. I need to update the system, too, since the update depends on python 3.8.

[2021-11-02 14:49] tomaspalecek commented on #241
I had the same error.
The likely case is you have error in the annotations.

Can be solved by adding try and except around slice_image function in slice_coco.

It is more a hack than a solution but it did the job in my case.

With this solution you can find which annotations are wrong in your dataset
[code]

[2021-11-03 05:04] fanweiya opened #263 "faster nms implementation"
I used sahi to cut the image and count the cells.this is [image.](https://kdocs.cn/l/sak4HJobioT8),But sahi spent a lot of time in postprocessing, and this kind of image took about ten Minutes.

this my code.
[code]

[2021-11-03 07:55] fcakyon commented on #263
@fanweiya when the number of proposals is very large, it is expected from postprocess to take long. You can increase the confidence threshold for faster postprocessing.

[2021-11-03 09:48] fanweiya commented on #263
you can use https://github.com/remydubois/lsnms

[2021-11-03 09:53] fcakyon commented on #263
@fanweiya thanks for your feedback! It is now in our roadmap but no ETA. We are open to any PR!

[2021-11-04 11:37] apanand14 commented on #241
@tomaspalecek Thank you so much for your reply! I tried and it's also working in my case. Means it skips that image and does not produce resulting images and does not include sliced annotations in resulting json file, right? Means with resulting json file, I can put model on train. Right? Correct me if I'm wrong

[2021-11-04 11:38] fcakyon commented on #241
We can implement this skip feature if that is fixing your issues 👍

[2021-11-04 11:44] apanand14 commented on #241
@fcakyon Yes. it's fixing issue for sure. As of now, I put 2500 images for slicing with coco annotation and it skipped approx. 18 images (probably because of wrong annoations with error f self-interaction at some points). I wanted to try out model training with sliced images and annotations.  it would be okay If i miss some images for training. so this feature would be helpful to many in my opinio

[2021-11-05 12:31] apanand14 commented on #241
@fcakyon I do not know I'm facing some issue. I sliced up approax. 400 HR images into 31,500 images (480*640). But I got annotations for only 40 images. I'm aware that images with only background won't have annotations but getting annotations for 40 images are very less. Can you help me what's happening in it if possible? TIA.

[2021-11-05 12:34] fcakyon commented on #241
@apanand14 are you sure you are using the latest SAHI version (v0.8.8)?

How many annotations do you have for the original 400 images?

[2021-11-05 13:45] apanand14 commented on #241
@fcakyon I'm using sahi v 0.8.4. I have annotations for all 400 images.

[2021-11-10 21:24] tureckova opened #265 "Sahi inference uses RGB chanel order versus mmdetection uses BGR chanel order"
While tracking down the error with Sahi slice prediction resulting in different output than mmdetection inference on some single slice of the image (mentioned in [issue](https://github.com/obss/sahi/issues/239#issuecomment-950621569) about test_pipeline in mmdetection), I found the error was due to the different order of the image color channels.

While you use the RGB channel order, the mmdetecti

[2021-11-10 21:39] fcakyon commented on #265
@tureckova thanks a lot for your valuable contributions! So we need to give BGR input for mmdetection backend and RGB input for yolov5 backend. Will work on a fix when I find some time!

[2021-11-14 19:44] #265 closed

[2021-11-14 19:54] fcakyon commented on #235
Sorry for the late reply, I cannot recreate the error using your data. What is the model type of your provided weight here? YoloV5 or MMDetection? It seems to be a MMDetection model but you did not provide a config.py which is necessary for all MMDetection models.

If you could help me recreate this error I will fix it in 1-2 days :+1:

[2021-11-14 20:56] #186 closed

[2021-11-14 20:56] #235 closed

[2021-11-14 21:09] #241 closed

[2021-11-15 09:37] #216 closed

[2021-11-16 02:38] Grenaf opened #273 "How can I get the precision, recall, map@0.5 of the network prediction using this slicing method？"
Hello fcakyon，in order to detect small targets, I used a lot of 640x640 slice images to train yolov5s（slice image labels are yolov5 format）, and then used sahi to take the high-resolution images synthesized for detection(high-resolution images are  prediction set, there are no labels).
* I have a question how can I get precision, recall, map@0.5 on the prediction set or validation set(high-resolut

[2021-11-16 10:20] fcakyon commented on #273
@Grenaf thanks for your valuable feedback!

As you mentioned, you can perform sliced inference, save results in coco result format and evaluate map50 map0.5: 0.95 etc following the steps mentioned here: 0.5: 0.95

[2021-11-16 10:21] fcakyon commented on #273
You have to convert your dataset into coco format before performing `sahi predict` and `sahi coco evaluate`.

[2021-11-17 09:12] Grenaf commented on #273
![image](https://user-images.githubusercontent.com/73221711/142170590-316fff62-7aec-4278-affd-fc3a505fc87d.png)
So I need to use the COCO format label, these two parameters need to set the image path of the test set（images） and the label（COCO fomat） of the test set

[2021-11-17 09:17] Grenaf commented on #273
I have a question. Two prediction methods are used in sahi. When I use the sahi coco evaluate --dataset_json_path dataset.json --result_json_path result.json command, which method will the model choose to evaluate the model。get_prediction() or get_slice_prediction()

[2021-11-17 09:36] fcakyon commented on #273
`evaluate` command does not decide that. You have to set it in the `predict` command as
`sahi predict --no_sliced_prediction` while creating the `result.json` file.

By default, `sahi predict` performs both sliced and full inference. Check the `predict` docs for the details: https://github.com/obss/sahi/blob/main/docs/CLI.md#predict-command-usage

[2021-11-17 09:38] fcakyon commented on #273
You need 2 things:
- a coco formatted dataset json file
- and a coco formatted result json file

COCO formatted result json file can be created using `sahi coco evaluate` command.

[2021-11-17 10:10] Grenaf commented on #273
![image](https://user-images.githubusercontent.com/73221711/142180520-a0b5293f-bfee-4774-b271-5c213b4ad7ee.png)
So I need these files, annotation file and results.json?

[2021-11-17 10:10] Grenaf commented on #273
![image](https://user-images.githubusercontent.com/73221711/142180520-a0b5293f-bfee-4774-b271-5c213b4ad7ee.png)
So I need these files, annotation file and results.json?

[2021-11-17 10:35] Grenaf opened #274 "Detect small and large targets at the same time using `sahi`?"
When I use sahi for object detection, some new ideas will always appear in my mind！If I use slice inference to detect small targets, then large targets will be split. What should I do if this happens? Like this situation，if I set slice 640x640！
![image](https://user-images.githubusercontent.com/73221711/142184501-12693edc-ced7-4f33-a566-840bbb8ee648.png)

[2021-11-17 13:16] fcakyon commented on #273
You are right!

[2021-11-17 13:19] fcakyon commented on #274
@Grenaf that's a great question!

By default, `sahi predict` applies both **sliced** and **standard** inference and merges the results. That should solve your issue since the larger objects will be detected by **standard inference** and the smaller ones will be detected by **sliced inference**!

[2021-11-17 13:22] fcakyon commented on #274
By the way this blog summarizes the remote sensing application of `sahi`. You can check it if you haven't seen already! https://blog.ml6.eu/how-to-detect-small-objects-in-very-large-images-70234bab0f98

[2021-11-18 01:12] phborba commented on #263
Hi, @fcakyon, how are you doing? First of all, congrats on the framework! It is fantastic! Are you guys interested in putting the lsnms that @fanweiya suggested? If you guys are willing to integrate it, maybe I could do it for you. What do you think?

[2021-11-18 01:17] phborba opened #275 "Question: plans for generic TorchVision models?"
Hi guys, how are you doing? First of all, congratulations on your work, it is incredible. Are you guys interested in integrating torchvision models? If you are, maybe I could do that for you. I am integrating your framework into mine, https://github.com/phborba/pytorch_segmentation_models_trainer, and it would be interesting if the torchvision models were included in sahi.

Please let me know if I

[2021-11-18 02:47] Grenaf commented on #274
* Thank you for your recommended website information. The blogger of the website is also doing small target detection.Their data set pixels range from 800x800 to 20000x20000。
* They also encountered a problem, usually the input image is scaled to a fairly small size, such as (1333,800), so a lot of information is lost.They used the method mentioned in the picture below。
![image](https://user-image

[2021-11-18 08:33] fcakyon commented on #275
Thanks a lot for your interest in SAHI @phborba!

If torchvision models have a common output api then we can implement a TorchvisionDetectionModel class that inherits from [DetectionModel class](https://github.com/obss/sahi/blob/21ecb285aa6bf93c2a00605dfb9b138f19d8d62d/sahi/model.py#L21).

If you could help on that, would be awesome!

[2021-11-18 08:35] fcakyon commented on #274
Thats correct!

[2021-11-18 08:38] fcakyon commented on #274
Yes you have to use both sliced images and full images in the training 👍

[2021-11-18 08:43] fcakyon commented on #263
@phborba i am happy to hear your nice words on the framework!

If you are willing to implement lsnms into `sahi`, we are open to accept your PR!

What you have to do is to add a new class named `LSNMSPostprocess` similar to our current [NMSPostprocess class](https://github.com/obss/sahi/blob/21ecb285aa6bf93c2a00605dfb9b138f19d8d62d/sahi/postprocess/combine.py#L103).

[2021-11-18 15:23] phborba commented on #275
Great! I'll start right away!

I was looking at the code, and I've got some questions:

1- I've noticed that [DetectionModel class](https://github.com/obss/sahi/blob/21ecb285aa6bf93c2a00605dfb9b138f19d8d62d/sahi/model.py#L21) only accepts configs. Are you willing to make it more generic so that it can also get pre-loaded models?

2- In my framework, I use hydra to instantiate configs. Are you inte

[2021-11-18 16:38] kadirnar opened #276 "kendi egittigim yolov5 modelini `sahi` ile kullanmak"
Merhabalar,

Pip üzerinden yolov5s modeli ile kendi veri setinde eğitim ve test aldım. Fakat sahi algoritmasını entegre ederken sıkıntı yaşadım. Kodun tamamı:

[code]

Bu kodu çalıştırdığımda resmin aynısını çıktı olarak veriyor. Console de şu uyarı mesajı alıyorum.

[code]

Açıkcası bununla ilgili blog,colab ve kendi github sayfasında çok arama yaptım fakat bilgi bulamadım. Yardımcı olabilir misi

[2021-11-18 20:01] fcakyon commented on #276
Merhaba @kadirnar, `sahi`ye olan ilginden ve sorun bildirimden dolayi cok tesekkurler!

Oncelikle bu hatayi aldigin ortamdaki sahi, torch ve yolov5 versiyonlarini bildirebilir misin?

Bir de hangi ortamda test ettin bu kod parcasini? Windows/Linux? Lokalinde mi yoksa Colab'de mi?

Verecegin bilgilere gore en kisa surede bir cozum bulmak isterim 👍

[2021-11-18 20:05] fcakyon commented on #276
@kadirnar bu arada hata vermeden sorunsuz bir sekilde calismis script. Model obje tespiti yapamamis olabilir mi?

Girdi olarak verdigin goruntunun boyutlari kaca kac?

Girdi olarak verdigin goruntudeki objelerin buyuklukleri yaklasik kac piksel?

[2021-11-18 20:08] fcakyon commented on #276
Bu paremetrelerle sliced prediction yapmak, girdi olan goruntuyu 256*256'lik kesitlere bolup + 640 girdi boyutuna interpolate edip + yolov5 modeline girdi olarak vermeye denk geliyor.

Egittigin yolov5s modelini slice edilmemis bir egitim setiyle egittiysen ya da farkli girdi buyuklugunde egittiysen, parametrelerle biraz oynamak gerekecektir.

Onceki postlardaki sorularima cevap verebilirsen adim

[2021-11-18 20:17] fcakyon commented on #275
What do you mean by `getting pre-loaded models`? Model loading should be implemented for your DetectionModel class but if you dont want to use it in your use case you can manually set the [model property](https://github.com/obss/sahi/blob/21ecb285aa6bf93c2a00605dfb9b138f19d8d62d/sahi/model.py#L197) with your pre-loaded model, it is up to you 👍

[2021-11-18 20:21] fcakyon commented on #275
We cannot force the sahi users to use hydra configs for torchvision models in general. You should implement `TorchvisionDetectionModel` class so that it accepts standard python type variables (int float str etc) as the inputs. Conversion from hydra config to sahi inputs should be handled in your framework.

[2021-11-18 20:23] fcakyon commented on #274
@Grenaf feel free to close this issue when you dont have any questions, you can open again in the future!

[2021-11-18 20:23] fcakyon commented on #273
@Grenaf closing this issue if you dont have any more questions! :)

[2021-11-18 20:57] kadirnar commented on #276
Merhaba @fcakyon Hocam,

**Versiyonlar:**

Yolov5: 6.0.4
Pytorch: 1.10.0
Sahi: 0.8.8
Spyder: 5.1.5
Windows Local

Yaptığım işlemler çok basit. İlk önce iki nesneli bir sınıfı imgs=640 boyunda ve 10 epoch değerinde eğittim. Test ettiğimde nesneleri tanıyordu. Bende direk sahi algoritmasında denemek istedim. Yolov5s6 yerine kendi modeli koydum. Özel bir işlem yapmadım.

Test ettiğimdeki sonuçları gi

[2021-11-18 21:45] kadirnar commented on #276
@fcakyon Hocam,

 confidence_threshold=0.1 değerini küçültmek işe yaradı diyebilirim. Fakat başarı oranını düşürdü diyebilirim.

 Pip üzerinden predict yaptığımda:

![output1](https://user-images.githubusercontent.com/36204372/142500461-a18e2638-798e-4e95-9ab9-7511fcece0df.jpg)

Yolov5DetectionModel fonksiyonu kullanarak predict yaptığımda:

![prediction_visual](https://user-images.githubuserconte

[2021-11-18 21:56] fcakyon commented on #276
@kadirnar bilgiler icin cok tesekkurler.

Oncelikle sahi versiyonunu `pip install -U sahi` diyerek son surume guncelleyebilir misin? Bircok bugfix geldi [v0.8.9](https://github.com/obss/sahi/releases/tag/0.8.9) ile birlikte :)

Sonrasinda bu sekilde sliced olmayan standard prediction almayi deneyip nasil output verdigini bildirebilir misin?

[code]

[2021-11-18 21:59] fcakyon commented on #276
@kadirnar bu hata modelin path'inin yanlis verildigini ve modeli yukleyemedigini gosteriyor.

Colab'de dosya path'leri genelde `content/` ile baslar, senin yazdigin root dizin olan `/runs`in gercekten mevcut oldugundan emin misin? Dogrusu `runs` seklinde bir relative path olabilir mi?

[2021-11-18 22:11] fcakyon commented on #276
@kadirnar bu arada weight dosyasini upload edip drive linki verebilirsen daha hizli tespit edebilirim sorunun kaynagini 👍

[2021-11-18 22:30] kadirnar commented on #276
Pip ile train ettiğimde ağırlık dosyaları orada oluyor. Modeli taşımak yerine direk yolu kopyala kısmından yol verdim. Colab üzerinde torch/yolov5/sahi versiyonları güncelledikten sonra cpu üzerinde denediğimde hata almadan çıktı alabildim.

[2021-11-18 22:38] kadirnar commented on #276
confidence_threshold=0.25 resmin çıktısında 0 object tespiti var. En yüksek doğruluk değeri 0.12

Çıktısı :  [sahi.docx](https://github.com/obss/sahi/files/7566468/sahi.docx)

confidence_threshold=0.1 yaptığımda,

Çıktısı:  [sahi-2.docx](https://github.com/obss/sahi/files/7566471/sahi-2.docx)

Resim çıktısı:
![prediction_visual](https://user-images.githubusercontent.com/36204372/142507805-c312c809

[2021-11-18 22:53] fcakyon commented on #276
@kadirnar bu model ile `yolov5 detect --weights best.pt --source images/` calistirdigim zaman hicbir tespit yapamiyor.

![1](https://user-images.githubusercontent.com/34196005/142509569-6b39e99f-c125-4a3b-b39c-5d48c9e9a90d.jpg)

Senin repondaki [Yolov5s Modeli Kullanarak Veri Setimizi Eğitelim](https://github.com/kadirnar/yolov5-pytorch/blob/main/README.md#yolov5s-modeli-kullanarak-veri-setimizi-e

[2021-11-18 23:04] kadirnar commented on #276
Yolov5s gibi küçük bir modeli 10 epoch da eğitip bu kadar yüksek başarı almasına şaşırmıştım 😅 Güzel bir model ile tekrardan sahi algoritmasını deneyeceğim. Yardım ettiğiniz için çok teşekkür ederim @fcakyon hocam.

[2021-11-18 23:04] #276 closed

[2021-11-18 23:10] fcakyon commented on #276
`yolov5` ve `sahi` paketleri uzerinde denemeler yaptigin icin asil ben tesekkur ederim @kadirnar 💯

`sahi` ve `yolov5` uzerinde hazirlayacagin her turlu acik kaynak calismada/tutorialde yardima hazirim, linkedin veya mail uzerinden de yazabilirsin bana 👍

Ilerleyen surecte dokumantasyon noktasinda gordugun eksiklerin olursa her turlu feedbacke de acigim, ekleriz hemen 😎

[2021-11-18 23:11] #273 closed

[2021-11-18 23:18] fcakyon commented on #265
@tureckova it is fixed in the latest release. Thanks a lot for your contribution!

[2021-11-19 00:29] phborba commented on #275
Great! Thanks for the guidelines! I'll start working on it!

[2021-11-19 01:23] Grenaf commented on #274
OK，thanks！

[2021-11-19 01:26] #274 closed

[2021-11-26 08:53] Fetulhak commented on #214
Hi @fcakyon may be I am mistaken but in the following code snippet under postproces.combine isn't it wrong to use the "if not self._has_match" and rather to use "if  self._has_match" . since based on the principles of NMS we should remove duplicate boxes with higher match than the threshold value

for candidate_object_prediction in source_object_predictions:
                if not self._has_match(

[2021-11-26 10:27] fcakyon commented on #214
Thanks a lot for pointing that out, your are right on that, opened a pr regarding it: https://github.com/obss/sahi/pull/287

[2021-11-29 10:48] g0lemXIV opened #289 "Add fp16 support to yolov5 loader"
Hello,
I think `model.half()` can be an improvement when the yolov5 model is loading with Cuda support.

[2021-11-30 17:00] fcakyon opened #293 "add huggingface demo gif"
![sahi_yolox_demo](https://user-images.githubusercontent.com/34196005/144092739-c1d9bade-a128-4346-947f-424ce00e5c4f.gif)

[2021-11-30 17:00] #293 closed

[2021-12-03 16:44] remydubois commented on #263
Hey, I am the developer of the `lsnms` library.
If you guys @phborba @fcakyon need help in integrating `lsnms.nms` into `sahi`, feel free to tag me in this thread.

Cheers

[2021-12-07 10:22] tureckova opened #298 "Misguidedly assigned image_id in results.json output from sahi predict"
Hello,
I generated the result.json via Sahi predict script and tried to run evaluation:
[code]
, but got this error:

The predict script runs without error; even the visuals_with_gt folder is generated. The data looked good to me, so I explored the JSON files. It seems that in results.json you do not assign the image_id right.

I have also attached the JSON files in question.
[annotations.zip](htt

[2021-12-07 18:06] fcakyon commented on #298
Thanks a lot for the feedback @tureckova!

We are using `sahi predict`, `sahi coco evaluate` and `sahi coco analysis` commands on daily basis without any issues. Could you give more detail so that I can spot the issue?

What is your `sahi` version? You can update to the latest version by: `pip install -U sahi`

Which arguments and parameters have you used for `sahi predict` command?

[2021-12-07 18:13] fcakyon commented on #289
@g0lemXIV thanks a lot for your interest in the `sahi` package!

You can currently convert the yolov5 model to fp16 as:

[code]

[2021-12-07 18:13] #289 closed

[2021-12-07 22:17] tureckova commented on #298
Thank you for your reaction.
I have the 0.8.13 version.

I use this set up of predict script:
[code]

[2021-12-07 22:31] fcakyon commented on #298
@tureckova I have confirmed the typo regarding `image_id`. Can you please `pip uninstall sahi` then `pip install git+https://github.com/obss/sahi.git@fix-predict` and try again if ids are created correctly?

[2021-12-08 12:31] gayathri81 opened #300 "RuntimeError: Sizes of tensors must match except in dimension 1. Got 12 and 11 in dimension 2 (The offending index is 1)"
Hello,
Thanks for sharing your work. I tried running standard inference using yolov5s6 model, but getting this weird error of tensors size match.
When I tried using yolov5 directly, there is no issue, but getting results through perform inference of Yolov5DetectionModel is causing size issue.
**Code:**

        import cv2
        import torch
        import sahi
        from sahi.model import Yolo

[2021-12-08 13:55] fcakyon commented on #300
Hello @gayathri81 thanks a lot for your interest in `SAHI`!

Unfortunately I cannot recreate the issue in the yolov5+sahi colab notebook: https://colab.research.google.com/github/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb

Can you update your yolov5 and sahi versions to the latest and try again? `pip install -U yolov5 sahi`

[2021-12-08 13:55] #300 closed

[2021-12-08 14:59] tureckova commented on #298
@fcakyon I did install a fixed version, and the image ids are OK, at least as I can tell from viewing and the coco evaluate script works. But the predictions are weird - there are only one or two detections in each image now, although I am using the same model as before.
The output JSON file is here:
[result.zip](https://github.com/obss/sahi/files/7676872/result.zip)

[2021-12-08 15:14] fcakyon commented on #298
@tureckova have you tried different `postprocess_type` , `slice_size`, `model_confidence_threshold`? What was your prior `sahi` version?

[2021-12-08 18:24] tureckova commented on #298
@fatih Well,I the left the set up the same as before and there had been
much more predictions as you can see in the previous JSON file with results.

On Wed, 8 Dec 2021, 16:14 fatih, ***@***.***> wrote:

[2021-12-08 19:09] fcakyon commented on #298
@tureckova I changed only 1 line (related to image id) in the `fix-predict` branch so the difference in the prediction result is not related with my fix.

Can you tell me what you have changed between the previous run and this run? What was the `sahi` version previously?

[2021-12-08 21:23] tureckova commented on #298
@fcakyon I tested the setup with different versions.
I originally used the version sahi==0.8.9 where you fixed the RGB channel order for mmdetection models #265, the predictions are fine except for the image ids.
Starting from the version sahi==0.8.12 the predictions are faulty and so are the image ids.

[2021-12-09 08:00] fcakyon commented on #298
@tureckova before 0.8.12, there was a bug on NMS postprocess, it is fixed with 0.8.12: https://github.com/obss/sahi/releases/tag/0.8.12

So here is what you can do to have more predictions:
- use lower `postprocess_match_threshold`
- change `postprocess_type`
- change `postprocess_match_metric`
- use lower `model_confidence_threshold `

So `sahi` is working as intended, you have to play with the p

[2021-12-09 08:06] fcakyon commented on #298
Additionaly `image_id` bug was present on v0.8.9-v0.8.13, it is only fixed in v0.8.14.

[2021-12-09 18:31] #298 closed

[2021-12-09 20:11] tureckova commented on #298
@fcakyon, thank you for your advice. When I changed the setup as suggested, the results were better.
But now I can see a problem with category id. I overlooked this before, sorry. The category_name is correct, but the category_id is different than it should be according to the original JSON file. Could you have a look at it, please?

[2021-12-09 20:15] fcakyon commented on #298
@tureckova it it most probably related with your training setup, can you provide your mmdet training config (and trained model). Because category names and ids are directly acquired from your provided mmdetection model file.

So please update your coco category names and ids to be same with your mmdetection model (category ids should start from 0, and there should be no background category).

[2021-12-10 12:56] Camilochiang opened #302 "sahi usage best practices + result report"
Excellence code! Just two question
1. In #274 you mention that by default saih run inference in both: slides and full image. Then you also mention that one should insert the tiles (cropped images) in your initial dataset for training YOLOv5. For me this is a conflict / trade off as you may change the RPN anchors of the model (therefore making it worse) . Isn't better to either run saih only in til

[2021-12-10 13:13] fcakyon commented on #302
@Camilochiang thanks a lot for your interest in `sahi`!

You are definitely right on that. 2 Separate models with different prediction behaviour would yield the best results. However, most of the users want to train single model for multi-scale object detection which is the reason of the default parameters. You can disable full or sliced inference so you can train and perform prediction with two s

[2021-12-10 17:42] #302 closed

[2021-12-11 07:37] fanweiya commented on #263
lsnms is fast, but How do I quickly make Numba warmup?

[2021-12-11 10:05] tureckova commented on #298
@fcakyon, thank you for your valuable advice. The truth is that in mmdet config, I have only the valid categories, while there is also the category "_backgroud_" in the original dataset JSON. To be honest, I am sometimes a bit lost whether the background category is on is not necessary. The modification of dataset JSON solved my problem. Thank you very much for your help.

[2021-12-11 11:14] fcakyon commented on #298
@tureckova glad to see your issue solved! Yes background class may be confusing in classification/object detection implementation :)

[2021-12-11 11:22] fcakyon commented on #216
@Grenaf this feature has been implemented by the way :) check this pr: https://github.com/obss/sahi/pull/271

[2021-12-11 13:32] Grenaf commented on #273
# Results do not correspond to current coco set
* sahi predict --slice_width 640 --slice_height 640 --overlap_height_ratio 0.2 --overlap_width_ratio 0.2 --model_confidence_threshold 0.6 --source F:\deeplearning_project\sahi_0.8.13\FWX\original\images\test --model_path F:\deeplearning_project\sahi_0.8.13\FWX\original\original_best.pt --model_type yolov5 --dataset_json_path F:\deeplearning_project\s

[2021-12-11 13:43] Grenaf commented on #216
OK I see，good！I have used this function。

[2021-12-11 14:00] Grenaf commented on #302
So is it necessary to separate the small target from the big target in the same picture, and mark its position in the background image that excludes the other side. For example, take a single target out of the picture and place it in another background picture？

[2021-12-11 14:06] fcakyon commented on #302
I did not get your question unfortunately, can you be more clear please?

[2021-12-11 14:11] fcakyon commented on #273
@Grenaf this issue is fixed with: https://github.com/obss/sahi/pull/299 but havent released a new version for sahi yet. You can either install sahi from main branch with: `pip install git+https://github.com/obss/sahi.git@main` or wait for a new release (will will happen today).

[2021-12-11 14:13] Grenaf commented on #273
Okay, don’t worry, look forward to your new news.

[2021-12-11 19:29] fcakyon commented on #273
@Grenaf latest version (0.8.14) is live!

[2021-12-11 20:29] monykini opened #304 "slicing a coco dataset with negative images"
I'm new to the data science scene , But I think there should be some empty annotations to decrease the number of false positives ?
On that note , I found a small problem .
With empty annotations while slicing I kept running into errors , and the reason was empty annotations
slicing.py Line 84 , Function annotation_inside_slice doesnt check within itself if the annotations are empty , or it isn't c

[2021-12-12 07:36] fcakyon commented on #304
@monykini thanks a lot for your interest in `sahi`!

You are right, it is a best practice to contain negative images that does not contain any annotations!

In this line there is a check if image contains any annotations so `sahi` can handle negative images: https://github.com/obss/sahi/blob/e18ca0009698947e945aaee5b630dd62750a678d/sahi/slicing.py#L318

I assume your coco json contain annotations

[2021-12-12 08:32] Grenaf commented on #302
![image](https://user-images.githubusercontent.com/73221711/145705529-56719429-8825-4119-b36a-b4649fb50776.png)
* For example like this，The resolution of the original picture is 10000x10000, put the big target and the small target in different 10000x10000 images, the small target image is trained by slice, and the big target image is trained by the original method.The final data set contains slice

[2021-12-12 08:54] Grenaf commented on #273
* Today I used sahi 0.8.14, but a new problem has arisen, and I am a little confused about the results of the evaluation.
  *  I use sahi predict --model_confidence_threshold 0.6 --source FWX/original/original_test_imageslabels --model_path FWX/original/original_best.pt --model_type yolov5 --no_sliced_prediction --dataset_json_path FWX/original/original_test_imageslabels.json --export_visual
  * s

[2021-12-12 09:51] fcakyon commented on #302
@Grenaf thanks a lot for the detailed visuals!

First of all, you should not delete annotation from images. As far I understood you are mentioning about deleting the annotation from images based on the annotation area (but the object is still present in the image). So in all cases, all of the annotations should be present in all of of the images.

If there are multiscale objects in your dataset, y

[2021-12-12 09:54] fcakyon commented on #273
@Grenaf it means that your category ids in your trained model and coco json dataset does not match. You have to fix the `categories` field of your coco dataset json to have proper evaluation.

In most cases, mapping category ids from 0 to N solves the issue. If you can provide your model i can tell you the proper category id to name mapping.

[2021-12-12 10:41] Grenaf commented on #273
* As you said, the category id I used when training yolov5 is indeed from 0-n, but converting the yolo label to the coco label way the category becomes 1-(n+1).According to your prompt, I checked my coco.json file, it is indeed as you said, my coco.json file category id is 1-(1+n), ![image](https://user-images.githubusercontent.com/73221711/145709060-d2fb67a0-401e-475d-a91c-7df2e401d02d.png)
* so

[2021-12-12 13:19] #234 closed

[2021-12-12 18:12] monykini commented on #304
Aha ! That must be it ! The thing is I exported my currently working YOLOv5 dataset to COCOdataset using Fiftyone , which threw it off  somehow . Thank you for clarifying I'll go through the generated annotations in the json once again

[2021-12-12 22:31] tureckova opened #305 "Explanation of results values"
Hello, I used the sahi coco analyze and evaluate scripts for results analysis (of course, using the same model and results.json file).
Should not the **bbox_mAP50** from the _sahi coco evaluate_ script and the value **C50** in Derek-P-R-curve from the _sahi coco analyze_ script be the same values? Viz picture below?

Thank you for your valuable advice.

![sahi_analyze](https://user-images.githubus

[2021-12-13 02:58] Grenaf commented on #302
* Maybe my expression is not clear,My mother tongue is not English, maybe there are some errors in my expression, I am sorry about that.
* If we use method one to train the network, the RPN anchor may change. Take the following figure as an example. I think this result is mainly caused by small targets. In the first method, both the sliced image and the original image in the data set contain small

[2021-12-13 06:53] Camilochiang commented on #302
@Grenaf  Dude, What is your mother language? . I assume that you are in the east part of the world for your writing times, but still..

[2021-12-13 08:22] fcakyon commented on #302
@Grenaf I understand your concerns but not sure if this image cropping approach would work.

Instead, you can train anchorless models (such as [varifocalnet](https://github.com/open-mmlab/mmdetection/tree/master/configs/vfnet), [autoassign](https://github.com/open-mmlab/mmdetection/tree/master/configs/autoassign), [reppoints](https://github.com/open-mmlab/mmdetection/tree/master/configs/reppoints)

[2021-12-13 08:26] Grenaf commented on #302
* ha ha, I will try, if the follow-up result is valid, I will leave a message again，Thanks！

[2021-12-13 08:41] fcakyon commented on #305
@tureckova thanks a lot for this report! There may be differences in default values (area thresholds, number of maximum detection etc). Will look into it today 👍

[2021-12-13 10:01] Grenaf commented on #273
* I found the problem. When I convert the yolo label to the coco format, the target category id in original_test_imageslabels.json is 1-6
![image](https://user-images.githubusercontent.com/73221711/145791231-2aafb508-7dac-4924-88fb-76d385859dd3.png)

* when I execute sahi predict --model_confidence_threshold 0.6 --source FWX/original/original_test_imageslabels --model_path FWX/original/original_be

[2021-12-13 10:24] fcakyon commented on #273
You model is trained with category ids 0-5 but your dataset json contains category ids 1-6. You have to map your category ids in the dataset json to 0-5. You can use sahi coco utilities to manage that: https://github.com/obss/sahi/blob/main/docs/COCO.md

[2021-12-13 13:58] remydubois commented on #263
To curb compilation time overhead, Numba implements a compiler cache (allowing to compile once and for all, per machine), which, unfortunately, does not work with recursive functions (which is used in `lsnms.nms`).
I know that they have been trying to solve the issue [(cf this issue)](https://github.com/numba/numba/issues/6713#issue-804901574) but it is still pending as of now.

I fear that until

[2021-12-13 20:01] fcakyon commented on #305
@tureckova thanks a lot for your amazing contributions to `sahi`! :rocket: :tada:

as i mentioned earlier, default params were not matching between `sahi coco evaluate` and `sahi coco analyse`. This PR fixes it: https://github.com/obss/sahi/pull/306

[2021-12-13 20:06] fcakyon commented on #305
![Screenshot from 2021-12-13 23-02-43](https://user-images.githubusercontent.com/34196005/145880784-1a56d12c-9855-45cf-abb7-49d78edc0714.png)

[2021-12-13 20:12] #304 closed

[2021-12-14 16:29] fcakyon commented on #305
@tureckova you are right they should be increasing, let me see if i forgot to update

[2021-12-14 16:35] #305 closed

[2021-12-14 16:36] fcakyon commented on #305
@tureckova you are right they should be increasing, just pushed a hotfix to @main branch, can you install from @main and check again if its fixed?

[2021-12-15 08:45] tureckova commented on #305
@fcakyon now it looks good :+1:. Thank you!
![evaluate](https://user-images.githubusercontent.com/32820891/146153227-82fea84b-5faa-4189-b0df-b8ac05548ee6.png)

[2021-12-19 12:32] kadirnar opened #310 "Warning: CUDA is not available"
Merhabalar,

Google colab üzerinden yolov5n modelini cpu üzerinden test ederken ekrana şu uyarı(warning) bastırıyor hata(error) olmadığı için çıktı alabiliyorum.

UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling

[2021-12-19 15:22] fcakyon commented on #310
Merhaba @kadirnar, yardimci olabilmem icin bazi bilgiler gerekiyor:
- `yolov5` ve `sahi` paket versiyonlarin kac? (yolov5 icin 6.0.6, sahi icin 0.8.15 olmali versiyonlarin)
- bu hatayi aldigin kodu buraya yazabilir misin sorunu tespit edebilmemiz icin

[2021-12-19 15:57] kadirnar commented on #310
Yükleme komutu:
[code]
Sahi Kodu:
[code]

Hata mesajı da sürekli şu hatayı tekrar ederek döndürüyor:
[code]

[2021-12-19 16:55] fcakyon commented on #310
@kadirnar detayli bilgiler icin cok tesekkurler.

Pytorch 1.10 ile gelmis bir bugmus: https://github.com/pytorch/pytorch/issues/67598, yolov5 veya sahi'nin calismasina engel olmuyor ama gereksiz bir warning mesaji bastiriyor sadece, takinda duzeltirler 👍

[2021-12-19 16:55] #310 closed

[2021-12-20 12:40] alijundi opened #312 "General question"
I am planning to pass full HD images or even bigger such as 4K. My question if put slicing parameter to 640 and there is an object in-between slices will that be detected? Meaning almost half in one slice and the other half is in the next slice.

What is the solution to this problem if it exists?

Thank you

[2021-12-20 12:59] fcakyon commented on #312
@alijundi thanks for your question!

By default, `sahi` applies %20 overlap between slices, you can change it by `overlap_ratio_height` and `overlap_ratio_width`.

[2021-12-21 08:31] alijundi commented on #312
@fcakyon thank you for your prompt answer. can you explain why in the colab notebook when I do:
!pip install -U torch sahi yolov5

i get:

 Attempting uninstall: opencv-python
    Found existing installation: opencv-python 4.1.2.30
    Uninstalling opencv-python-4.1.2.30:
      Successfully uninstalled opencv-python-4.1.2.30
ERROR: pip's dependency resolver does not currently take into account all

[2021-12-21 08:51] alijundi commented on #312
I am sorry to bother again. I managed to download the library to windows and I am trying to run it on CPU not CUDA.

I get the following error when I do the detection:

[code]

After than it quits with no output or exported visuals. Any idea why is that?

[2021-12-21 09:53] fcakyon commented on #312
It is not an error. It is a warning that does not prevent sahi. Everything works as expected. It is related with a bug introduced in torch 1.10 that prints incorrect warning message: https://github.com/pytorch/pytorch/issues/67598

@alijundi Iit is not an error. It is a warning that does not prevent sahi. Everything works as expected. It is related with a bug introduced in torch 1.10 that prints i

[2021-12-21 10:03] fcakyon commented on #312
I have just tried it in Colab and the Colab notebooks works as intended without any issues. The dependency conflict error is related with preisntalled Colab packages and does not affect `sahi`. You can safely ignore them. Notebook restart is required for Pillow pacakge and after restarting the notebook everything works as expected.

[2021-12-24 14:16] fcakyon commented on #139
closing this since its not a priority at the moment

[2021-12-24 14:16] #139 closed

[2021-12-24 14:17] fcakyon commented on #176
closing this since this is not a priority for us, feel free to open a pr

[2021-12-24 14:18] fcakyon commented on #155
closing this since no priority, feel free to open a pr

[2021-12-24 14:18] #155 closed

[2021-12-24 14:19] fcakyon commented on #236
closing this since there is no activity, feel free to open a pr

[2021-12-24 14:19] #236 closed

[2021-12-25 21:00] fcakyon opened #315 "add media"

[2021-12-25 21:00] #315 closed

[2021-12-25 21:02] fcakyon commented on #315
![installation_2](https://user-images.githubusercontent.com/34196005/147393580-3892d629-ee36-43f8-8dc1-85c74275ebf9.gif)

[2021-12-26 21:44] #312 closed

[2021-12-30 20:12] fcakyon commented on #176
there is a pr for this now: https://github.com/obss/sahi/pull/322

[2022-01-01 09:29] kadirnar opened #325 "The paths of the python files in the test folder are incorrect."
Merhaba @fcakyon Hocam,

Test klasöründeki python dosyaların img_path değişkeni içindeki dosya yolları yanlış. Örnek:

https://github.com/obss/sahi/blob/main/tests/test_yolov5model.py#L45
[code]
Zaten bu işlem tests klasöründe yapılmaktadır. Bu yüzden doğru yol şu şekilde olmalıdır.
[code]

Benim farkettiğim toplam 3 tane dosya var.
- https://github.com/obss/sahi/blob/main/tests/test_yolov5model.p

[2022-01-01 10:32] fcakyon commented on #325
Testler ana proje dizininden calistirilmali, o yuzden sorun yok su anki pathlerde :)

[2022-01-01 13:51] #325 closed

[2022-01-01 15:15] #263 closed

[2022-01-02 00:04] isspid opened #332 "ModuleNotFoundError: No module named 'sahi.postprocess.legacy'"
Hello, thank you for taking your time to work on this repo, the idea is amazing. I tried to use it just now, but I am getting the error below, both on Google Colab (the one provided by you) and on my Windows laptop. Any ideas how to deal with it?

[code]

[2022-01-02 07:47] fcakyon commented on #332
@isspid thanks a lot for your interest in `sahi`!

Can you try again with `v0.8.18`? You can update your `sahi` version by `pip install -U sahi`.

[2022-01-02 08:35] isspid commented on #332
Now it is working, thanks a lot for the fast response, really appreciate it. Good luck!

[2022-01-02 08:35] #332 closed

[2022-01-06 08:19] isspid opened #334 "using custom yolov5 model with `sahi`"
I am trying to follow the official Google Colab about sliced inference using Yolov5. I want to use it to apply sliced inference using a model I have trained on my own dataset. The dataset is of course different from the COCO dataset and also the classes are different.

Is there a way we can run inference based on our custom classes?

[2022-01-06 08:29] fcakyon commented on #334
@isspid thanks for your interest i `sahi`!

You can give your custom trained model path when initializing Yolov5DetectionModel:

[code]

Category names are automatically extracted from your provided model 👍

[2022-01-06 08:42] isspid commented on #334
Hey, thanks for the brief response, appreciate it as always.

That is why I tried but I got a detection named "bench" which is not part of my classes. I only have one class called "window".

I also tried to run sliced inference on my laptop, everything seems to work fine, I get information about the number of slices for each file, but inside the runs/exp folder I don't see anything, basically the

[2022-01-06 08:52] fcakyon commented on #334
@isspid what is your model name, if its one of the original model names (as `yolov5s.pt`/`yolov5s6.pt`/`yolov5m.pt` etc.) you have to change it to something else.

Can you send me your sample code you are running to export visuals? Currently I cannot recreate ay of your mentioned issues.

[2022-01-06 08:57] isspid commented on #334
![image](https://user-images.githubusercontent.com/91065022/148356330-8c45f743-cc84-4ed3-a3a3-d153d24e98ab.png)
Above you can see the code for declaring the model path.

![image](https://user-images.githubusercontent.com/91065022/148356475-a23723f8-de7a-47eb-bea6-074bdcfad56b.png)
Above the code for loading the model.

![image](https://user-images.githubusercontent.com/91065022/148356555-d4dac53d-

[2022-01-06 09:08] isspid commented on #334
After trying again, it is working fine on Google Colab, but I am still getting empty folders on my laptop. Do you have a suggestion on what I can try for a fix?

[2022-01-06 09:10] fcakyon commented on #334
@isspid it seems like something is wrong with your `best.pt`. Is it possible that you can send it so that i can inspects the fields of the model file?

[2022-01-06 09:11] fcakyon commented on #334
What do you mean by getting empty folders? Are you using CLI or Python script, what is the command/script you are using?

On CLI are you sure that you are adding `--export_visual`?

[2022-01-06 09:14] isspid commented on #334
This is the CLI input and output.
![image](https://user-images.githubusercontent.com/91065022/148358700-0091d5e0-21c3-44a7-8119-b78ed7a88310.png)

And this is the folder.
![image](https://user-images.githubusercontent.com/91065022/148358850-3c5cbd3e-8099-4a75-b6b1-6866e9799ef2.png)

[2022-01-06 09:18] fcakyon commented on #334
@isspid what is your `sahi` and `yolov5`? Are you sure you are using the latest versions?

[2022-01-06 09:23] isspid commented on #334
https://drive.google.com/file/d/196FDf2f6YWan23Q1kkG7c-McLFMd55IP/view?usp=sharing this is the best.pt model file that I am using.

I checked the versions of both yolov5 and sahi and they are up to date.

[2022-01-06 09:28] fcakyon commented on #334
@isspid this is what i am getting as output:
![image](https://user-images.githubusercontent.com/34196005/148360774-2f54a859-3597-4803-9fb8-333703df591f.png)

[2022-01-06 09:30] isspid commented on #334
is this after running it in the CLI? I got the same output from Google Colab, but when I run the CLI on my laptop, the process finishes without any errors but I don't get any predicted images on the /runs/exp folder, [as per this reply](https://github.com/obss/sahi/issues/334#issuecomment-1006399773).

[2022-01-06 09:33] fcakyon commented on #334
I am running on CLI with your given commands on Windows10, python 3.9.7, cudatoolkit 11.3, pytorch 1.10.0, sahi 0.8.18.

[2022-01-06 09:34] fcakyon commented on #334
Most probably you are having read/write right issues on those folders. Can you try on other disk (instead of C:) or other user?

[2022-01-06 09:39] fcakyon commented on #334
@isspid i spotted the issue, it happens when you give single image path as `--source` and that path is not not under current working directory. Will try to understand the bug better 👍

[2022-01-06 09:42] isspid commented on #334
thanks a lot for the help, I really appreciate it. Just take note that it also happens when the source is a directory and not a single image, probably in the same conditions that the source dir is not under the current working dir.

[2022-01-06 10:07] fcakyon commented on #334
@isspid you are right, just pushed some updates fixing these cases on windows to the branch `fix-export`. Can you please `pip uninstall sahi` then `pip install git+https://github.com/obss/sahi.git@fix-export` and try again if its fixed?

[2022-01-06 10:24] isspid commented on #334
@fcakyon Working flawlessly. Well done and thank you!

[2022-01-06 11:04] #334 closed

[2022-01-06 14:13] tureckova opened #337 "Performace comparision"
Hello,
Once again, thank you for your great job there.
I wonder whether you made some performance comparison of the results with different predict parameters set up. And also the comparison of results with and without your library. It would be good to have a reference on setting up the parameters, at least at the beginning.
Thank you for your reaction :smiley_cat:

[2022-01-06 14:28] fcakyon commented on #337
@tureckova it is a work in progress, i am planning to publish the results as a paper in a month :rocket:

[2022-01-09 11:39] FinnMers commented on #176
Thank you! Do you already know when you will merge the PR?

[2022-01-09 12:06] fcakyon commented on #176
@FinnMers we are planning to merge it next week :rocket:

[2022-01-10 09:53] fcakyon opened #346 "labelme2coco usage"
![labelme2coco](https://user-images.githubusercontent.com/34196005/148746639-9a7b9c08-2156-42ca-abae-a4e6aad095dd.gif)

[2022-01-10 09:53] #346 closed

[2022-01-10 13:01] becauseofAI opened #347 "about speed"
A great job!

Can you show the speed comparation with sahi and without?
@fcakyon

[2022-01-10 13:03] fcakyon commented on #347
You can consider `sliced ineference time = standard inference time x slice number` (considering image_size is the same for both cases.)

[2022-01-11 09:55] #347 closed

[2022-01-11 22:40] kadirnar opened #349 "LSNMS kütüphanesinin kullanımında NotImplementedError hatası"
Kod:

[code]
Hata kodun bulunduğu dizin:
[code]

Hata Mesajı:

[code]

[2022-01-11 22:50] fcakyon commented on #349
@kadirnar bildirim icin cok tesekkurler!

`pip uninstall sahi -y` yaptiktan sonra

`pip install git+https://github.com/obss/sahi.git@fix-lsnms` ile kurup tekrar deneyebilir misin?

[2022-01-12 00:01] kadirnar commented on #349
Kod satırı:
[code]
Hata Mesajı:
[code]

Daha sonra hata verdiği koda gidip şu düzeltmeyi yaptım.
[code]
Bu sefer de 1 satır aşağısıında kod satırı hata verdi.
[code]
Buradaki kodu silip düzenlediğimde ise category.id kısmında aynı hata türünde hata verdi. Bir yerden kaynaklı bir hata var gibi gözüküyor.

[2022-01-12 08:27] fcakyon commented on #349
@kadirnar cok tesekkurler tekrardan! simdi tekrar deneyebilir misin, duzelmis olmasi lazim 👍

[2022-01-12 09:02] kadirnar commented on #349
Başarılı şekilde çalışmaktadır. Fakat beklediğimden daha kötü çıktı diyebilirim. En azından ben bu nms algoritmasını tercih etmezdim diyebilirim. Nms algoritmaları karşılaştırmalı şu şekilde bir tablo güzel olabilir.

<img width="650" alt="teaser" src="https://user-images.githubusercontent.com/36204372/149096273-817e9b48-6094-4553-96ea-b24652ea3f8d.png">

Sahi+ GREEDYNMM:

![prediction_visual](htt

[2022-01-12 14:02] fcakyon commented on #349
@kadirnar NMM ile NMSyi karsilastirmak kolay degil cunku NMS akademik anlamda (0.01 confidence threshold) daha yuksek COCO AP sonucu veriyor ama pratik kullanimda (yuksek confidence threshold) NMM cok daha iyi sonuc veriyor. Uygun bir karsilastirma yontemi bulabilirsem karsilastirmayi dusunuyorum :

[2022-01-12 16:38] fcakyon commented on #121
closing since it is not in our priority. we are open to any pr!

[2022-01-12 16:38] #121 closed

[2022-01-12 16:39] #182 closed

[2022-01-13 09:59] #176 closed

[2022-01-13 10:12] fcakyon commented on #315
![predict_1](https://user-images.githubusercontent.com/34196005/149310540-e32f504c-6c9e-4691-8afd-59f3a1a457f0.gif)

[2022-01-13 11:06] fcakyon opened #356 "Evaluation & Error Analysis"
✔️ Create COCO formatted prediction results using COCO formatted dataset:

![coco_prediction](https://user-images.githubusercontent.com/34196005/149318888-71e693ae-8b23-4ee4-80a0-b0107db7f6e7.gif)

[code]

✔️ Calculate COCO evaluation metrics using the created result.json:

![evaluate_1](https://user-images.githubusercontent.com/34196005/149319312-ba861c08-e46f-4c66-980c-00e67b3de626.gif)

[code]

[2022-01-13 11:18] fcakyon commented on #315
![analyse_1](https://user-images.githubusercontent.com/34196005/149320775-a5c74722-d7c0-44ca-be80-5380a05fc2f8.gif)

[2022-01-13 11:29] fcakyon opened #357 "Interactive Result Visualization and Inspection"
✔️ Install fiftyone:

[code]

✔️ Start a fiftyone web app with your predictions results:

![fiftyone_result](https://user-images.githubusercontent.com/34196005/149321540-e6ddd5f3-36dc-4267-8574-a985dd0c6578.gif)

[code]

[2022-01-13 11:49] fcakyon opened #358 "List of Tutorials"
- [Introduction to SAHI](https://medium.com/codable/sahi-a-vision-library-for-performing-sliced-inference-on-large-images-small-objects-c8b086af3b80)

- [Satellite object detection](https://blog.ml6.eu/how-to-detect-small-objects-in-very-large-images-70234bab0f98) (NEW)

- [Error analysis plots & evaluation](https://github.com/obss/sahi/issues/356) (NEW)

- [Interactive result visualization and in

[2022-01-13 14:11] kadirnar commented on #358
Slicing operation notebook linki 404 vermektedir.

- https://github.com/obss/sahi/blob/main/demo/slicing.ipynb

Yanllış linklendirme yapılmış galiba

[2022-01-13 15:20] fcakyon commented on #358
@kadirnar its not giving any errors for me, can you try from another browser?

<img width="1392" alt="Screen Shot 2022-01-13 at 18 18 57" src="https://user-images.githubusercontent.com/34196005/149357642-a68b2d8e-b01d-47f9-a1e6-431a797835a1.png">

[2022-01-13 15:49] kadirnar commented on #358
Firefox ve Chrome üzerinde denedim. Not found 404 hatası veriyor. Bu gayet normal. Çünkü link issues kısmına verilmiş.

[code]
Link de issues kısmı olmamalı bence. Sizde nasıl açılıyor ona anlam veremedim :/

[2022-01-13 15:53] fcakyon commented on #358
@kadirnar thanks a lot mentioning, its fixed now! 🚀

[2022-01-13 16:45] fcakyon commented on #106
You can check this blog for small object detection from large satellite images using SAHI: https://blog.ml6.eu/how-to-detect-small-objects-in-very-large-images-70234bab0f98

[2022-01-13 16:45] #106 closed

[2022-01-13 16:45] #229 closed

[2022-01-16 07:43] XiangqingZhang opened #363 "How to insert SAHI into yolov5 source code"
I modified part of the yolov5 source code and don't want to use pip install yolov5， how can I insert SAHI ?

[2022-01-16 10:24] fcakyon commented on #363
Hello @XiangqingZhang where do you want to insert SAHI into?
Which yolov5 source code have you modified?
Why dont you want to use pip install yolov5?

[2022-01-17 08:11] XiangqingZhang commented on #363
Thanks for your reply. I changed yolov5-6.0 with tracking, counting for persons in aerial images. I want to replace yolov5 with SAHI in the inference output. So what can I do it

[2022-01-18 19:54] fcakyon commented on #363
Unfortunately we dont support custom code implementations. You can take current yolov5/mmdet/detectron2 implementations as reference: https://github.com/obss/sahi/blob/main/sahi/model.py

[2022-01-20 16:59] tureckova commented on #298
@fcakyon I tried the fifty-one visualization script and it seems that it has similar troubles with image ids as had the coco evaluate script discussed above. It obviously matches the predictions for a different image than the ground truth values came from.
Can you possibly check it? Thank you very much for your help :pray:

[2022-01-20 22:23] fcakyon commented on #298
@tureckova what is your sahi version?

[2022-01-21 11:24] tureckova commented on #298
You are right, I had v0.8.19 :astonished: , the upgrade fixed it. Thank you.

[2022-01-22 22:57] #363 closed

[2022-01-24 20:29] rkinas commented on #358
Hi,
I implemented SAHI and Yolov5 on Kaggle - please look here for more detail: https://www.kaggle.com/remekkinas/sahi-slicing-aided-hyper-inference-yv5-and-yx This is probably first such implementation on Kaggle. Now looking for ways to improve score.

[2022-01-24 21:21] fcakyon commented on #358
Just looked over your notebook. WOW, its so well prepared 💯 I would gladly help you on your experiments. You can also write to me over [Twitter](https://twitter.com/fcakyon) or [Linkedin](https://www.linkedin.com/in/fcakyon/) for faster response 👍

Also added your kaggle notebook url to the tutorials list!

[2022-02-01 12:38] isspid commented on #302
@fcakyon I am interested in the approach mentioned in point no. 2. Is there an established way how to do that? If not what would be the best approach to go about it, in your opinion?

[2022-02-01 12:56] fcakyon commented on #302
@isspid 2nd approach is not implemented in sahi but you can easily manage that by:

-  train `model1` on sliced images, train `model2` on full images

-  init `detection_model_1` and `detection_model_2` using sahi model classes (`Yolov5DetectionModel`, `Detectron2DetectionModel` or `MmdetDetectionModel`) with trained `model1` and `model2` weight paths

- perform sliced inference using `detection_m

[2022-02-01 13:03] isspid commented on #302
When I visit Turkey, I have to buy you a coffee. Teşekkürler!

[2022-02-01 13:18] fcakyon commented on #302
Haha you're welcome 😄 I would appreciate a flat-white ☕

[2022-02-04 10:04] tureckova opened #371 "Evaluation with mask"
Hi, if I run the evaluation script with masks, it returns the following error:
[code]
Also, I noticed that in the definition of eval function is an option:
`type (bool): 'bbox' or 'mask'`
while in the definition of evaluate_core function:
`metric (str | list[str]): Metrics to be evaluated. Options are 'bbox', 'segm', 'proposal'.`

I have the last version: 0.8.22. In some previous versions, the eva

[2022-02-04 10:17] fcakyon commented on #371
`type` should be `segm` instead of `mask`, i opened a pr fixing that docstring issue. Have you tried with `type=segm` ?

[2022-02-04 10:27] tureckova commented on #371
Yes, I gathered that `type` must be `segm`. :smile:
Screenshot of results.json file (generated via sahi) on the left side and dataset json file on the right side:
![Screenshot from 2022-02-04 11-25-03](https://user-images.githubusercontent.com/32820891/152513310-41d88ea8-5e70-46da-b416-dc0cd5dbbf4b.png)

[2022-02-04 10:31] tureckova commented on #371
Here are the JSON files in question
[annotation.zip](https://github.com/obss/sahi/files/8002039/annotation.zip)

[2022-02-05 08:02] fcakyon commented on #371
@tureckova thanks a lot for providing samples, will try to look into it in 2-3 days, currently very busy with some deadlines 😅

[2022-02-07 14:41] FinnMers commented on #273
Hi,
i would like to get the Average Recall on batch inferece, but COCO evaluate and analyse dont calculate Recall.
Can you help me in any way ?

[2022-02-10 21:50] fcakyon opened #377 "issue with huggingface spaces demo"
![image](https://user-images.githubusercontent.com/36204372/153501961-7c21d122-fc5e-4126-8d00-f534d0f673f0.png)

_Originally posted by @kadirnar in https://github.com/fcakyon/streamlit-image-comparison/issues/6#issuecomment-1035555291_

[2022-02-10 21:50] fcakyon commented on #377
@kadirnar lets continue the discussion here

[2022-02-10 21:59] kadirnar commented on #377
Error Message:

[code]

image-1:
![Screenshot](https://user-images.githubusercontent.com/36204372/153503606-49f1f3f4-f9ed-4a1a-9275-2f9d5212a9ae.png)

image-2:
![Screenshot from 2022-02-11 00-33-54](https://user-images.githubusercontent.com/36204372/153503657-bf708526-b1bc-4fa2-bb8b-650094642e70.png)

[2022-02-11 11:01] vgthengane opened #378 "How to use it with onnx or TFlite?"
I like to thank you for open sourcing your work.

I have successfully tried it with the `.pt` model. But I now I want to test it with other formats like `.onnx`, `.torchscript`, etc. How I can do it?

[2022-02-11 11:03] fcakyon commented on #378
@vgthengane thanks for your interest in `SAHI`!

Which model are you talking about? YOLOv5? MMDetection? Detectron2?

[2022-02-11 11:35] vgthengane commented on #378
Thank you for your quick reply.

I am interested in YOLOv5. Also, it is not related to `sahi` but do you think YOLOv5 will work to detect those small objects as shown in the attached image? Because even after training for 300 epochs I am not able to achieve good accuracy.
![2101220263_3](https://user-images.githubusercontent.com/39587792/153584476-245d94b4-6258-4ff6-b71a-7fed677bbf92.jpg)

[2022-02-12 10:53] fcakyon commented on #371
@tureckova please uninstall `sahi` with:

[code]

then install `sahi` from main branch:

[code]

I get these results with your provided files: [eval_result.zip](https://github.com/obss/sahi/files/8053212/eval_result.zip)

[code]

[2022-02-12 11:13] fcakyon commented on #334
@isspid new version `0.9.0` is live, update your `sahi` with `pip install -U sahi` 🚀

https://github.com/obss/sahi/releases/tag/0.9.0

[2022-02-12 11:13] fcakyon commented on #312
@alijundi new version `0.9.0` is live, update your `sahi` with `pip install -U sahi` 🚀

https://github.com/obss/sahi/releases/tag/0.9.0

[2022-02-12 11:14] fcakyon commented on #274
@Grenaf new version `0.9.0` is live, update your `sahi` with `pip install -U sahi` 🚀

https://github.com/obss/sahi/releases/tag/0.9.0

[2022-02-12 11:27] fcakyon opened #380 "publish `sahi` paper with initial results"
working on a paper on the effect of standard inference, slicing aided inference, slice overlap and slicing aided fine-tuning: https://github.com/fcakyon/sahi-benchmark

coming soon™

[2022-02-12 11:43] fcakyon opened #381 "add huggingface detector support"
add [DetrForObjectDetection](https://huggingface.co/docs/transformers/v4.16.2/en/model_doc/detr#transformers.DetrForObjectDetection) support by utilizing [AutoModelForObjectDetection](https://huggingface.co/docs/transformers/v4.16.2/en/model_doc/auto#transformers.AutoModelForObjectDetection)

[2022-02-12 18:17] kadirnar opened #382 "Mmdet: libtorch_cuda_cu.so: cannot open shared object file: No such file or directory"
Installation:
[code]
Code:
[code]

Error Message:

[code]

[2022-02-12 22:09] isspid opened #383 "change class index values when converting from coco to yolov5 format"
When I convert from the COCO annotation format to the YOLOv5 format, the index for the classes goes from 1 to number of classes and this is throwing up an error for me since I believe YOLOv5 expects them from 0 to number of classes minus 1. Is there a way to have control over this?

[2022-02-12 22:21] fcakyon commented on #382
@kadirnar what is your cuda, pytorch and torchvision version? How did you install cuda and pytorch? What is your GPU model?

What is the output of this code snippet:

[code]

[2022-02-12 22:37] kadirnar commented on #382
Output: ```True```

I am running it with cpu while predicting.
Torch Version: 1.10.2
Cuda Version: 11.3
TorchVison Version: 0.11.3

I ran this code for torch setup:
pip install mmcv-full==1.4.4 -f https://download.openmmlab.com/mmcv/dist/cu113/torch1.10.0/index.html

When I install Torch from the pytorch site, there is no error. Most likely, the installation commands in the readme section are inco

[2022-02-13 07:06] fcakyon commented on #382
Its still important to know which GPU do you have.

This command does not install torch, it installs `mmcv-full`. Have you installed the `torch` and `cuda` via `conda`?

[2022-02-13 08:54] #382 closed

[2022-02-13 10:35] fcakyon commented on #383
@isspid No problem at al! Im glad your issue is solved 🚀

[2022-02-14 14:50] tureckova commented on #371
Hmm, I updated to version 0.9.0 and still got the same error during evaluation. Evel, if I predict the results with the new version, where might be a catch?
Also, the results you posted seem weird to me since if I evaluate boxes only, I get mAP 0.39. Although, it might be due to changes in sahi parameters.

[2022-02-14 14:58] fcakyon commented on #371
Sorry @tureckova, I forgot to test `segm`, my bad. I performed eval on `boxes`. Opening the issue again 👍

[2022-02-14 19:11] fcakyon opened #384 "Competitions and Wins"
SAHI framework helped us win these competitions:
- [1st Place, Drone vs Bird 2021 Challenge, as OBSS AI](https://ieeexplore.ieee.org/abstract/document/9663844)
- [1st Place, Teknofest21 Aerial Object Detection Challenge, as HUMA](https://teknofest.org/en/competitions/competition/43)
- [1st Place in Large Vehicle Category, SSB Y3 2020 Wide Area Survelliance Challenge, as OBSS AI](https://y3.ogam.me

[2022-02-14 21:55] Bommi95 opened #386 "YoloV5 Ensembled model inference using SAHI"
Hi all,

I have two trained YOLOv5 weights that are used together to do image inference. I wonder if it is possible to do so with SAHI? Thank you!

[2022-02-14 22:01] fcakyon commented on #386
@Bommi95 currently it is not possible but we may add it in the future 👍

[2022-02-15 08:36] fcakyon commented on #380
- [Official paper](https://arxiv.org/abs/2202.06934)

[2022-02-15 08:36] #380 closed

[2022-02-15 13:18] vincent-vdb opened #389 "Unexpected behavior with zero width or zero height bool mask"
Hi and thanks a lot for your work!

When running the library, we encountered an issue in `annotation.py`, when the output bool mask of `get_bbox_from_bool_mask()` is `None`. It happened for example because of having a zero width or zero height mask, thus raising a `ValueError`.

[2022-02-15 13:25] fcakyon commented on #389
Thanks a lot for reporting your issue @vincent-vdb!

Which model are you using? MMDetection/YOLOv5/Detectron2?

[2022-02-15 13:45] vincent-vdb commented on #389
Thanks for your quick answer. We are using MMDet, we actually have a simple fix proposal, but it seems I can't push a new branch to propose it.

Basically, in `annotation.py`, line 539, switching the `raise ValueError` to `self.mask = None` fixes the issue on our side.

[2022-02-15 13:50] fcakyon commented on #389
@vincent-vdb you can fork this repo, push your update to a branch in your fork, then open a PR to this repo :rocket:. We are open to PRs :+1:

I have [opened a PR to fix this](https://github.com/obss/sahi/pull/390) can you test it by installing the sahi from branch `handle-invalid-mask`?

You have to first uninstall your current `sahi` installation by:
[code]

Then install `sahi` from branch:
[cod

[2022-02-15 14:19] vincent-vdb commented on #389
This PR does not fix the issue on my side :/

Here is the traceback if it can be of any help:
[code]

[2022-02-15 14:36] fcakyon commented on #389
@vincent-vdb with this update, it should skip the predictions with invalid masks: https://github.com/obss/sahi/blob/3c5649847982b204e29e8aa853796cc8e201c6c2/sahi/model.py#L321

I dont understand how can it reach `File "/opt/conda/lib/python3.8/site-packages/sahi/model.py", line 344, in _create_object_prediction_list_from_original_predictions` when there is an invalid mask.

[2022-02-15 14:43] fcakyon commented on #389
@vincent-vdb found the issue and updated. Can you please remove sahi and install again from branch and check if its fixed?

[2022-02-15 15:05] vincent-vdb commented on #389
It seems to be working now, thanks. At least I did not encounter the issue for the moment on the same data. Hope you can merge this PR soon!

[2022-02-15 16:41] #389 closed

[2022-02-15 16:42] fcakyon commented on #389
@vincent-vdb it is merged, you can install from master till next release!

Thanks for your feedback 🚀

[2022-02-16 11:54] zhuofalin opened #392 "YOLOV5 issue"
The error is: **AttributeError: 'NoneType' object has no attribute 'names'**  when i run inference_for_yolov5.py
And the error is opening: [**sahi/model.py line 421**]
@property
    def category_names(self):
        return self.model.names

[2022-02-16 12:09] fcakyon commented on #392
Hello @zhuofalin!

This error is mostly caused by providing incorrect model path. If you could send me your model I can confirm it.

[2022-02-16 12:18] zhuofalin commented on #392
i just run this demo from the url&nbsp;https://colab.research.google.com/github/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb, so ~~~
But i just run this inference_for_mmdetection.py demo from the&nbsp;&nbsp;&nbsp;https://colab.research.google.com .
so i want to solve those error by myself.&nbsp;
thank you! if i cannot,i will ask again~~

------------------&nbsp;原始邮件&nbsp;------------------

[2022-02-16 15:42] mustafaozx opened #393 "sahi on apple silicon mac"
Hello everyone, I am encountering a mistake when installing SAHI. I think this error is due to the need for the fiftyone library. While installing Fiftyone, I left the error I received below.
<img width="944" alt="Screen Shot 2022-02-16 at 18 41 32" src="https://user-images.githubusercontent.com/59654574/154300638-679aa53f-cc39-4e50-a947-7dfe05cfb101.png">

I think it says a mongodb connection is

[2022-02-16 15:56] fcakyon commented on #393
Hello @mustafaozx, thanks a lot for bringing attention to this issue!

`fiftyone` is not a core dependency and required only for interactive visualization. You can use the other `sahi` features without installing `fiftyone` 👍

[2022-02-16 15:59] fcakyon commented on #386
I'm closing it for now

[2022-02-16 15:59] #386 closed

[2022-02-17 00:00] #393 closed

[2022-02-17 05:00] zhuofalin opened #396 "mmDetection issue"
I run this demo from **https://colab.research.google.com/github/obss/sahi/blob/main/demo/inference_for_mmdetection.ipynb** and find error

-> this error was shown in result.to_fiftyone_detections()[0] [inference_for_mmdetection.py (line 117) ] in this project
by the way, i work in win10 system,maybe it is reason~~~

[2022-02-17 05:00] zhuofalin commented on #396
wanted to help~~

[2022-02-17 08:36] fcakyon commented on #396
Hello @zhuofalin, so you have run the demo notebook in your local windows 10 machine, and not in colab right? Cause fiftyone may cause some issues on Google Colab.

If you could paste the full error log I can help you fix your issue 👍

[2022-02-17 08:37] fcakyon commented on #392
Hello @zhuofalin have you solved your issue? If not, can you give some more detail on your issue?

[2022-02-17 08:48] zhuofalin commented on #396
**Thank you for your reply and help, the following is the error message when the program is running.**
Uncaught exception
Traceback (most recent call last):
  File "H:/testProgect/inference_for_mmdetection.py", line 117, in <module>
    result.to_fiftyone_detections()[0]
  File "D:\anaconda\lib\site-packages\sahi\prediction.py", line 201, in to_fiftyone_detections
    import fiftyone as fo
  File

[2022-02-17 08:56] zhuofalin commented on #396
(*^_^*)
The version of **sahi** is 0.9.0 and the version of **fiftyone** is 0.14.4
😀

[2022-02-17 11:56] fcakyon commented on #396
@zhuofalin I have tried running demo notebooks on Windows 10 with `sahi==0.9.0` and `fiftyone==0.14.4` and there is no error/issue when calling `to_fiftyone_detections()` method. You can try a fresh install on a new conda environment or open an issue on [fiftyone repo](https://github.com/voxel51/fiftyone).

[2022-02-17 11:56] #392 closed

[2022-02-18 01:23] zhuofalin commented on #396
Done!!  😀
Thank you for your help~ 谢谢👏
👍

[2022-02-18 01:24] zhuofalin commented on #392
Done!! 😀
Thank you for your help~ 谢谢👏
👍

[2022-02-22 07:49] wilile26811249 opened #397 "CUDA out of memory, even I load the model with cpu"
I load the yolov5 model in cpu.
When I inference with it, it cause the out of memory.
`detection_model = Yolov5DetectionModel(model_path=model_path,confidence_threshold=0.3,device="cpu", image_size=1280)
result = get_sliced_prediction("test.jpg",detection_model,slice_height = 256,slice_width = 256,overlap_height_ratio = 0.2,overlap_width_ratio = 0.2)`

Here is the error msg:
`RuntimeError: CUDA er

[2022-02-22 09:04] #397 closed

[2022-03-01 06:38] aiyodiulehuner opened #400 "OSError: [Errno 36] File name too long when use mmdetection"

[2022-03-02 13:21] XiangqingZhang opened #401 "inference with videos and the speed fps of sahi"

[2022-03-02 13:23] XiangqingZhang commented on #401
Hi， can I detect with yolov5 by inputting video?

[2022-03-02 18:39] fcakyon commented on #401
@XiangqingZhang currently SAHI doesnt support video input. It supports single image and a folder of image as input. FPS depends on the detector used.

[2022-03-02 18:40] fcakyon commented on #400
Hello @aiyodiulehuner, can you provide more detail on which function/script you have used? This issue seems to be not related with SAHI but related with your local file directories.

[2022-03-04 09:10] kadirnar opened #402 "Most likely due to a circular import"
Merhaba  @fcakyon Hocam,

https://github.com/obss/sahi/blob/main/sahi/utils/torch.py#L5-L7 torch.py dosyasını çalıştırırken kütüphanelerde hata veriyor.

Error Message:
[code]
İlk önce sürüm ile ilgilii olduğunu düşündüm. Torch'un Lts sürümlerini yüklediğimde aynı hata veriyor. Dosya ismini torch_utils değiştirdiğimde hata vermedi. Kütüphanelerin çakıştığından böyle oluyor galiba.

[2022-03-04 09:17] fcakyon commented on #402
@kadirnar torch.py modulunu direkt olarak run etmeyi desteklemiyoruz. Ana proje dizininden import ederek kullanilmasi gerekiyor. Ornek kullanim su sekilde olabilir:

[code]

[2022-03-04 09:21] #402 closed

[2022-03-04 16:38] mm-e1 opened #403 "Question regarding an inference server"
Hi, is there an inference server available that implements sahi?

Regards,
M

[2022-03-04 20:42] #401 closed

[2022-03-04 20:42] #400 closed

[2022-03-08 07:57] diable0709 commented on #392
the error happen when I use device="cuda",

[2022-03-08 16:51] kaphleamrit2 opened #404 "Inference on custom trained model"
I am trying to run object detection and instance segmentation on large images using SAHI. I have trained MaskRCNN model on Detectron2 and save model as "/content/output/object_detection/model_final.pth" and config file as "/content/OD_cfg.pkl".
Then I used

[code]
But I am getting the error: /content/OD_cfg.pkl not available in Model Zoo!. I can't run the prediction. I think I am missing something

[2022-03-08 17:32] fcakyon commented on #404
Thanks a lot for the issue @kaphleamrit2 !

We currently only support yaml config files for Detectron2 models. Check this post to details on how to save model config as yaml file: https://medium.com/codable/perform-sliced-inference-and-detailed-error-analysis-using-detectron2-models-37063e33073f

[2022-03-08 17:57] kaphleamrit2 commented on #404
Thank you @fcakyon. It works perfectly after I used yaml config file. Thanks for the help.

[2022-03-08 18:26] fcakyon commented on #404
Glad to hear that @kaphleamrit2 🚀

[2022-03-08 18:26] #404 closed

[2022-03-11 12:37] Linaom1214 opened #406 "C++ support ？"
Good Job！！！

I use this package in my work. it is very useful, thanks for your kaggle notebook. in the future will provide a c++ demo?

[2022-03-11 14:38] zhaogev5 opened #407 "Can this code be used on large picture like 5000*5000pixel?"
wonderful work and I wonder how can I use this work on some large pic like remote sensing which is huge.

[2022-03-11 19:18] kadirnar commented on #407
Which artificial intelligence model do you want to use? Yolov5? Detectron2? MMdet?
Can you send the picture?

[2022-03-12 06:54] fcakyon commented on #407
Hello @zhaogev5! Yes `SAHI` can handle large remote sensing pictures, check the paper for results on `xView` satellite imagery dataset: https://arxiv.org/abs/2202.06934

You can follow the notebooks to perform sliced object detection on large images: https://github.com/obss/sahi/tree/main/demo

There is also a blogpost on satellite object detection with `SAHI`: https://blog.ml6.eu/how-to-detect-sm

[2022-03-12 07:19] zhaogev5 commented on #407
Thank you for your prompt reply！

[2022-03-12 08:31] #407 closed

[2022-03-14 09:53] 66Ethanwang opened #409 "how to use my own yolov5 model to infer"
Excuse me，i trained my own yolov5 model and i already added opts in to the commen.py ,but It can't read the correct parameters of the backbone，I don't know if I overlooked something。

Below is my backbone parameter：
yolov5.models.yolo -     0                -1  1      3520  yolov5.models.common.Conv               [3, 32, 6, 2, 2]
 yolov5.models.yolo -    1                -1  1      1932  yolov5.mo

[2022-03-14 14:01] fcakyon commented on #403
Hello @mm-e1, thanks for your question. What do you mean by inference server? You mean dockerfile/docker image/web app? Can you be more specific?

[2022-03-14 14:01] fcakyon commented on #406
@Linaom1214 in the near future we dont have any plans but all types of PRs are welcome!

[2022-03-14 15:50] mm-e1 commented on #403
Hi, yes.

I have a use case where I would like to inference using a sahi service in:

1. a batch mode - where I would like to process a lot of images in a folder. it would be ideal if i could use multiprocessing to bring up multiple instances of the model to inference the batch faster.
2. transactional mode from a web app. it would be ideal if i could interface my web app over rest or grpc. simila

[2022-03-15 02:37] kaphleamrit2 opened #410 "Inference for Detectron2 PointRend_X101-FPN_model"
I have trained the PointRend_X101-FPN model on Detectron2. But I am getting the following error during inference. I wonder whether the PointRend model is supported or not? Does anybody have any idea what's going on here?

Thank you!

`/content/drive/MyDrive/Detectron2/PointRend_X101-FPN_model/object_detection/config_original.yaml not available in Model Zoo!
----------------------------------------

[2022-03-15 03:22] hyfaf commented on #410
you can try to get config file directly. don't get from model_zoo

[2022-03-15 05:00] HarshVardhanGoyal opened #411 "How to use slicing with one shot learning"
Hey, thanks for the very well explained implementation, I wanted to implement this but for one-shot object detection. Can you point out the changes this repo will require?

[2022-03-15 11:16] kadirnar commented on #410
Hi @kaphleamrit2

SAHI supports object detection and instance segmentation models.

Detectron2 Object Detection: https://github.com/facebookresearch/detectron2/blob/main/MODEL_ZOO.md#coco-object-detection-baselines

Detectron2 Instance Segmentation: https://github.com/facebookresearch/detectron2/blob/main/MODEL_ZOO.md#coco-instance-segmentation-baselines-with-mask-r-cnn

[2022-03-15 11:26] kadirnar commented on #410
To test the custom detectron2 model you should follow the steps here.

- https://github.com/kadirnar/Detectron2-SAHI/blob/main/test_sahi_d2.py

[2022-03-15 11:29] kadirnar commented on #409
To test the custom Yolov5 model you should follow the steps here.

https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb
or
https://github.com/kadirnar/yolov5-pytorch-sahi/blob/main/yolov5_sahi.py

[2022-03-15 11:39] fcakyon commented on #410
@kaphleamrit2 you have to export your detectron2 config as yaml, then use the config path during Detectron2DetectionModel initilialization. Details on how to export Detectron2 config as yaml can be found in this blog post: https://medium.com/geekculture/perform-sliced-inference-and-detailed-error-analysis-using-detectron2-models-8d9c551953f3

[2022-03-15 11:41] fcakyon commented on #411
Hello @HarshVardhanGoyal, `sahi` can support any detector following these steps: https://github.com/obss/sahi#contributing

Check this repo on how to implement zero shot object detector with `sahi`: https://github.com/machinelearnear/large-scale-object-detection-with-sahi-detectron2

[2022-03-15 15:37] kaphleamrit2 commented on #410
I followed above mentioned procedure but still got same error. I tried other model (Faster_RCCN_R50, Mask RCNN X 101) that works without any error. But PointRend_X101-FPN model gives this error.
I saved my trained model as :
`model_path = "/content/drive/MyDrive/Detectron2/PointRend_X101-FPN_model/object_detection/model_final.pth"`

Here is my custom cfg:
[code]
export my model cfg file as:

expor

[2022-03-15 16:55] kadirnar commented on #410
Hi @fcakyon

This model does not work in the SAHI algorithm. It may be because of the point format.
Code:
[code]
Error Message:
[code]
and
[code]
[code]
Output (demo_data/prediction_visual.png):

![output](https://user-images.githubusercontent.com/36204372/158428818-d0ba0cfa-3b64-41f4-8f71-440c36a1a5df.png)

[2022-03-15 19:03] HarshVardhanGoyal commented on #411
Thanks for the quick response, this is really helpful!

[2022-03-15 22:44] devrimcavusoglu commented on #403
Hi @mm-e1, there is no such web inference service for sahi officialy (do not know any third party). We have HF Spaces for demonstration purposes and you can upload your image by drag & drop there and see the result; however, I don't think it can process your potentially batch inference (usually the request/min is limited). As you may've presumed such services are costly (both in terms of pricing a

[2022-03-16 09:54] 66Ethanwang commented on #409
got it ,and thanks  a lot.
I finally found the reason for this problem because I modified the operator in the file common.py

[2022-03-16 17:10] #403 closed

[2022-03-16 19:04] fcakyon commented on #409
@66Ethanwang yes custom implementations of yolov5 are not supported on the fly, you have to update sahi/models.py for your needs 👍

[2022-03-17 01:43] Linaom1214 opened #412 "Some questions about my model"
In my model, there is always a fake target in the upper left of the image, and I tested this for all sequences

![2022-03-17_09-37](https://user-images.githubusercontent.com/60921095/158719723-8870989e-69e2-4c97-8817-2e8103ede84c.png)

Here is my code

[code]

is some wrong ?

[2022-03-17 01:45] Linaom1214 commented on #406
thanks !!!!   can you help me  in  #412

[2022-03-17 01:45] #406 closed

[2022-03-17 05:36] 66Ethanwang commented on #409
got it,but i have another question , in the function get_sliced_prediction ,i set the  slice_height=1680,and slice_width=1680, After image slicing，Yolov5 does it directly use (1680，1680) to predict? Or where it will use the letter_box? i debug many times but I couldn't find the answer.

[2022-03-17 06:54] fcakyon commented on #412
@Linaom1214 have you tried calling `get_sliced_prediction ` with `perform_standard_pred= True`? Does the issue persist that way?

[2022-03-17 06:56] fcakyon commented on #409
@66Ethanwang by default yolov5 will perform inference on 640 size, you can update `image_size` param at Yolov5DetectionModel class init.

[2022-03-17 07:12] Linaom1214 commented on #412
thanks very much .  Isolve my issue

[2022-03-17 07:19] #412 closed

[2022-03-19 01:45] LawVP-SP commented on #358
Good afternoon. First of all congratulations on the success of your project. I had a question and I don't know if this is the right place. I have been trying to replicate the experiments regarding the dataset named Visdrone but I am having some problems. The parameters to perform the training are as follows:

SGD optimizer:
-Learning rate of 0.01
-Momentum of 0.9
-Weight decay of 0.0001
-Linear wa

[2022-03-19 12:37] YiguanLiao opened #414 "Slicing performed time"
Hi, I divied a 1080x1920 image into four parts, which took 0.0606 seconds. Although the small target detection result is better, the overall time is much slower. Is there a good way to balance the two?

[2022-03-19 14:06] fcakyon commented on #358
Hello @LawVP-SP, for the visdrone results, COCO pretrained models are finetuned on Visdrone dataset with all 10 classes ignoring `ignore` and `other` classes.

[2022-03-19 14:51] fcakyon opened #415 "training details"
Good afternoon. First of all congratulations on the success of your project. I had a question and I don't know if this is the right place. I have been trying to replicate the experiments regarding the dataset named Visdrone but I am having some problems. The parameters to perform the training are as follows:

SGD optimizer:
-Learning rate of 0.01
-Momentum of 0.9
-Weight decay of 0.0001
-Linear wa

[2022-03-19 14:53] fcakyon commented on #358
Lets continue this discussion in https://github.com/fcakyon/sahi-benchmark/issues/1

[2022-03-21 13:03] IvanGarcia7 opened #416 "Fine-Tuning Details about your proposal"
Good morning.

I have been reading your proposal and would like to cite it in one of my papers. However, I would like to clarify some details. I have seen that it is contemplated the re-training applying SAHI.

How does it work exactly, do you re-train with the outputs obtained after applying YOLOv5+SAHI or do you use the dataset dedicated to Visdrone training already annotated previously?

On the

[2022-03-21 13:08] fcakyon commented on #416
Hello @IvanGarcia7, thanks for your interest in SAHI!

Let's continue the paper related discussion here: https://github.com/fcakyon/sahi-benchmark/issues/1

[2022-03-21 14:00] #416 closed

[2022-03-24 19:40] fcakyon commented on #414
Hello @YiguanLiao, there is a tradeoff between performance and duration. You can increase the slice size or decrease the postprocess match metric threshold for faster sliced inference.

[2022-03-25 02:10] YiguanLiao commented on #414
Thank you @fcakyon . Is it possible for SAHI to use batch-inference?

[2022-03-25 07:06] zhouxinzhu-maker opened #417 "Division by zero"

[2022-03-25 13:37] zhouxinzhu-maker commented on #417
Please forgive my ignorance, there is dirty data in the COCO dataset and I will clean it up

[2022-03-26 06:25] EKivutha commented on #358
Hey any idea on how to genereate a video from the video, the only feed I get is one with overdrawn bounding boxes

[2022-03-26 14:31] fcakyon commented on #417
Hello @zhouxinzhu-maker, it means your coco json file contains annotations with 0 area which should be fixed :+1:

[2022-03-26 14:31] #417 closed

[2022-03-26 20:40] austinmw commented on #414
Hi, I'm also curious if the tiles are all ran through the model as a batch or if each tile is predicted on in a loop

[2022-03-28 11:22] AndrewGuo0930 opened #418 "Inference with multiple GPUs"
Hi! I have to say that this tool is so powerful and easy to use with my own MMDetection model, but I still have some problems about inferencing with multiple GPUs. I wonder whether I can run the predicting procedure with multiple GPUs or not.
I've tried the code below to infer with multiple GPUs, but it seems that when I changed the number of GPU, the inference speed didn't change.
Could you pleas

[2022-03-28 13:26] Guttappa1238 opened #419 "how to hide labels and confidence score on the inference image using yolov5+sahi?"
Hi,

I am trying this snippet for hiding Labels and scores on the inference image
[code]
but i got this error
[code]
can anyone help me how to hide labels and score on detected bounding box?

Thanks advance

[2022-03-28 15:27] claudio9russo7 opened #420 "Can I obtain a simil file like the file from the command --save-txt of Yolov5?"
Hello
i didn't find anything but maybe i'm looking wrong, is it possible to get a txt file like the one you get by doing the inference with yolov5 on the pictures?

[2022-03-28 16:14] JosephXay commented on #358
Could you provide a tutorial to fine-tune models with your proposal in my custom dataset? I really know how to do that

[2022-03-28 16:17] fcakyon commented on #358
Currently there is no video input support, you can extract the frames, perform `sahi` inference on the folder, then convert the frames back into a video.

We are open to any feature pull requests by the way 🚀

[2022-03-28 16:19] fcakyon commented on #358
You can find the mmdet config files used for slicing aided fine-tuning on the xview and visdrone datasets here: https://github.com/fcakyon/sahi-benchmark/tree/main/mmdet_configs

Also check this tutorial for a detailed blog post on slicing aided fine-tuning and inference on satellite imagery: https://blog.ml6.eu/how-to-detect-small-objects-in-very-large-images-70234bab0f98

[2022-03-28 16:21] JosephXay commented on #358
Thankss ;)

[2022-03-29 01:01] JosephXay commented on #358
Hello again! I tested these 2 notebooks:

https://colab.research.google.com/github/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb
https://colab.research.google.com/github/obss/sahi/blob/main/demo/inference_for_detectron2.ipynb

I want to perform slicing aided fine-tuning in a custom dataset. I saw the link that you provide me (https://blog.ml6.eu/how-to-detect-small-objects-in-very-large-imag

[2022-03-29 02:03] saidineshpola opened #421 "Empty predictions in output directory"
I tried using `sahi predict` command to generate predictions for mmdet model, but the output directory is empty. I also changed the threshold, but it didn't help. I am getting inference result on single image but it fails when I use the predict command.

[2022-03-29 05:12] devil1213 opened #422 "ask for help about YOLOV5"
How to add SAHI to the source code of the YOLOv5 model that has been trained

[2022-03-29 13:35] fcakyon commented on #422
@devil1213 can you be more specific on your question please?

[2022-03-29 13:37] fcakyon commented on #421
@saidineshpola are you providing `--export_visual` arg to `sahi predict` command? By default it wont export the prediction visuals.

[2022-03-29 13:45] fcakyon commented on #420
@claudio9russo7 you can export coco result json file by providing dataset json to the predict command: https://github.com/obss/sahi/issues/356

[2022-03-29 13:47] saidineshpola commented on #421
No, I didn't include `--export_visual` arg. In fact, I'm looking for predictions in json format. It didn't even make make predictions in the output file, so I used your single-image inference to make predictions for a folder containing images.

[2022-03-29 13:47] fcakyon commented on #419
@Guttappa1238 Yolov5DetectionModel does not have `hide_labels` and `hide_conf` parameters, can you be more specific on what your issue is?

[2022-03-29 17:27] claudio9russo7 commented on #420
Yep, solve my issue, I just want to suggest adding a possible choice of export format like .json or .txt :D

[2022-03-30 02:24] devil1213 commented on #422
I downloaded the yolov5 source code on github and trained the model. How can I add your proposed SAHI to the YOLv5 source code! thank you for your reply!

[2022-03-30 08:08] fcakyon commented on #422
@devil1213 after training your yolov5 model, follow this tutorial to perform `sahi+yolov5` inference: https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb

[2022-03-30 08:09] fcakyon commented on #420
@claudio9russo7 noted it, will look into that feature when I find some time 🚀

[2022-03-30 08:09] #420 closed

[2022-03-30 08:09] #409 closed

[2022-03-30 08:10] #377 closed

[2022-03-31 16:20] bijonguha opened #425 "Need help for making prediction through mxnet model"
Can we please inetgrate prediction using mxnet models ?

[2022-04-01 07:16] youngjae-avikus opened #426 "Is the sahi input form array for yolov5 forward?"
Hello
Can you tell me why it's not Torch but numpy?
Is it possible if it's np input?

[2022-04-01 07:28] youngjae-avikus commented on #426
Ah because of `AutoShape` default True

What is the difference between AutoShape and basic yolov5 modules?

Thank you!

[2022-04-02 18:36] asluborski98 opened #427 "Running on yolov4 wrapper gives error"
Hello - I am getting error when trying to run with my custom yolov4 model

I am running with code from this discussion: https://github.com/obss/sahi/issues/139

I am running this part in my Colab
[code]
Here is the error:
[code]

Here is my model.py updated with YoloV4 wrapper
[code]

If someone could help figure this out, thank you!

[2022-04-03 18:57] #422 closed

[2022-04-03 18:57] #419 closed

[2022-04-03 18:58] #421 closed

[2022-04-03 18:58] fcakyon commented on #425
@bijonguha currently mxnet models are not supported but we are open to PRs 🚀

[2022-04-04 01:40] Linaom1214 commented on #427
this is clear. let this function return a list.
[code]
 you can change  this function
[code]

[2022-04-04 02:26] asluborski98 commented on #427
changing the function to that still gives me this error
[code]

I try changing code but still cannot get to work it seems all ok

[2022-04-04 03:50] Linaom1214 commented on #427
**AttributeError: 'NoneType' object has no attribute 'CLASSES'**  !!!!! be careful

[2022-04-04 07:23] bit-scientist commented on #414
@YiguanLiao hi, how did you exactly divide your images? You said into 4 parts, is it 4 images of 540x960? Could you share your insights about this very topic please? Thanks.

[2022-04-04 07:25] fcakyon commented on #427
@asluborski98 this error means you are not able to initialize the model. You have to be sure you are properly loading the weights from the given path.

[2022-04-04 19:13] HoopsMcann opened #429 "Eval json does not match Coco results"
Here is the coco results from running `sahi evaluate`:

` Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=500 ] = 0.506
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=500 ] = 0.780
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=500 ] = 0.531
 Average Precision  (AP) @[ IoU=0.50      | area= small | maxDets=500 ] = 0.723
 Average Precision  (AP

[2022-04-05 18:58] farawayeast opened #430 "The output is empty when batch processing"
hello
According to the provided tutorial, for a single image processing, the output is normal, when batch processing, the file can be detected, and the progress bar also shows the processing of the image, but the output folder /runs/predict/exp is empty. how can I solve this problem?

[2022-04-05 19:50] fcakyon commented on #430
Hello @farawayeast, thanks a lot for pointing that out! You have to add `export_visual=True` for `predict` function as:

[code]

We will fix the notebooks in the following days :+1:

[2022-04-05 20:04] fcakyon opened #431 "whats is NMM and IOS?"
In the [paper](https://arxiv.org/abs/2202.06934) we only utilized standard NMS and IOU. The NMM and IOS will be discussed in a follow-up paper.

For now you can consider NMM as non-maximum merging, in other words, it merges the lower scored box instead of suppressing it as in NMS. It is useful when the model confidence threshold is large (as 0.3 to 0.5) and the predictions are confident. It merges

[2022-04-05 20:43] fcakyon commented on #426
We wanted `sahi` to work independent from torch thats why all detectors accept numpy or str as image input 👍

[2022-04-05 20:44] fcakyon commented on #426
You should ask the yolov5 related questions in ultralytics/yolov5 repo 🚀

[2022-04-06 04:41] bit-scientist opened #432 "How to annotate images with small objects?"
First of all, thank you a lot for this practical repo, it is quite wonderful.

I have a dataset of images collected using a camera and the task is to detect defects on industrial fabric surface. As it turns out, the size of almost all defects are very small compared to the image size. (around 40x40, even 20x20). However, I don't know how I should do the annotation. I reviewed the tutorials and som

[2022-04-06 17:29] Anis-kabli opened #433 "Can we deploy this on AWS ?"
I tested your solution on my local machine, but I wonder if it's possible to put this on production

[2022-04-06 22:25] fcakyon commented on #432
Hello @bit-scientist, thanks for your interest in `SAHI`!

You use `SAHI` in 2 settings:
1. Dont annotate smaller objects in the dataset, perform standard fine-tuning (without any crop augmentation), then perform slicing aided inference
2. Annotate each small object in the dataset, perform slicing aided fine-tuning (with some crop augmentation), then perform slicing aided inference

1st and 2nd se

[2022-04-06 22:26] #426 closed

[2022-04-06 22:31] fcakyon commented on #414
@YiguanLiao @austinmw `sahi` core DetectionModel classes currently support batch inference, however since postprocess runs in a synchronous manner batch inference does not speed up the overall elapsed time. We are working on a new core implementation for asynchronous postprocess so that be can fully benefit from batch inference 👍

[2022-04-06 22:32] #425 closed

[2022-04-07 05:00] asluborski98 commented on #427
Must have been something wrong with my colab path as I got it working locally.

[2022-04-07 05:00] #427 closed

[2022-04-07 09:48] devrimcavusoglu commented on #433
Hi @Anis-kabli. I can see why not. Can you please elaborate any concern you have in mind ?

[2022-04-08 15:27] weypro opened #436 "Support for slices cache"
When I try to perform sliced prediction with the default setting `256*256` (486 slices), the error occurs.
[code]

If I change `256*256` to `512*512` (243 slices), it can work. The size of the sample image is `5500*4000`
My total memory is only 16GB, and I think it is necessary to add the slices cache, in that way the script can deal with even more bigger images without the memory limitations.

[2022-04-09 08:37] youngjae-avikus opened #438 "Currently is it compatible with yolov5 6.1?"
I used sahi with 6.1 temporarily because of the compatible trt model
Fortunately, the `yolov5-pip 6.1` version has become release
But is it compatible with Sahi right now? Thank you.

[2022-04-09 08:38] youngjae-avikus commented on #438
In addition, it was a pity that there was no benchmark for FPS in the paper,
but is there any part that was organized separately?
I'm curious how much margin I can take
Thank you!

[2022-04-09 09:27] fcakyon commented on #436
Hello, @weypro do you have any implementation detail in your mind? Should we lazily generate image patches while performing sliced inference or should we export slices to disk and read them while iterating?

[2022-04-09 10:03] fcakyon commented on #438
Hello @youngjae-aviku, `sahi` package is being automatically tested in daily basis with `yolov5 v6.1.0`: https://github.com/obss/sahi/blob/d58f61099d6f2f592379a7461f730ace21f7b572/.github/workflows/package_testing.yml#L72 we can assume it would be compatible.

[2022-04-09 10:05] fcakyon commented on #410
@kaphleamrit2 @kadirnar what is different in pointrend?

[2022-04-09 13:42] weypro commented on #436
The later seems to be a general solution and easier to be implemented. To be frank, before I skim the code  `slicing.py` , I support this solution.
But after skimming, I find that corner values of each slice are generated by `get_slice_bboxes`.
So I have a sudden inspiration that why we do not use `shallow copy` if we already have the corners that can be interpreted as the array subscripts?
The ke

[2022-04-10 02:12] #438 closed

[2022-04-10 14:17] ingbeeedd opened #441 "Can perform the inference by slicing only the back of the image?"
Hello!
If look at the small vehicles in the example image, there are many small images distributed behind the image
I'd like to apply `sahi` only to the rear horizontal part, is it possible? Is there anything wrong with the post-processing?

What do you think about this because I think it can save time on certain domain images?

Thank you!

[2022-04-10 14:31] fcakyon commented on #441
Hello @ingbeeedd, that's a great question!

Yes, `sahi` supports that!
1. You can crop the region of interest from the original image,
2. then perform sliced inference on that region
3. then project the predicted boxes back to original 2d coordinate space 👍

[2022-04-11 22:36] #433 closed

[2022-04-11 22:36] #432 closed

[2022-04-12 12:04] devrimcavusoglu commented on #436
Hi there, sorry for jumping late. @weypro it sounds a really nice improvement, my only concern was mutation on `image_pil`, but when I re-check the code, there is no mutation. I think we can move forward with this logic. @weypro would you like to draft a PR on this ?

[2022-04-14 00:10] youngjae-avikus opened #444 "Warning ignoring invalid prediction with bbox"
Hello I'm using the improved code, not the original code, but I'm not modifying the slide prediction core part
By the way, the warning appears on the slide dictionary. Is it supposed to appear? Or is there a problem?

**04/14/2022 08:07:08 - WARNING - sahi.model -   ignoring invalid prediction with bbox: [711, 0, 773, 0]**

Thank you!

[2022-04-14 00:13] fcakyon commented on #444
It means either you have implemented a ned detection pipeline incorrectly or your model is predicting invalid boxes. I.e a box shaped `[711, 0, 773, 0]` is predicted which is invalid.

[2022-04-14 00:15] youngjae-avikus commented on #444
So, is it right that my code is wrong?

[2022-04-14 01:11] youngjae-avikus commented on #444
@fcakyon

The reason for the revision was that the yolov5 model currently supports only the form of "AutoShape" without supporting "DetecMultiBackend"  If turn off the `autoshape`, an error occurs

[code]

![image](https://user-images.githubusercontent.com/99321359/163294432-78a9aa7c-32ea-46c7-a041-65820a884c91.png)

[2022-04-14 01:15] fcakyon commented on #444
@youngjae-avikus i am the maintainer of the [yolov5 package](https://github.com/fcakyon/yolov5-pip). I am open for new ideas to implement in the yolov5 package. Can you explain the issue a bit more detailed? Why do you want to turn off autpshape? What is the disadvantage of autoshape?

[2022-04-14 02:17] youngjae-avikus commented on #444
@fcakyon

First of all, can you sahi as an tensorrt engine file from the type loaded with `Autoshape`?

[2022-04-14 02:21] fcakyon commented on #444
@youngjae-avikus yes, yolov5 can load tensorrt engine models in `AutoShape` mode. If you are having any errors loading tensorrt engine models with `Autoshape=True`, then open an issue in [yolov5 repo](https://github.com/fcakyon/yolov5-pip) and I will fix it.

[2022-04-14 07:07] youngjae-avikus commented on #444
Ah, but Error below when loading engine from file 'inference_for_yolov5.ipynb'

[code]

![image](https://user-images.githubusercontent.com/99321359/163332360-3294e404-98e2-4de7-a486-f9e44502274e.png)

[2022-04-14 08:31] devrimcavusoglu commented on #436
@weypro Thanks for detailed comment and analysis. My only question here is can't we just refactor and update the code without preserving `merge_after_prediction` ? However, it'd be more solid to proceed with your suggestion just in case, so let's proceed as you said (make it parametric with `merge_during_prediction`). At this point you can draft a PR that we can iterate over.

[2022-04-14 10:05] weypro commented on #436
OK. We can replace `merge_during_prediction` with `merge_buffer_length`.
[code]
Or even we can remove `merge_buffer_length` as the following. It means that `object_prediction_list` is needed to be merged after every prediction.
[code]
The time difference is nearly one second. We can take this solution if the consumption is acceptable. @devrimcavusoglu

[2022-04-14 10:24] devrimcavusoglu commented on #436
@weypro Yes, indeed I meant the latter. To remove the current merging (after) and replacing completely with merging (during prediction) and without making it parametric, but I consider more about if this is the case for all prediction sizes, but I will for now assume that it will never be worse than current in terms of memory, and the trade-off between time is neglible (which is the case). However

[2022-04-14 10:34] fcakyon commented on #436
Which implementation is faster by 1 second?

[2022-04-14 10:35] weypro commented on #436
The former is faster.

[2022-04-14 10:36] fcakyon commented on #436
Applying postprocess at each prediction would affect the overall accuracy (since the merged/suppressed boxes will be different). Have @weypro evaluated the effect of this change in terms of AP?

[2022-04-14 10:37] fcakyon commented on #436
Then maybe we can set the default of the buffer as `inf` so that average user would not face with the time delay.

[2022-04-14 10:38] #441 closed

[2022-04-14 10:45] weypro commented on #436
No. Further research is indeed needed.

[2022-04-14 10:58] fcakyon commented on #436
We can conduct the related research in the pr :+1:

[2022-04-14 11:05] weypro commented on #436
My question is how to express `inf` in Python? `float('inf')` and `Decimal('Infinity')` may need to be avoided because of floating point comparison, or we can ignore the problem and regard `merge_buffer_length` as a floating point number?

[2022-04-14 11:09] devrimcavusoglu commented on #436
I am not supportive for `inf` for a buffer-like implementation, by definition buffer should be finite. Can we instead use, `-1` or `None` type of value as a flag ? @weypro @fcakyon

[2022-04-14 11:20] fcakyon commented on #436
I want the default to stay same as the current implementation (merge after all predictions), at least till we are sure the AP is not decreasing with buffering.

To manage that, default value can be `merge_buffer_length=None` and buffering should be applied when `merge_buffer_length is not None`.

[2022-04-14 11:28] devrimcavusoglu commented on #436
Yes, I'm also not opposed to that, that's why I am also for the buffer implementation. I was just pointing out that `inf` is not a good value to be used along with a buffer, and maybe `None` or `-1` to indicate the default behavior (current).

[2022-04-14 11:53] weypro commented on #436
PR is here. #445

[2022-04-18 09:24] claudio9russo7 opened #446 "Eval json problem, don't show any statistic."
I ran the "predict" command providing the .json file associated with the photos:

!sahi predict  --source /content/drive/MyDrive/ColabNotebooks/WeedNew/Test --dataset_json_path /content/drive/MyDrive/ColabNotebooks/WeedNew/Test/test.json  --model_type yolov5 --model_path /content/drive/MyDrive/ColabNotebooks/WeedNew/weed6.pt --slice_height 640 --slice_width 640 --export_visual --overlap_height_rat

[2022-04-18 09:59] claudio9russo7 commented on #446
Here some images with GT
![Optimized-IMG_20220127_112624](https://user-images.githubusercontent.com/99536010/163792178-2a8ebecb-1754-425d-a231-2918d451f044.png)
![Optimized-IMG_20220127_112641](https://user-images.githubusercontent.com/99536010/163792272-3db2ca40-3ddb-424f-89ef-6cf060f9fc38.png)

[2022-04-18 10:59] fcakyon commented on #446
@claudio9russo7 have you your dataset.json category ids are properly set, see this discussion on how to update your dataset categories: https://github.com/obss/sahi/issues/273#issuecomment-992317552

[2022-04-18 23:00] claudio9russo7 commented on #446
Thanks for the quick reply, I checked as you said. Actually the ids were wrong by 1. I fixed the problem, making them match, but unfortunately the problem persists.
![eval1](https://user-images.githubusercontent.com/99536010/163890269-0101e85a-544e-404a-9b44-7c17d89ea7a6.png)

Training the model I got a mAP of 0.3, and from the photos I see it does a good job. I don't understand these statistics

[2022-04-19 07:21] claudio9russo7 commented on #446
I solved the category_id problem, now I'm sure. As you said it was the only problem, in fact now I have consistent numbers.
Thanks @fcakyon.
![eval2](https://user-images.githubusercontent.com/99536010/163947215-9feedc6e-161b-49c5-9cc4-4cad099732ad.png)

[2022-04-19 07:22] #446 closed

[2022-04-20 18:11] smcs88 opened #447 "Not in the Models Registry"
Hello,

I am trying to perform sliced prediction using "CBRes2Net" from https://github.com/shinya7y/UniverseNet which is based on the format of mmdetection. Is there any option to perform prediction using models which are currently not supported in the original mmdetection?

[2022-04-20 18:14] fcakyon commented on #447
Hello @HarshVardhanGoyal, `sahi` can support any detector following these steps: https://github.com/obss/sahi#contributing

Check this repo on how to implement zero shot object detector with `sahi`: https://github.com/machinelearnear/large-scale-object-detection-with-sahi-detectron2

[2022-04-20 18:18] smcs88 commented on #447
Thank you @fcakyon for the quick response and the support!

[2022-04-20 18:18] #447 closed

[2022-04-21 11:23] claudio9russo7 commented on #371
@tureckova If the images you posted refer to the same mask, I see that there is a different category_id, maybe the problem is that.

[2022-04-21 14:24] youngjae-avikus opened #448 "Why does large detection performance decrease when image size is increased?"
Hi!
Thank you for your contribution first
The test image size is 1280x720 video When I first made standard prediction 640, sliding 640x640, the objects that were close to me were well caught, but the things that were far away were appear fluctation
So I did standard prediction 1280, sliding 640x640, but why can not I catch the things that are close to me when I catch the objects that are close and

[2022-04-25 13:53] MarineCao opened #449 "Questions about the IOU parameter setting for AP50 comparison in the paper"
Hello,

I find that you directly load and set the YOLOv5 model  in the code by
[code]
This means that the inference results of YOLOv5 model for each sliced image are NMS processed in the YOLOv5 code, and then the processed results are postprocessed by `GREEDYNMM` or other algorithms.

It seems that you only set the confidence threshold of the YOLOv5  model, while the IOU threshold is the default v

[2022-04-25 14:13] fcakyon commented on #449
Hello @MarineCao, thanks for your interest on our paper.

[In our paper](https://arxiv.org/abs/2202.06934) we dont provide results for yolov5, we provide for FCOS, VFNet and TOOD detectors. We simply use the [predict function](https://github.com/obss/sahi/blob/main/sahi/predict.py)  with `model_type='mmdet'` and iou match threshold as 0.5, postprocess type as NMS.

More detail on the inference par

[2022-04-25 23:37] youngjae-avikus commented on #448
@fcakyon

**Rather, the large object image is 640->1280 and becomes bigger when it is resized, so the performance is adversely affected, right?**
I haven't done a lot of experiments yet, so I'm going to do an experiment and ask you a question

eg. if separate the two models and give them different image sizes, wouldn't the above issues be eased a little?

[code]

Thank you!

[2022-04-26 07:11] #449 closed

[2022-04-27 00:06] totoadel opened #450 "How to use Web Cam + yolov5+sahi"
How to use Web Cam + yolov5+Sahi

[2022-04-27 00:09] fcakyon commented on #450
Hello @totoadel ! `sahi` currently dont have webcam support included but we are working on video support: https://github.com/obss/sahi/pull/442

[2022-04-27 00:14] totoadel commented on #450
@fcakyon why?
it work with loop of images, what is the different between loop of images an frames from webcam

[2022-04-27 01:25] fcakyon commented on #450
I mean `sahi` can support it but the implementation is not present at the moment. Feel free to open a PR for the camera feed support 👍

[2022-04-27 01:25] #448 closed

[2022-04-27 01:30] fcakyon commented on #444
@youngjae-avikus this error should be fixed with this PR: https://github.com/fcakyon/yolov5-pip/pull/108

[2022-04-27 01:34] totoadel commented on #450
@fcakyon thank you.
please how to get any information of detected image, like count of detected classes or its name

[2022-04-28 14:34] kalfasyan opened #452 "Error trying to slice coco dataset using CLI"
I tried to slice my image dataset using your CLI:
[code]
I get the error: ```AssertionError: you must provide a bbox or polygon``` from coco.py l:188.
Is that coming from an image that doesn't have a bounding box and isn't that a "negative sample" that should be ignored? Removing the `--ignore_negative_samples` didn't seem to have an effect.

[2022-04-29 08:51] kalfasyan commented on #452
I saw it was solved in [fix annotation dict without segmentation #374
](https://github.com/obss/sahi/pull/374#issue-1124688769) and I had an older version. Closing this issue.

[2022-04-29 08:51] #452 closed

[2022-04-29 09:47] fcakyon commented on #452
@kalfasyan good to hear that! Feel free to open issues if you face another problems 👍

[2022-04-29 22:35] hubery1619 opened #454 "There is no result in run/predict folder"
Hi, after the following command:
sahi predict --no_sliced_prediction --model_type yolov5 --source tests/data/coco_utils/terrain1.jpg --model_path tests/data/models/yolov5/yolov5s6.pt --image_size 320

I could not see the generated image in run/predict although it could run successfully without error.

[2022-04-30 11:10] spatiallysaying commented on #454
I get a similar issue with CLI version.

`!sahi predict --source /content/Geotiff/ --model_type detectron2 --model_path /content/output/model_final.pth  --slice_height 512 --slice_width 512`

This info shows 100% inference.
[code]

However,  '/content/runs/predict/exp' folder is empty

[2022-04-30 11:14] spatiallysaying opened #455 "Batch Prediction Not working"
I have followed the notebooks script for batch prediction of my custom Detectron2 segmentation model.

[code]

[code]

**Error Below**
There are 1 listed files in folder: Geotiff/
/content/output/model_final.pth not available in Model Zoo!

---------------------------------------------------------------------------

RuntimeError                              Traceback (most recent call last)

[/usr

[2022-04-30 11:26] spatiallysaying opened #456 "Sliced folder to image"
This is not an issue. A request to include a sample for constructing an image from sliced images folder.

The below snippet from you [article ](https://medium.com/codable/sahi-a-vision-library-for-performing-sliced-inference-on-large-images-small-objects-c8b086af3b80) slices a given image. Could you share a snippet for reverse process.
[code]

[2022-04-30 11:30] fcakyon commented on #454
Hello @spatiallysaying you have to add `--export_visual` argument if you want to see the prediction visuals. Ccheck CLI docs for more detail: https://github.com/obss/sahi/blob/main/docs/cli.md#predict-command-usage

[2022-04-30 11:34] fcakyon commented on #455
@spatiallysaying you cannot provide `model_config_path` as a model path. It has to be either a `.yaml file` or it should be `None`. Check the blogpost for mode detail on how do load Detectron2 models: https://medium.com/p/37063e33073f

[2022-04-30 13:58] fcakyon commented on #450
You can get these info from the `object_prediction_list`;

[code]

[2022-04-30 13:59] fcakyon commented on #450
Check demo notebooks for more detail: https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb

[2022-05-02 12:08] #450 closed

[2022-05-02 12:08] #454 closed

[2022-05-02 12:09] #455 closed

[2022-05-05 15:07] austinmw commented on #414
@fcakyon Hey, just curious, is this speed improvement planned for the next release or later down the road?

[2022-05-05 19:29] fcakyon commented on #414
This major upgrade is not planned for a near release but other speed improvements are planned in the next few releases @austinmw

[2022-05-07 23:18] fcakyon opened #457 "Video inference support is live :rocket:"
Starting from v0.9.3, `sahi` brings full support for sliced/standard inference for video input format for all MMDetection/Detectron2/YOLOv5 models :fire:

- Just give video file as source:

[code]

You can also view video render during video inference with `--view_video`:

[code]

- To `forward 100 frames`, on opened window press key `D `
- To `revert 100 frames`, on opened window press key `A`
-

[2022-05-08 11:23] fcakyon commented on #401
@zxq309 sahi v0.9.3 brings video inference support for all Detectron2/MMDetection/YOLOv5 models! Check https://github.com/obss/sahi/releases/tag/0.9.3

[2022-05-16 02:15] saintrealchoi opened #463 "config_path on Error Analysis Plots & Evaluation"
First of all, Thanks for your amazing framework.

on below code

[code]

I think options `config_path` should be changed `model_config_path`.

Sincerely,
Sungjin

[2022-05-16 06:51] fcakyon commented on #463
@saintrealchoi thanks a lot for mentioning this issue! I have updated the type in this post: https://github.com/obss/sahi/issues/356#issue-1101552018

[2022-05-16 11:34] saintrealchoi commented on #463
@fcakyon Thx!!

[2022-05-16 11:34] #463 closed

[2022-05-26 07:59] Grenaf commented on #431
Looking forward to the effect of NMM and IOS about smaller region in your new paper，your first paper is very interesting！

[2022-05-30 22:41] fcakyon commented on #378
@vgthengane you can use `sahi` with `.onnx` and `.torchscript` yolov5 weight files.

You can try to slice the dataset and perform fine-tuning with that sliced dataset, then use sahi+yolov5 for increased small object detection performance :+1:

[2022-05-30 22:41] #378 closed

[2022-05-30 22:43] fcakyon commented on #429
Hello @HoopsMcann, currently recall metrics are not exported into eval json, you can open a PR if you need that feature :+1:

[2022-05-30 22:43] #429 closed

[2022-05-30 22:44] fcakyon commented on #418
@AndrewGuo0930 `sahi` currently doesn't support multi GPU inference, we are open to any PR on that :)

[2022-05-30 22:44] #418 closed

[2022-05-30 22:47] fcakyon commented on #430
`export_visual=True` behavior is replaced with `novisual=False` behavior.

Default is `novisual=False` and will export visuals. To omit visual export add `--novisual` argument or set `novisual=False`.

[2022-05-30 22:47] #430 closed

[2022-05-30 22:47] #436 closed

[2022-05-30 22:48] fcakyon commented on #456
Hello @spatiallysaying, what do you mean by the `reverse process`? Why do you need to combine sliced images (you already have the original one since you sliced it)

[2022-06-02 14:28] Parth-Rawri opened #473 "Modification needed to output specific classes"
Hi, how can I output specific classes? I only want the model to predict people and cars.

[2022-06-02 15:40] #473 closed

[2022-06-10 21:36] kadirnar commented on #410
Hi @kaphleamrit2,

Paste this code on line [551](https://github.com/obss/sahi/blob/main/sahi/model.py#L551).

[code]
Then you need to download these files and edit the file path.
- [Base-RCNN-FPN.yaml](https://raw.githubusercontent.com/facebookresearch/detectron2/main/configs/Base-RCNN-FPN.yaml)
- [Base-PointRend-RCNN-FPN](https://raw.githubusercontent.com/facebookresearch/detectron2/main/projects

[2022-06-13 22:22] kadirnar opened #476 "Are there different methods to add models?"
Merhabalar,

SAHI kütüphanesinin farklı algoritmalarla nasıl çalıştığını test etmek istiyorum. Model.py dosyasında işlem yapmadan gelen score,bbox,category_name, category_id değerlerini ObjectPrediction fonksiyonun içinde tanımlamak yeterli mi?

[Dethub](https://github.com/kadirnar/dethub/blob/main/dethub/model.py#L56-L66) bu projede istenen değişkenleri bir sözlükte tutuyorum. En basit şekilde SA

[2022-06-14 07:11] fcakyon commented on #476
Merhaba Kadir,

Farkli algoritmalardan kastettigin nedir, detaylandirabilir misin? Obje tespit modelleri mi?

Test etmek istedigin sey nedir bir de, biraz acabilir misin? Sliced inference sonuclari mi? Standard inference sonuclari mi? Evaluation sonuclari mi? Gorsellestirmeler mi?

[2022-06-14 09:56] kadirnar commented on #476
SAHI'nin desteklemediği nesne tespit modelleri(Tfhub,NanoDet,scaled-yolov4...) ve takip algoritmalarını test etmek istiyorum.

[DeepSort][https://github.com/kadirnar/Yolo-Deepsort/blob/main/track.py#L194] burada deepsort çıktıları mevcut. Bunu SAHI'ye aktardığımızdaki Sliced inference sonucunu performansı ölçmek istiyorum. Daha stabil ve yüksek doğruluklu bir sonuç alıp alamayacağımı test etmek is

[2022-06-14 14:13] kadirnar commented on #476
Cevabınız için teşekkür ederim.

[2022-06-14 14:13] #476 closed

[2022-06-15 09:03] #456 closed

[2022-06-16 09:17] AliButtarPG opened #478 "GPU not working for Detectron2 - Needs changing 'cpu' to 'cuda' inside config.json"
GPU wasn't working for predictions made using SAHI even though I was using `device` as `cuda`. I thought this setting would override the setting inside the configuration file regardless of whatever it was but once I changed the device to `cuda` inside the config.json then it worked like a charm.

Something you could fix in the next iteration maybe. Thanks for the amazing tool.

[2022-06-16 09:40] AliButtarPG commented on #478
Hi @fcakyon,

Sorry for not providing details, wasn't sure what more to write.

1. I did set `config_path` param and just gave path to the config of my custom model
2. Yes I set the `device` param as cuda like this:
[code]
3. Yes, until I changed the `device` param to cuda directly inside the `config.json`

[2022-06-16 09:59] fcakyon commented on #478
This PR should fix this issue: https://github.com/obss/sahi/issues/478

[2022-06-16 11:14] #478 closed

[2022-06-16 11:29] AliButtarPG opened #480 "Saving Video Inference Results and Object Tracking"
Hi,

1. Video Inference runs great and the results when visualized in a video are great too, but how do I access all those inferences in JSON or a pickle file. I did `export_pickle = True` but the generated pickle file doesn't have all the instances. Is it only for the last frame of the video?

3. My main problem is counting hundreds of small objects shot in a video, is there any tracking function

[2022-06-16 11:56] fcakyon commented on #480
You found a bug in pickle export when input is a video! This PR should fix the issue: https://github.com/obss/sahi/pull/481

Can you please uninstall sahi:
```pip uninstall sahi```

Install sahi from branch:
```pip install git+htpps://github.com/obss/sahi@fix-pickle-export-for-video```

Then try again and check if frame-based pickle export is working?

[2022-06-16 11:57] fcakyon commented on #480
Currently, SAHI does not include any built-in tracking function, but you should be able to integrate any tracker easily.

[2022-06-16 12:14] fcakyon opened #482 "create demo notebook for AutoDetectionModel.from_layer() method"
using yolov5 models from [this project](https://app.layer.ai/layer/yolov5-object-detection?tab=assets) or [that project](https://app.layer.ai/layer/yolov5)

[code]

[2022-06-16 12:40] AliButtarPG commented on #480
Thank you for the lead. I will look into it.

[2022-06-16 12:40] #480 closed

[2022-06-16 22:23] #381 closed

[2022-06-17 08:24] fcakyon opened #490 "deprecate legacy image_size parameter"
https://github.com/obss/sahi/blob/268da8dc63fdf6f0313570b423b297b04617e00e/sahi/predict.py#L54

https://github.com/obss/sahi/blob/268da8dc63fdf6f0313570b423b297b04617e00e/sahi/predict.py#L84

https://github.com/obss/sahi/blob/268da8dc63fdf6f0313570b423b297b04617e00e/sahi/predict.py#L128

https://github.com/obss/sahi/blob/268da8dc63fdf6f0313570b423b297b04617e00e/sahi/predict.py#L190

https://github

[2022-06-17 08:26] fcakyon opened #491 "bring back python 3.6 support"
pybboxes should bring python3.6 support: https://github.com/devrimcavusoglu/pybboxes/pull/13

[2022-06-17 08:29] fcakyon opened #492 "update asserts with raise+error"
https://github.com/obss/sahi/search?p=2&q=%22assert+%22

[2022-06-18 09:47] fcakyon opened #496 "add up-to-date version check"
similar https://github.com/layerai/sdk/pull/132/files#diff-426a180850b403bff42ebbd7a7b940f27c0ac3830ed4a9b72aa8b13581c1c829

[2022-06-18 09:56] #275 closed

[2022-06-18 10:21] #490 closed

[2022-06-18 10:28] fcakyon opened #497 "refactor demo notebooks by utilizing newly introduced AutoDetectionModel"
https://github.com/obss/sahi/blob/main/demo/inference_for_detectron2.ipynb
https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb
https://github.com/obss/sahi/blob/main/demo/inference_for_mmdetection.ipynb
https://github.com/obss/sahi/blob/main/demo/inference_for_huggingface.ipynb

Instead of:
[code]
Replace with this:
[code]

for all demo notebooks.

[2022-06-18 13:20] #410 closed

[2022-06-18 19:11] fcakyon opened #500 "SAHI Python 3.6 Support Details"
We are bringing back Python 3.6 support with https://github.com/obss/sahi/pull/489 but HuggingFace and Layer.ai features are only available for Python >=3.7

[2022-06-18 19:11] #500 closed

[2022-06-18 19:11] #491 closed

[2022-06-19 08:50] #492 closed

[2022-06-22 09:19] fcakyon opened #505 "pybboxes dependency is missin in conda"
@devrimcavusoglu we need to add pybboxes to conda-forge to fix sahi+conda build/installation errors: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=525030&view=logs&j=656edd35-690f-5c53-9ba3-09c10d0bea97&t=e5c8ab1d-8ff9-5cae-b332-e15ae582ed2d

[2022-06-25 17:40] ishworii commented on #497
I would like to help with this issue.

[2022-06-25 18:02] fcakyon commented on #497
@ishworii awesome! after this PR you are free to open a PR :rocket:

Now instead of `AutoDetectionModel.from_local(`, it will be `AutoDetectionModel.from_pretrained(` :+1:

[2022-06-25 20:40] fcakyon commented on #505
opened a pr to add pybboxes into conda-forge :100: https://github.com/conda-forge/staged-recipes/pull/19424 @devrimcavusoglu

[2022-06-26 11:36] ishworii commented on #497
Only this notebook
https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb
has the mentioned import. So, I guess I will change only this?

[2022-06-26 12:31] fcakyon commented on #497
@ishworii not only that, for instance detectron2 notebook has `Detectron2DetectionModel ` which should be replaced with

[code]

of torchvision notebook has `TorchVisionDetectionModel` which should be replaced with

[code]

[2022-06-26 12:33] fcakyon commented on #497
`AutoDetectionModel` is the new, updated, prefered and easier way of loading models :) So it would be better to update the notebooks accordingly 👍

[2022-06-27 06:15] kiki4488 commented on #457
Hello, we were trying to do object detection task with video file. But we followed your command but it didn't work well. For example, we put a video file, new video was created. we checked that file, not have detected box.

When we used yolov5's video detected module, that did work well...

How to use yolov5+Sahi for video ?

[2022-06-27 07:24] fcakyon commented on #457
@kiki4488 can you write your parameters and code used for inference?

[2022-06-27 08:53] kiki4488 commented on #457
@fcakyon
# set detection model
detection_model = Yolov5DetectionModel(
    config_path='../config/coco.yaml',
    model_path='../model/best.pt',
    confidence_threshold=0.3,
    device="cuda:0", # or 'cuda:0'
)

# prediction for video
predict(
    detection_model = detection_model,
    source='../data/test/test_2.mp4',
    slice_height=256,
    slice_width=256,
    overlap_height_ratio=0.2,
    o

[2022-06-28 00:36] kiki4488 commented on #457
@fcakyon our video's width is 528 , and height is 888
Is there a problem with the size?
The video is copyrighted, I'm so sorry..

[2022-07-06 09:50] xiaohui0225 opened #517 "Questions about splitting patches"
Hello, where is the program for dividing the image into patches? Where is the program to restore each patch detection result to the original large image?Thanks！

[2022-07-13 08:09] youngjae-avikus opened #519 "What does segment mask mean in ObjectPrediction class?"
Mask merge is also done in the code below,
is there a case where a mask is provided in the object detection task?
Is this used for multimodal tasks?

https://github.com/obss/sahi/blob/095b1e74e7bc1abe9ebbc10eeb5a2e0bd4a8ae0e/sahi/postprocess/utils.py#L193-L216

[2022-07-13 08:20] youngjae-avikus commented on #519
In addition, wouldn't `merge_ind_list` need to be sorted in descending order once before the for statement action?

https://github.com/obss/sahi/blob/095b1e74e7bc1abe9ebbc10eeb5a2e0bd4a8ae0e/sahi/postprocess/combine.py#L518-L529

[2022-07-13 08:51] lchunleo opened #520 "Question about integrating sahi in yolov5"
Hi
 Thanks for sharing the great work. However, i wish to know how can i integrate the sahi as part of the yolov5 inference? in the example e.g. for the yolov5, it seem that it is working outside of the yolov5. my wish is to have a real time video stream that comes in and then using the sahi to do the small object detection with yolov5.

And if the model is trained with the standard method (withou

[2022-07-14 13:57] fcakyon commented on #519
Hello @youngjae-avikus, SAHI framework currently supports the instance segmentation models in MMDetection. These mask merging operations are only used in instance segmentation models (not used in object detection models).

[2022-07-14 14:09] fcakyon commented on #517
Hello @xiaohui0225, here are the slicing related utilities: https://github.com/obss/sahi/blob/main/docs/slicing.md
This function automatically slices image, performs predictions and combines back: https://github.com/obss/sahi/blob/095b1e74e7bc1abe9ebbc10eeb5a2e0bd4a8ae0e/sahi/predict.py#L118

[2022-07-15 00:25] #519 closed

[2022-07-15 09:07] fcakyon commented on #505
pybboxes is not available at conda 🚀

[2022-07-17 13:46] wgq18 opened #522 "sahi predict error"
I use command
 'sahi predict --source small-vehicles1.jpeg --model_type yolov5 --model_path yolov5s.pt --export_visual --no_standard_prediction --slice_height 640 --slice_width 640 --model_confidence_threshold 0.4  --model_device cpu'
 to detect images but get error
''anaconda3/envs/sahi_yolov5/lib/python3.7/site-packages/torch/cuda/__init__.py", line 214, in _lazy_init
    torch._C._cuda_init()
R

[2022-07-17 13:50] fcakyon commented on #522
@wgq18 have you tried prediction with gpu as `--model_device cuda:0'`

[2022-07-17 13:56] wgq18 commented on #522
When I use
'sahi predict --source small-vehicles1.jpeg --model_type yolov5 --model_path yolov5s.pt --export_visual --no_standard_prediction --slice_height 640 --slice_width 640 --model_confidence_threshold 0.4  --model_device cuda:0'
My terminal halt and output nothing.
I use ctrl+C, then get
'Traceback (most recent call last):
  File "/home/wangpo/anaconda3/envs/sahi_yolov5/bin/sahi", line 8, in

[2022-07-17 14:42] wgq18 commented on #522
I want to know what's your python, pytorch and cuda version? Thank you.

[2022-07-17 19:10] fcakyon commented on #522
@wgq18 adviced installations steps are given in https://github.com/obss/sahi#installation

<summary>
<big><b>Installation details:</b></big>
</summary>

- Install `sahi` using pip:

[code]

- On Windows, `Shapely` needs to be installed via Conda:

[code]

- Install your desired version of pytorch and torchvision:

[code]

- Install your desired detection framework (yolov5):

[code]

- Install your

[2022-07-17 19:11] fcakyon commented on #522
What is your SAHI version?

[2022-07-17 23:17] wgq18 commented on #522
sahi version 0.10.1, yolov5 version 6.1.6.

[2022-07-17 23:20] wgq18 commented on #522
I only use yolov5. So mmdet, detectron2 and huggingface is not needed, right?

[2022-07-18 17:33] fcakyon commented on #522
You are right 👍

[2022-07-18 20:05] #520 closed

[2022-07-19 14:36] wgq18 commented on #522
Have you tested the lastest sahi on cuda11.1? My cuda is 11.1, but your guide is 11.3. So can you give me an example about running sahi on cuda11.1?

[2022-07-19 22:54] lchunleo commented on #520
thanks @fcakyon for replying. oh, i meant by that statement, "seem working outside of yolov5"   to using yolov5 as a cli instead of inside the code. i might be wrong, since you have pointed out, let me do a check on the model.py to get better understanding. Thank you for your reference.

[2022-07-20 03:25] monkeycc opened #523 "Can PCB be detected"
![1111](https://user-images.githubusercontent.com/6490927/179889638-a8ca2087-0ba0-4589-8d60-126ce94806b3.jpg)

9000*9000
Can PCB be detected

Need detection

Resistor chip
Whether it exists
Whether there are defects

[2022-07-20 07:30] fcakyon commented on #523
Here is what you can do:
1. annotate defect/chip boxes in coco format
2. slice coco dataset
3. train yolov5/mmdetection detector on sliced dataset
4. perform sahi inference using your trained model and preferred slice size

[2022-07-20 07:31] fcakyon commented on #520
sahi uses yolov5 inside the code. Check this notebook for using yolov5 with sahi: https://github.com/obss/sahi/blob/main/demo/inference_for_yolov5.ipynb

Here is the source code for yolov5 in sahi if you want it: https://github.com/obss/sahi/blob/91a0becb0d86f0943c57f966a86a845a70c0eb77/sahi/model.py#L372

[2022-07-21 07:57] monkeycc opened #524 "sahi coco yolov5 Label class 3 exceeds nc=3 . Possible class labels are 0-2"
[code]

[code]

**exp/data.yml**
[code]

nc: 3
Why prompt error

txt
Label class  ID
1-3

yolov5 Is it ID 0-3 ?
But I don't know how to adjust it
It is not clear whether this problem caused

[2022-07-22 01:43] monkeycc opened #525 "sahi coco yolov5 , list index out of range"
`https://github.com/obss/sahi/issues/524`
Because there is a problem
I don't know how to solve it
So only data sets can be excluded
Is there a problem
As expected, abnormal conditions were found

`sahi coco yolov5 --image_dir D:\sahi\demo\demo_data\runs\slice_coco\PCB_COCO_images_640_02 --dataset_json_path D:\sahi\demo\demo_data\runs\slice_coco\PCB_COCO_640_02.json  --train_split 0.9`

labelImg
ex

[2022-07-22 01:58] #523 closed

[2022-07-22 10:17] fcakyon commented on #525
@monkeycc you have to update your annotations so that minimum category id is 0.

[2022-07-22 10:19] fcakyon commented on #524
Your annotations ids are incorrect. Yolo requires category ids as 0-2. It says in the error you posted.

[2022-07-22 17:36] seekingdeep opened #526 "Segmentation fault (core dumped)"
Peace be upon you

When running Sahi
[code]

steps to recreate:
[code]

Note:
- python 3.9 i even tried python 3.7
- sahi 0.10.1
- pytorch=1.10.2 torchvision=0.11.3 cudatoolkit=11.3
- yolov5 6.1.6

[2022-07-22 23:44] monkeycc commented on #524
LabelImg
annotations ids
0-2

but
sahi coco yolov5 --image_dir D:\sahi\demo\demo_data\sliced --dataset_json_path D:\sahi\demo\demo_data\sliced\sliced_coco.json_coco.json  --train_split 0.9

Sahi conversion automatically increases by 1
id + 1

annotations ids
1-3

How to solve Sahi automatic adding 1

Convert to coco format
Coco format leads to?

[2022-07-23 13:07] fcakyon commented on #524
This is not true.

Can you please upload `LabelImg` annotation file?

[2022-07-23 13:09] fcakyon commented on #526
Can you please paste here the full error trace?

[2022-07-23 13:10] #525 closed

[2022-07-23 13:11] fcakyon commented on #522
I currently dont have the time to test it in cuda11.1, maybe @devrimcavusoglu could try to recreate it if he has the time

[2022-07-23 16:30] monkeycc commented on #524
MyDataset/
|--PCB_COCO_images_640_02_VOC/  # LabelImg
|  |--1.jpg
|  |--1.txt
|  |--2.jpg
|  |--2.txt
|  |--...
|  |--...
|
|--runs/
|----coco2yolov5/   #    sahi coco yolov5 ....  slice_coco
|----slice_coco/      #  sahi coco slice  ...  PCB_COCO.json .....
|
|  |--labelimg2COCO.py    # PCB_COCO_images_640_02_VOC  labelimg2COCO
|  |--PCB_COCO.json         # PCB_COCO_images_640_02_VOC  labelimg2CO

[2022-07-23 16:32] fcakyon commented on #524
labelimg2COCO.py adds 1 to category id which is incorrect:

[code]

[2022-07-23 16:33] fcakyon commented on #524
labelimg2COCO.py starts category id from 1 which is incorrect:

[code]

Please write a proper voc to coco conversion script.

[2022-07-24 02:02] wgq18 commented on #522
Thank you for your help, my problem is solved. Now I want to add sahi inference to my yolov7 detector, can you give me tutorial?

[2022-07-24 02:05] wgq18 commented on #526
I met the same problem and find error about 'import torch'. I added 'import torch' in the first line of yolov5_sahi.py and solved this problem. But I don't know how to solve this problem when use 'sahi predict' command. @fcakyon

[2022-07-24 07:31] wgq18 commented on #526
I want to add sahi inference to Megvii yolox detector or yolov7 detector, can you give me some guide or demo? Please email 1017892298@qq.com, thank you. @seekingdeep

[2022-07-25 01:05] #524 closed

[2022-07-25 08:02] kadirnar commented on #526
Hi @wgq18 ,

You can run the YOLOX model using the MMDetection library.
YOLOX+ SAHI: https://huggingface.co/spaces/fcakyon/sahi-yolox

To add the Yolov7 library, simply write the inference code.  I combined the Yolov6 model with SAHI.
https://github.com/kadirnar/Yolov6-SAHI/blob/main/sahi/model.py#L1087-L1135

A pip version will be released for yolov7 soon. After the pip version is out, I will add

[2022-07-25 17:22] fcakyon commented on #522
@wgq18 would you mind sharing how you solved your issue?

To add support to new detector, you follow the instructions here: https://github.com/obss/sahi#contributing

[2022-07-25 17:22] #522 closed

[2022-07-26 02:31] wgq18 opened #535 "add sahi to Megvii yolox"
I am working on Megvii yolox to detect small objects, but I find it hard to add sahi to Megvii yolox. Can you update code to wrap sahi to Megvii yolox? I don't like Mmdetection library and their yolox version. Thank you for your help.

[2022-07-26 11:32] msaqib17 commented on #535
I have added the following class to the model for YOLOX but i am getting a lot of False positive for sliced prediction.

class YoloXDetectionModel(DetectionModel):
    def __init__(
        self,
        model_path: Optional[str] = None,
        model: Optional[Any] = None,
        config_path: Optional[str] = None,
        device: Optional[str] = None,
        mask_threshold: float = 0.5,

[2022-07-26 11:55] kadirnar commented on #535
Can you share the results?

[2022-07-26 12:01] karthikloganlogan opened #536 "Labels of the slices are mismatching"
I had a dataset in coco json format. After slicing with sahi , i found out that many labels are wrongly mapped (mismatched).

[2022-07-26 12:06] msaqib17 commented on #535
![prediction_visual__](https://user-images.githubusercontent.com/26396231/181001800-7deda2f0-7b13-4f21-8ccc-0167d8217300.png)

[2022-07-26 12:09] fcakyon commented on #536
Can you provide sample image files and annotation json, your sahi version, the script or command you are using?

[2022-07-26 12:12] msaqib17 commented on #535
If you see the top left side of the above image you will see original predictions. The original predictions are good.

[2022-07-26 12:30] kadirnar commented on #535
Can you test this model?

Orijinal Model File:
https://github.com/Megvii-BaseDetection/YOLOX/releases/download/0.1.1rc0/yolox_m.pth

Image File:
https://github.com/obss/sahi/blob/main/demo/demo_data/small-vehicles1.jpeg

I'm getting good results here.

Mmdet-YOLOX:
https://huggingface.co/spaces/fcakyon/sahi-yolox

[2022-07-26 12:39] msaqib17 commented on #535
ok thanks let me try.

[2022-07-26 13:49] msaqib17 commented on #535
![prediction_visual_slice](https://user-images.githubusercontent.com/26396231/181022076-cc816a95-653d-415d-afc4-da434de9ff28.png)
This is the result of sliced prediction  i am getting

[2022-07-26 13:50] msaqib17 commented on #535
unsliced prediction result
![prediction_visual_no_slice](https://user-images.githubusercontent.com/26396231/181022316-2d27f7fd-743f-49c9-8e7d-9c15b34b84be.png)
s

[2022-07-26 13:51] msaqib17 commented on #535
For me your model is working. I am not sure why my model is not working i will train and try it again. Thanks for the support.

[2022-07-26 14:18] kadirnar commented on #535
Your model is memorizing. You should pay attention to this while training. The better your model, the more successful SAHI will be. You can change SAHI parameters for better results.

https://github.com/obss/sahi/blob/main/sahi/predict.py#L121-L124

My Works:

https://github.com/kadirnar/yolov5-pytorch-sahi
https://github.com/kadirnar/wideryolo

I wish you success in your work.

[2022-07-27 01:19] msaqib17 commented on #535
Thank you Kadir. keep up the amazing work. Yes you are right my model is overfitted.

[2022-07-27 02:50] wgq18 commented on #535
Hello, I tested my weights on your 'model.py' script, but my yolox detection result is wrong. Why category result is wrong? This is yolox output result, sahi_yolox output result and terminal output. @msaqib17
![0000006_00159_d_0000001](https://user-images.githubusercontent.com/58140458/181150100-4ed539ef-8975-4d4f-87e3-bf75214c4bfd.jpg)
![prediction_visual](https://user-images.githubusercontent.co

[2022-07-27 02:52] wgq18 commented on #535
This is my 'model.py' script and 'sahi_yolox_test.py'. Thank you for your help.

[2022-07-27 03:22] msaqib17 commented on #535
Hi @wgq18

Your category mappings are wrong. Just look closely at the output of the model. You have trained your model on ten classes with custom labels(as seen in the output), and you are assigning labels from different COCO classes.

[2022-07-27 07:22] wgq18 commented on #535
You are right. I trained model on ten VOC classes:('pedestrian', 'people', 'bicycle', 'car', 'van', 'truck', 'tricycle', 'awning-tricycle', 'bus', 'motor'). But as you can see, when I use sahi prepocess and postprocess, I could only get 'pedestrian' class in detection result. Why this error happens?